<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cmcu.mcc.oa.dao.OaHardwareMapper">
  <resultMap id="BaseResultMap" type="com.cmcu.mcc.oa.entity.OaHardware">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="equipment_name" jdbcType="VARCHAR" property="equipmentName" />
    <result column="equipment_type" jdbcType="VARCHAR" property="equipmentType" />
    <result column="bank" jdbcType="VARCHAR" property="bank" />
    <result column="model" jdbcType="VARCHAR" property="model" />
    <result column="number" jdbcType="VARCHAR" property="number" />
    <result column="parameter" jdbcType="VARCHAR" property="parameter" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="manager" jdbcType="VARCHAR" property="manager" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="creator_name" jdbcType="VARCHAR" property="creatorName" />
    <result column="is_deleted" jdbcType="BIT" property="deleted" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="process_instance_id" jdbcType="VARCHAR" property="processInstanceId" />
    <result column="is_process_end" jdbcType="BIT" property="processEnd" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from oa_hardware
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cmcu.mcc.oa.entity.OaHardware">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into oa_hardware (equipment_name, equipment_type, bank, 
      model, number, parameter, 
      address, manager, remark, 
      creator, creator_name, is_deleted, 
      gmt_create, gmt_modified, process_instance_id, 
      is_process_end)
    values (#{equipmentName,jdbcType=VARCHAR}, #{equipmentType,jdbcType=VARCHAR}, #{bank,jdbcType=VARCHAR}, 
      #{model,jdbcType=VARCHAR}, #{number,jdbcType=VARCHAR}, #{parameter,jdbcType=VARCHAR}, 
      #{address,jdbcType=VARCHAR}, #{manager,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{creator,jdbcType=VARCHAR}, #{creatorName,jdbcType=VARCHAR}, #{deleted,jdbcType=BIT}, 
      #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}, #{processInstanceId,jdbcType=VARCHAR}, 
      #{processEnd,jdbcType=BIT})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.cmcu.mcc.oa.entity.OaHardware">
    update oa_hardware
    set equipment_name = #{equipmentName,jdbcType=VARCHAR},
      equipment_type = #{equipmentType,jdbcType=VARCHAR},
      bank = #{bank,jdbcType=VARCHAR},
      model = #{model,jdbcType=VARCHAR},
      number = #{number,jdbcType=VARCHAR},
      parameter = #{parameter,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      manager = #{manager,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=VARCHAR},
      creator_name = #{creatorName,jdbcType=VARCHAR},
      is_deleted = #{deleted,jdbcType=BIT},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      process_instance_id = #{processInstanceId,jdbcType=VARCHAR},
      is_process_end = #{processEnd,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, equipment_name, equipment_type, bank, model, number, parameter, address, 
    manager, remark, creator, creator_name, is_deleted, gmt_create, gmt_modified, process_instance_id, 
    is_process_end
    from oa_hardware
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, equipment_name, equipment_type, bank, model, number, parameter, address, 
    manager, remark, creator, creator_name, is_deleted, gmt_create, gmt_modified, process_instance_id, 
    is_process_end
    from oa_hardware
    <include refid="Base_Where_List" />
     order by id desc
  </select>
  <sql id="Base_Where_List">
    <where>
      <if test="id != null">
         AND id = #{id}
      </if>
      <if test="equipmentName != null and equipmentName != ''">
         AND equipment_name = #{equipmentName}
      </if>
      <if test="equipmentType != null and equipmentType != ''">
         AND equipment_type = #{equipmentType}
      </if>
      <if test="bank != null and bank != ''">
         AND bank = #{bank}
      </if>
      <if test="model != null and model != ''">
         AND model = #{model}
      </if>
      <if test="number != null and number != ''">
         AND number = #{number}
      </if>
      <if test="parameter != null and parameter != ''">
         AND parameter = #{parameter}
      </if>
      <if test="address != null and address != ''">
         AND address = #{address}
      </if>
      <if test="manager != null and manager != ''">
         AND manager = #{manager}
      </if>
      <if test="remark != null and remark != ''">
         AND remark = #{remark}
      </if>
      <if test="creator != null and creator != ''">
         AND creator = #{creator}
      </if>
      <if test="creatorName != null and creatorName != ''">
         AND creator_name = #{creatorName}
      </if>
      <if test="deleted != null">
         AND is_deleted = #{deleted}
      </if>
      <if test="gmtCreate != null">
         AND gmt_create = #{gmtCreate}
      </if>
      <if test="gmtModified != null">
         AND gmt_modified = #{gmtModified}
      </if>
      <if test="processInstanceId != null and processInstanceId != ''">
         AND process_instance_id = #{processInstanceId}
      </if>
      <if test="processEnd != null">
         AND is_process_end = #{processEnd}
      </if>
      <if test="q != null and q != '' ">
        AND (
        equipment_name like CONCAT('%',#{q},'%')
        )
      </if>
    </where>
  </sql>
</mapper>