<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cmcu.mcc.oa.dao.OaSoftwareMapper">
  <resultMap id="BaseResultMap" type="com.cmcu.mcc.oa.entity.OaSoftware">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="software_name" jdbcType="VARCHAR" property="softwareName" />
    <result column="software_type" jdbcType="VARCHAR" property="softwareType" />
    <result column="develop_dept" jdbcType="VARCHAR" property="developDept" />
    <result column="funcation_content" jdbcType="VARCHAR" property="funcationContent" />
    <result column="manager" jdbcType="VARCHAR" property="manager" />
    <result column="maintain_dept" jdbcType="VARCHAR" property="maintainDept" />
    <result column="number" jdbcType="VARCHAR" property="number" />
    <result column="price" jdbcType="VARCHAR" property="price" />
    <result column="start_time" jdbcType="VARCHAR" property="startTime" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="creator_name" jdbcType="VARCHAR" property="creatorName" />
    <result column="is_deleted" jdbcType="BIT" property="deleted" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="process_instance_id" jdbcType="VARCHAR" property="processInstanceId" />
    <result column="is_process_end" jdbcType="BIT" property="processEnd" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from oa_software
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cmcu.mcc.oa.entity.OaSoftware">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into oa_software (software_name, software_type, develop_dept, 
      funcation_content, manager, maintain_dept, 
      number, price, start_time, 
      remark, creator, creator_name, 
      is_deleted, gmt_create, gmt_modified, 
      process_instance_id, is_process_end)
    values (#{softwareName,jdbcType=VARCHAR}, #{softwareType,jdbcType=VARCHAR}, #{developDept,jdbcType=VARCHAR}, 
      #{funcationContent,jdbcType=VARCHAR}, #{manager,jdbcType=VARCHAR}, #{maintainDept,jdbcType=VARCHAR}, 
      #{number,jdbcType=VARCHAR}, #{price,jdbcType=VARCHAR}, #{startTime,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR}, #{creator,jdbcType=VARCHAR}, #{creatorName,jdbcType=VARCHAR}, 
      #{deleted,jdbcType=BIT}, #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}, 
      #{processInstanceId,jdbcType=VARCHAR}, #{processEnd,jdbcType=BIT})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.cmcu.mcc.oa.entity.OaSoftware">
    update oa_software
    set software_name = #{softwareName,jdbcType=VARCHAR},
      software_type = #{softwareType,jdbcType=VARCHAR},
      develop_dept = #{developDept,jdbcType=VARCHAR},
      funcation_content = #{funcationContent,jdbcType=VARCHAR},
      manager = #{manager,jdbcType=VARCHAR},
      maintain_dept = #{maintainDept,jdbcType=VARCHAR},
      number = #{number,jdbcType=VARCHAR},
      price = #{price,jdbcType=VARCHAR},
      start_time = #{startTime,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=VARCHAR},
      creator_name = #{creatorName,jdbcType=VARCHAR},
      is_deleted = #{deleted,jdbcType=BIT},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      process_instance_id = #{processInstanceId,jdbcType=VARCHAR},
      is_process_end = #{processEnd,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, software_name, software_type, develop_dept, funcation_content, manager, 
    maintain_dept, number, price, start_time, remark, creator, creator_name, is_deleted, 
    gmt_create, gmt_modified, process_instance_id, is_process_end
    from oa_software
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, software_name, software_type, develop_dept, funcation_content, manager, 
    maintain_dept, number, price, start_time, remark, creator, creator_name, is_deleted, 
    gmt_create, gmt_modified, process_instance_id, is_process_end
    from oa_software
    <include refid="Base_Where_List" />
     order by id desc
  </select>
  <sql id="Base_Where_List">
    <where>
      <if test="id != null">
         AND id = #{id}
      </if>
      <if test="softwareName != null and softwareName != ''">
         AND software_name = #{softwareName}
      </if>
      <if test="softwareType != null and softwareType != ''">
         AND software_type = #{softwareType}
      </if>
      <if test="developDept != null and developDept != ''">
         AND develop_dept = #{developDept}
      </if>
      <if test="funcationContent != null and funcationContent != ''">
         AND funcation_content = #{funcationContent}
      </if>
      <if test="manager != null and manager != ''">
         AND manager = #{manager}
      </if>
      <if test="maintainDept != null and maintainDept != ''">
         AND maintain_dept = #{maintainDept}
      </if>
      <if test="number != null and number != ''">
         AND number = #{number}
      </if>
      <if test="price != null and price != ''">
         AND price = #{price}
      </if>
      <if test="startTime != null and startTime != ''">
         AND start_time = #{startTime}
      </if>
      <if test="remark != null and remark != ''">
         AND remark = #{remark}
      </if>
      <if test="creator != null and creator != ''">
         AND creator = #{creator}
      </if>
      <if test="creatorName != null and creatorName != ''">
         AND creator_name = #{creatorName}
      </if>
      <if test="deleted != null">
         AND is_deleted = #{deleted}
      </if>
      <if test="gmtCreate != null">
         AND gmt_create = #{gmtCreate}
      </if>
      <if test="gmtModified != null">
         AND gmt_modified = #{gmtModified}
      </if>
      <if test="processInstanceId != null and processInstanceId != ''">
         AND process_instance_id = #{processInstanceId}
      </if>
      <if test="processEnd != null">
         AND is_process_end = #{processEnd}
      </if>
      <if test="q != null and q != '' ">
        AND (
        software_name like CONCAT('%',#{q},'%')
        )
      </if>
    </where>
  </sql>
</mapper>