<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cmcu.mcc.ed.dao.EdFileMapper">
  <resultMap id="BaseResultMap" type="com.cmcu.mcc.ed.entity.EdFile">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="business_id" jdbcType="VARCHAR" property="businessId" />
    <result column="attach_id" jdbcType="INTEGER" property="attachId" />
    <result column="file_type" jdbcType="VARCHAR" property="fileType" />
    <result column="file_name" jdbcType="VARCHAR" property="fileName" />
    <result column="seq" jdbcType="INTEGER" property="seq" />
    <result column="is_deleted" jdbcType="BIT" property="deleted" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="creator_name" jdbcType="VARCHAR" property="creatorName" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="cp_file_id" jdbcType="INTEGER" property="cpFileId" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="attach_ids" jdbcType="VARCHAR" property="attachIds" />
    <result column="sign_id" jdbcType="INTEGER" property="signId" />
    <result column="sign_user" jdbcType="VARCHAR" property="signUser" />
    <result column="gmt_sign" jdbcType="TIMESTAMP" property="gmtSign" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ed_file
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cmcu.mcc.ed.entity.EdFile">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into ed_file (business_id, attach_id, file_type,
      file_name, seq, is_deleted,
      creator, creator_name, gmt_create,
      gmt_modified, cp_file_id, remark,
      attach_ids, sign_id, sign_user,
      gmt_sign)
    values (#{businessId,jdbcType=VARCHAR}, #{attachId,jdbcType=INTEGER}, #{fileType,jdbcType=VARCHAR},
      #{fileName,jdbcType=VARCHAR}, #{seq,jdbcType=INTEGER}, #{deleted,jdbcType=BIT},
      #{creator,jdbcType=VARCHAR}, #{creatorName,jdbcType=VARCHAR}, #{gmtCreate,jdbcType=TIMESTAMP},
      #{gmtModified,jdbcType=TIMESTAMP}, #{cpFileId,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR},
      #{attachIds,jdbcType=VARCHAR}, #{signId,jdbcType=INTEGER}, #{signUser,jdbcType=VARCHAR},
      #{gmtSign,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.cmcu.mcc.ed.entity.EdFile">
    update ed_file
    set business_id = #{businessId,jdbcType=VARCHAR},
      attach_id = #{attachId,jdbcType=INTEGER},
      file_type = #{fileType,jdbcType=VARCHAR},
      file_name = #{fileName,jdbcType=VARCHAR},
      seq = #{seq,jdbcType=INTEGER},
      is_deleted = #{deleted,jdbcType=BIT},
      creator = #{creator,jdbcType=VARCHAR},
      creator_name = #{creatorName,jdbcType=VARCHAR},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      cp_file_id = #{cpFileId,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      attach_ids = #{attachIds,jdbcType=VARCHAR},
      sign_id = #{signId,jdbcType=INTEGER},
      sign_user = #{signUser,jdbcType=VARCHAR},
      gmt_sign = #{gmtSign,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, business_id, attach_id, file_type, file_name, seq, is_deleted, creator,
    creator_name, gmt_create, gmt_modified, cp_file_id, remark, attach_ids, sign_id,
    sign_user, gmt_sign
    from ed_file
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select *
    from ed_file
    <include refid="Base_Where_List" />
    order by seq asc
  </select>
  <sql id="Base_Where_List">
    <where>
      <if test="id != null">
         AND id = #{id}
      </if>
      <if test="businessId != null and businessId != ''">
         AND business_id = #{businessId}
      </if>
      <if test="attachId != null">
         AND attach_id = #{attachId}
      </if>
      <if test="fileType != null and fileType != ''">
         AND file_type = #{fileType}
      </if>
      <if test="fileName != null and fileName != ''">
         AND file_name = #{fileName}
      </if>
      <if test="seq != null">
         AND seq = #{seq}
      </if>
      <if test="deleted != null">
         AND is_deleted = #{deleted}
      </if>
      <if test="creator != null and creator != ''">
         AND creator = #{creator}
      </if>
      <if test="creatorName != null and creatorName != ''">
         AND creator_name = #{creatorName}
      </if>
      <if test="gmtCreate != null">
         AND gmt_create = #{gmtCreate}
      </if>
      <if test="gmtModified != null">
         AND gmt_modified = #{gmtModified}
      </if>
      <if test="cpFileId != null">
         AND cp_file_id = #{cpFileId}
      </if>
      <if test="remark != null and remark != ''">
         AND remark = #{remark}
      </if>
      <if test="attachIds != null and attachIds != ''">
         AND attach_ids = #{attachIds}
      </if>
      <if test="signId != null">
         AND sign_id = #{signId}
      </if>
      <if test="signUser != null and signUser != ''">
         AND sign_user = #{signUser}
      </if>
      <if test="gmtSign != null">
         AND gmt_sign = #{gmtSign}
      </if>
      <if test="fileNames != null and fileNames != '' ">
        AND (
        file_name like CONCAT('%',#{fileNames},'%')
        )
      </if>
      <if test="userName != null and userName != '' ">
        AND (
        creator_name like CONCAT('%',#{userName},'%')
        )
      </if>

    </where>
  </sql>

  <select id="listByBusinessId" parameterType="java.lang.String" resultMap="BaseResultMap">
    select * from ed_file where  business_id = #{businessId,jdbcType=VARCHAR} and is_deleted=0 order by file_name
  </select>

  <select id="getOneByBusinessId" parameterType="java.lang.String" resultMap="BaseResultMap">
    select * from ed_file where  business_id = #{businessId,jdbcType=VARCHAR} and is_deleted=0 order by seq asc limit 1
  </select>


  <select id="listIdByCpFile" parameterType="java.lang.Integer" resultType="java.lang.Integer">
    select id from ed_file where is_deleted=0 and cp_file_id=#{cpFileId} and business_id like '%Validate%' order by gmt_create desc
  </select>

</mapper>
