<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cmcu.mcc.ed.dao.EdStepBuildMapper">
  <resultMap id="BaseResultMap" type="com.cmcu.mcc.ed.entity.EdStepBuild">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="step_id" jdbcType="INTEGER" property="stepId" />
    <result column="build_name" jdbcType="VARCHAR" property="buildName" />
    <result column="build_no" jdbcType="VARCHAR" property="buildNo" />
    <result column="seq" jdbcType="INTEGER" property="seq" />
    <result column="is_deleted" jdbcType="BIT" property="deleted" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ed_step_build
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cmcu.mcc.ed.entity.EdStepBuild">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into ed_step_build (step_id, build_name, build_no, 
      seq, is_deleted, gmt_create, 
      gmt_modified, remark)
    values (#{stepId,jdbcType=INTEGER}, #{buildName,jdbcType=VARCHAR}, #{buildNo,jdbcType=VARCHAR}, 
      #{seq,jdbcType=INTEGER}, #{deleted,jdbcType=BIT}, #{gmtCreate,jdbcType=TIMESTAMP}, 
      #{gmtModified,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.cmcu.mcc.ed.entity.EdStepBuild">
    update ed_step_build
    set step_id = #{stepId,jdbcType=INTEGER},
      build_name = #{buildName,jdbcType=VARCHAR},
      build_no = #{buildNo,jdbcType=VARCHAR},
      seq = #{seq,jdbcType=INTEGER},
      is_deleted = #{deleted,jdbcType=BIT},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, step_id, build_name, build_no, seq, is_deleted, gmt_create, gmt_modified, 
    remark
    from ed_step_build
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, step_id, build_name, build_no, seq, is_deleted, gmt_create, gmt_modified, 
    remark
    from ed_step_build
    <include refid="Base_Where_List" />
    order by seq asc
  </select>
  <sql id="Base_Where_List">
    <where>
      <if test="id != null">
         AND id = #{id}
      </if>
      <if test="stepId != null">
         AND step_id = #{stepId}
      </if>
      <if test="buildName != null and buildName != ''">
         AND build_name = #{buildName}
      </if>
      <if test="buildNo != null and buildNo != ''">
         AND build_no = #{buildNo}
      </if>
      <if test="seq != null">
         AND seq = #{seq}
      </if>
      <if test="deleted != null">
         AND is_deleted = #{deleted}
      </if>
      <if test="gmtCreate != null">
         AND gmt_create = #{gmtCreate}
      </if>
      <if test="gmtModified != null">
         AND gmt_modified = #{gmtModified}
      </if>
      <if test="remark != null and remark != ''">
         AND remark = #{remark}
      </if>
    </where>
  </sql>
</mapper>