    <i class="{{vm.template.formIcon}}" ng-if="vm.template"></i>  <span class="caption-subject" ng-bind="vm.template.formDesc" ng-if="vm.template"></span>
    <i class="{{tplConfig.formIcon}}" ng-if="tplConfig&&!vm.template"></i>  <span class="caption-subject" ng-bind="tplConfig.formDesc" ng-if="tplConfig&&!vm.template"></span>
    <small ng-if="!processInstance.myRunningTaskName" ng-bind="processInstance.currentTaskName"></small>
    <small ng-if="processInstance.myRunningTaskName" ng-bind="processInstance.myRunningTaskName" style="color: #35e0e1;"></small>
