
    <div class="page-bar ng-scope" id="pageBar">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a ui-sref="dashboard">首页</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <span>系统管理</span>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <span>附件列表</span>
            </li>
        </ul>
    </div>

    <div class="row col-md-12">
        <div class="portlet blue box">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-lock"></i> 数据列表
                </div>
                <div class="actions">

                    <span id="btnUpload" class="btn btn-sm btn-default fileinput-button">
                            <i class="fa fa-upload"></i>
                            <span>上传文件</span>
                            <input type="file" name="file" id="uploadFile"
                                   multiple accept="*" >
                      </span>
                </div>
            </div>
            <div class="portlet-body">
                <div class="dataTables_wrapper no-footer">
                    <div class="row">
                        <div class="col-md-12">
                            <label>
                                <input type="text" class="form-control input-sm" placeholder="关键字"
                                       ng-model="params.q"/>
                            </label>

                            <a class="btn btn-sm green" ng-click="queryData();"><i class="fa fa-search"></i> 查询 </a>
                        </div>
                    </div>
                    <div class="table-scrollable">
                        <table class="table table-striped table-hover table-bordered table-advance no-footer">
                            <thead>
                            <tr>
                                <th style="width: 50px;">#</th>
                                <th>附件名称</th>
                                <th style="width: 150px">附件大小</th>
                                <th style="width: 80px">创建人</th>
                                <th style="width: 150px">创建时间</th>
                                <th style="width: 50px">操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="item in pageInfo.list">
                                <td ng-bind="$index+pageInfo.startRow"></td>
                                <td ng-bind="item.name"></td>
                                <td ng-bind="item.sizeName"></td>
                                <td ng-bind="item.creator"></td>
                                <td ng-bind="item.gmtCreate|date:'yyyy-MM-dd HH:mm'"></td>
                                <td>
                                    <i class="fa fa-download" ng-click="commonAttachDownload(item.id);"></i>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <my-pager data-page-info="pageInfo" on-load="loadPagedData()"></my-pager>

                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="itemModal">
          <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title margin-right-10">字典详情</h4>

            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form" style="padding-right: 30px;" id="detail_form">
                    <div class="form-body">

                        <div class="form-group">
                            <label class="col-md-3 control-label required">名字</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" ng-model="item.name" required="true"
                                       maxlength="200" name="name" placeholder="">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label required">编码</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" ng-model="item.code" required="true"
                                       maxlength="200" name="code" placeholder="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label required">类别</label>
                            <div class="col-md-9">
                                <select ng-options="s.code as s.name for s in codeCatalogs"
                                        ng-model="item.codeCatalog" class="form-control"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label required">数据类型</label>
                            <div class="col-md-9">
                                <select ng-model="item.codeType" name="codeType" class="form-control" >
                                    <option value="String" >String</option>
                                    <option value="Integer" >Integer</option>
                                    <option value="Long" >Long</option>
                                    <option value="Boolean" >Boolean</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label required">顺序</label>
                            <div class="col-md-9">
                                <input type="number" class="form-control" ng-model="item.seq" required name="seq" placeholder="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label required">默认选项</label>
                            <div class="col-md-9" ng-init="defaultStateList=[{code:true,name:'是'},{code:false,name:'否'}]">
                                <select ng-options="s.code as s.name for s in defaultStateList"
                                        ng-model="item.defaulted" class="form-control"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">备注</label>
                            <div class="col-md-9">
                                <textarea id="maxlength_textarea" ng-model="item.remark" name="remark"  class="form-control" maxlength="225" rows="1" placeholder="">
                                </textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">创建时间</label>
                            <div class="col-md-9">
                                <div class="input-icon right">
                                    <i class="fa fa-clock-o"></i>
                                    <input type="text" class="form-control"
                                           value="{{item.gmtCreate|date:'yyyy-MM-dd HH:mm'}}"
                                           disabled="disabled">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">修改时间</label>
                            <div class="col-md-9">
                                <div class="input-icon right">
                                    <i class="fa fa-clock-o"></i>
                                    <input type="text" class="form-control"
                                           value="{{item.gmtModified |date:'yyyy-MM-dd HH:mm'}}"
                                           disabled="disabled">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn default" ng-click="" data-dismiss="modal">关闭</button>
                <button type="button" class="btn blue" ng-click="save();">保存</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    </div>
