<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cmcu.common.dao.CommonTreeCategoryMapper">
  <resultMap id="BaseResultMap" type="com.cmcu.common.entity.CommonTreeCategory">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="tenet_id" jdbcType="VARCHAR" property="tenetId" />
    <result column="business_key" jdbcType="VARCHAR" property="businessKey" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="parent_id" jdbcType="INTEGER" property="parentId" />
    <result column="owner_level" jdbcType="INTEGER" property="ownerLevel" />
    <result column="seq" jdbcType="INTEGER" property="seq" />
    <result column="is_deleted" jdbcType="BIT" property="deleted" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from common_tree_category
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cmcu.common.entity.CommonTreeCategory">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into common_tree_category (tenet_id, business_key, name, 
      parent_id, owner_level, seq, 
      is_deleted, gmt_create, gmt_modified, 
      remark)
    values (#{tenetId,jdbcType=VARCHAR}, #{businessKey,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{parentId,jdbcType=INTEGER}, #{ownerLevel,jdbcType=INTEGER}, #{seq,jdbcType=INTEGER}, 
      #{deleted,jdbcType=BIT}, #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}, 
      #{remark,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.cmcu.common.entity.CommonTreeCategory">
    update common_tree_category
    set tenet_id = #{tenetId,jdbcType=VARCHAR},
      business_key = #{businessKey,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      parent_id = #{parentId,jdbcType=INTEGER},
      owner_level = #{ownerLevel,jdbcType=INTEGER},
      seq = #{seq,jdbcType=INTEGER},
      is_deleted = #{deleted,jdbcType=BIT},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, tenet_id, business_key, name, parent_id, owner_level, seq, is_deleted, 
    gmt_create, gmt_modified, remark
    from common_tree_category
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, tenet_id, business_key, name, parent_id, owner_level, seq, is_deleted, 
    gmt_create, gmt_modified, remark
    from common_tree_category
    <include refid="Base_Where_List" />
     order by id desc
  </select>
  <sql id="Base_Where_List">
    <where>
      <if test="id != null">
         AND id = #{id}
      </if>
      <if test="tenetId != null and tenetId != ''">
         AND tenet_id = #{tenetId}
      </if>
      <if test="businessKey != null and businessKey != ''">
         AND business_key = #{businessKey}
      </if>
      <if test="name != null and name != ''">
         AND name = #{name}
      </if>
      <if test="parentId != null">
         AND parent_id = #{parentId}
      </if>
      <if test="ownerLevel != null">
         AND owner_level = #{ownerLevel}
      </if>
      <if test="seq != null">
         AND seq = #{seq}
      </if>
      <if test="deleted != null">
         AND is_deleted = #{deleted}
      </if>
      <if test="gmtCreate != null">
         AND gmt_create = #{gmtCreate}
      </if>
      <if test="gmtModified != null">
         AND gmt_modified = #{gmtModified}
      </if>
      <if test="remark != null and remark != ''">
         AND remark = #{remark}
      </if>
    </where>
  </sql>
</mapper>