<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cmcu.common.dao.CommonEdRoleMapper">
  <resultMap id="BaseResultMap" type="com.cmcu.common.entity.CommonEdRole">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="tenet_id" jdbcType="VARCHAR" property="tenetId" />
    <result column="cn_name" jdbcType="VARCHAR" property="cnName" />
    <result column="en_name" jdbcType="VARCHAR" property="enName" />
    <result column="other_config" jdbcType="VARCHAR" property="otherConfig" />
    <result column="is_multiple" jdbcType="BIT" property="multiple" />
    <result column="is_deleted" jdbcType="BIT" property="deleted" />
    <result column="seq" jdbcType="INTEGER" property="seq" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from common_ed_role
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cmcu.common.entity.CommonEdRole">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into common_ed_role (tenet_id, cn_name, en_name, 
      other_config, is_multiple, is_deleted, 
      seq, gmt_create, gmt_modified, 
      remark)
    values (#{tenetId,jdbcType=VARCHAR}, #{cnName,jdbcType=VARCHAR}, #{enName,jdbcType=VARCHAR}, 
      #{otherConfig,jdbcType=VARCHAR}, #{multiple,jdbcType=BIT}, #{deleted,jdbcType=BIT}, 
      #{seq,jdbcType=INTEGER}, #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}, 
      #{remark,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.cmcu.common.entity.CommonEdRole">
    update common_ed_role
    set tenet_id = #{tenetId,jdbcType=VARCHAR},
      cn_name = #{cnName,jdbcType=VARCHAR},
      en_name = #{enName,jdbcType=VARCHAR},
      other_config = #{otherConfig,jdbcType=VARCHAR},
      is_multiple = #{multiple,jdbcType=BIT},
      is_deleted = #{deleted,jdbcType=BIT},
      seq = #{seq,jdbcType=INTEGER},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, tenet_id, cn_name, en_name, other_config, is_multiple, is_deleted, seq, 
    gmt_create, gmt_modified, remark
    from common_ed_role
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, tenet_id, cn_name, en_name, other_config, is_multiple, is_deleted, seq, 
    gmt_create, gmt_modified, remark
    from common_ed_role
    <include refid="Base_Where_List" />
     order by seq asc
  </select>
  <sql id="Base_Where_List">
    <where>
      <if test="id != null">
         AND id = #{id}
      </if>
      <if test="tenetId != null and tenetId != ''">
         AND tenet_id = #{tenetId}
      </if>
      <if test="cnName != null and cnName != ''">
         AND cn_name = #{cnName}
      </if>
      <if test="enName != null and enName != ''">
         AND en_name = #{enName}
      </if>
      <if test="otherConfig != null and otherConfig != ''">
         AND other_config = #{otherConfig}
      </if>
      <if test="multiple != null">
         AND is_multiple = #{multiple}
      </if>
      <if test="deleted != null">
         AND is_deleted = #{deleted}
      </if>
      <if test="seq != null">
         AND seq = #{seq}
      </if>
      <if test="gmtCreate != null">
         AND gmt_create = #{gmtCreate}
      </if>
      <if test="gmtModified != null">
         AND gmt_modified = #{gmtModified}
      </if>
      <if test="remark != null and remark != ''">
         AND remark = #{remark}
      </if>
    </where>
  </sql>
</mapper>