<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cmcu.mcc.business.dao.BusinessSupplierAptitudeMapper">
  <resultMap id="BaseResultMap" type="com.cmcu.mcc.business.entity.BusinessSupplierAptitude">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="supplier_id" jdbcType="INTEGER" property="supplierId" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="grade" jdbcType="VARCHAR" property="grade" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="validity_time" jdbcType="VARCHAR" property="validityTime" />
    <result column="seq" jdbcType="INTEGER" property="seq" />
    <result column="is_deleted" jdbcType="BIT" property="deleted" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="creator_name" jdbcType="VARCHAR" property="creatorName" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from business_supplier_aptitude
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cmcu.mcc.business.entity.BusinessSupplierAptitude">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into business_supplier_aptitude (supplier_id, type, grade, 
      code, validity_time, seq, 
      is_deleted, gmt_create, gmt_modified, 
      remark, creator, creator_name
      )
    values (#{supplierId,jdbcType=INTEGER}, #{type,jdbcType=VARCHAR}, #{grade,jdbcType=VARCHAR}, 
      #{code,jdbcType=VARCHAR}, #{validityTime,jdbcType=VARCHAR}, #{seq,jdbcType=INTEGER}, 
      #{deleted,jdbcType=BIT}, #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}, 
      #{remark,jdbcType=VARCHAR}, #{creator,jdbcType=VARCHAR}, #{creatorName,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.cmcu.mcc.business.entity.BusinessSupplierAptitude">
    update business_supplier_aptitude
    set supplier_id = #{supplierId,jdbcType=INTEGER},
      type = #{type,jdbcType=VARCHAR},
      grade = #{grade,jdbcType=VARCHAR},
      code = #{code,jdbcType=VARCHAR},
      validity_time = #{validityTime,jdbcType=VARCHAR},
      seq = #{seq,jdbcType=INTEGER},
      is_deleted = #{deleted,jdbcType=BIT},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=VARCHAR},
      creator_name = #{creatorName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, supplier_id, type, grade, code, validity_time, seq, is_deleted, gmt_create, 
    gmt_modified, remark, creator, creator_name
    from business_supplier_aptitude
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, supplier_id, type, grade, code, validity_time, seq, is_deleted, gmt_create, 
    gmt_modified, remark, creator, creator_name
    from business_supplier_aptitude
    <include refid="Base_Where_List" />
     order by id desc
  </select>
  <sql id="Base_Where_List">
    <where>
      <if test="id != null">
         AND id = #{id}
      </if>
      <if test="supplierId != null">
         AND supplier_id = #{supplierId}
      </if>
      <if test="type != null and type != ''">
         AND type = #{type}
      </if>
      <if test="grade != null and grade != ''">
         AND grade = #{grade}
      </if>
      <if test="code != null and code != ''">
         AND code = #{code}
      </if>
      <if test="validityTime != null and validityTime != ''">
         AND validity_time = #{validityTime}
      </if>
      <if test="seq != null">
         AND seq = #{seq}
      </if>
      <if test="deleted != null">
         AND is_deleted = #{deleted}
      </if>
      <if test="gmtCreate != null">
         AND gmt_create = #{gmtCreate}
      </if>
      <if test="gmtModified != null">
         AND gmt_modified = #{gmtModified}
      </if>
      <if test="remark != null and remark != ''">
         AND remark = #{remark}
      </if>
      <if test="creator != null and creator != ''">
         AND creator = #{creator}
      </if>
      <if test="creatorName != null and creatorName != ''">
         AND creator_name = #{creatorName}
      </if>
    </where>
  </sql>
</mapper>