<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cmcu.mcc.business.dao.FiveBusinessStatisticsMapper">
  <resultMap id="BaseResultMap" type="com.cmcu.mcc.business.entity.FiveBusinessStatistics">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="dept_id" jdbcType="INTEGER" property="deptId" />
    <result column="dept_name" jdbcType="VARCHAR" property="deptName" />
    <result column="form_no" jdbcType="VARCHAR" property="formNo" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="is_deleted" jdbcType="BIT" property="deleted" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="creator_name" jdbcType="VARCHAR" property="creatorName" />
    <result column="is_process_end" jdbcType="BIT" property="processEnd" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="target" jdbcType="VARCHAR" property="target" />
    <result column="complete_count" jdbcType="VARCHAR" property="completeCount" />
    <result column="last_year" jdbcType="VARCHAR" property="lastYear" />
    <result column="increase" jdbcType="VARCHAR" property="increase" />
    <result column="complete_ercent" jdbcType="VARCHAR" property="completeErcent" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from five_business_statistics
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cmcu.mcc.business.entity.FiveBusinessStatistics">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into five_business_statistics (dept_id, dept_name, form_no, 
      remark, is_deleted, creator, 
      creator_name, is_process_end, gmt_create, 
      gmt_modified, target, complete_count, 
      last_year, increase, complete_ercent
      )
    values (#{deptId,jdbcType=INTEGER}, #{deptName,jdbcType=VARCHAR}, #{formNo,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR}, #{deleted,jdbcType=BIT}, #{creator,jdbcType=VARCHAR}, 
      #{creatorName,jdbcType=VARCHAR}, #{processEnd,jdbcType=BIT}, #{gmtCreate,jdbcType=TIMESTAMP}, 
      #{gmtModified,jdbcType=TIMESTAMP}, #{target,jdbcType=VARCHAR}, #{completeCount,jdbcType=VARCHAR}, 
      #{lastYear,jdbcType=VARCHAR}, #{increase,jdbcType=VARCHAR}, #{completeErcent,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.cmcu.mcc.business.entity.FiveBusinessStatistics">
    update five_business_statistics
    set dept_id = #{deptId,jdbcType=INTEGER},
      dept_name = #{deptName,jdbcType=VARCHAR},
      form_no = #{formNo,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      is_deleted = #{deleted,jdbcType=BIT},
      creator = #{creator,jdbcType=VARCHAR},
      creator_name = #{creatorName,jdbcType=VARCHAR},
      is_process_end = #{processEnd,jdbcType=BIT},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      target = #{target,jdbcType=VARCHAR},
      complete_count = #{completeCount,jdbcType=VARCHAR},
      last_year = #{lastYear,jdbcType=VARCHAR},
      increase = #{increase,jdbcType=VARCHAR},
      complete_ercent = #{completeErcent,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, dept_id, dept_name, form_no, remark, is_deleted, creator, creator_name, 
    is_process_end, gmt_create, gmt_modified, target, complete_count, last_year, increase, 
    complete_ercent
    from five_business_statistics
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, dept_id, dept_name, form_no, remark, is_deleted, creator, creator_name, 
    is_process_end, gmt_create, gmt_modified, target, complete_count, last_year, increase, 
    complete_ercent
    from five_business_statistics
    <include refid="Base_Where_List" />
    <include refid="Base_Where_List1" />
     order by id desc
  </select>
  <sql id="Base_Where_List">
    <where>
      <if test="id != null and isLikeSelect==null">
         AND id = #{id}
      </if>
      <if test="deptId != null and isLikeSelect==null">
         AND dept_id = #{deptId}
      </if>
      <if test="deptName != null and isLikeSelect==null and deptName != ''">
         AND dept_name = #{deptName}
      </if>
      <if test="formNo != null and isLikeSelect==null and formNo != ''">
         AND form_no = #{formNo}
      </if>
      <if test="remark != null and isLikeSelect==null and remark != ''">
         AND remark = #{remark}
      </if>
      <if test="deleted != null and isLikeSelect==null">
         AND is_deleted = #{deleted}
      </if>
      <if test="creator != null and isLikeSelect==null and creator != ''">
         AND creator = #{creator}
      </if>
      <if test="creatorName != null and isLikeSelect==null and creatorName != ''">
         AND creator_name = #{creatorName}
      </if>
      <if test="processEnd != null and isLikeSelect==null">
         AND is_process_end = #{processEnd}
      </if>
      <if test="gmtCreate != null and isLikeSelect==null">
         AND gmt_create = #{gmtCreate}
      </if>
      <if test="gmtModified != null and isLikeSelect==null">
         AND gmt_modified = #{gmtModified}
      </if>
      <if test="target != null and isLikeSelect==null and target != ''">
         AND target = #{target}
      </if>
      <if test="completeCount != null and isLikeSelect==null and completeCount != ''">
         AND complete_count = #{completeCount}
      </if>
      <if test="lastYear != null and isLikeSelect==null and lastYear != ''">
         AND last_year = #{lastYear}
      </if>
      <if test="increase != null and isLikeSelect==null and increase != ''">
         AND increase = #{increase}
      </if>
      <if test="completeErcent != null and isLikeSelect==null and completeErcent != ''">
         AND complete_ercent = #{completeErcent}
      </if>
    </where>
  </sql>
  <sql id="Base_Where_List1">
    <where>
      <if test="deptName != null and isLikeSelect!= null and deptName != '' ">
         AND dept_name like  CONCAT('%',#{deptName},'%')
      </if>
      <if test="formNo != null and isLikeSelect!= null and formNo != '' ">
         AND form_no like  CONCAT('%',#{formNo},'%')
      </if>
      <if test="remark != null and isLikeSelect!= null and remark != '' ">
         AND remark like  CONCAT('%',#{remark},'%')
      </if>
      <if test="creator != null and isLikeSelect!= null and creator != '' ">
         AND creator like  CONCAT('%',#{creator},'%')
      </if>
      <if test="creatorName != null and isLikeSelect!= null and creatorName != '' ">
         AND creator_name like  CONCAT('%',#{creatorName},'%')
      </if>
      <if test="target != null and isLikeSelect!= null and target != '' ">
         AND target like  CONCAT('%',#{target},'%')
      </if>
      <if test="completeCount != null and isLikeSelect!= null and completeCount != '' ">
         AND complete_count like  CONCAT('%',#{completeCount},'%')
      </if>
      <if test="lastYear != null and isLikeSelect!= null and lastYear != '' ">
         AND last_year like  CONCAT('%',#{lastYear},'%')
      </if>
      <if test="increase != null and isLikeSelect!= null and increase != '' ">
         AND increase like  CONCAT('%',#{increase},'%')
      </if>
      <if test="completeErcent != null and isLikeSelect!= null and completeErcent != '' ">
         AND complete_ercent like  CONCAT('%',#{completeErcent},'%')
      </if>
      <if test="deleted != null and isLikeSelect!=null">
         AND is_deleted = #{deleted}
      </if>
      <if test="deptId != null and isLikeSelect!=null">
         AND dept_id = #{deptId}
      </if>
    </where>
  </sql>
</mapper>