<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cmcu.mcc.business.dao.FiveBusinessContractLibrarySubpackageMapper">
  <resultMap id="BaseResultMap" type="com.cmcu.mcc.business.entity.FiveBusinessContractLibrarySubpackage">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="business_key" jdbcType="VARCHAR" property="businessKey" />
    <result column="contract_library_id" jdbcType="INTEGER" property="contractLibraryId" />
    <result column="contract_no" jdbcType="VARCHAR" property="contractNo" />
    <result column="contract_name" jdbcType="VARCHAR" property="contractName" />
    <result column="contract_money" jdbcType="VARCHAR" property="contractMoney" />
    <result column="contract_type" jdbcType="VARCHAR" property="contractType" />
    <result column="project_nature" jdbcType="VARCHAR" property="projectNature" />
    <result column="sub_contract_type" jdbcType="VARCHAR" property="subContractType" />
    <result column="sub_contract_name" jdbcType="VARCHAR" property="subContractName" />
    <result column="sub_contract_money" jdbcType="VARCHAR" property="subContractMoney" />
    <result column="sub_contract_no" jdbcType="VARCHAR" property="subContractNo" />
    <result column="dept_id" jdbcType="INTEGER" property="deptId" />
    <result column="dept_name" jdbcType="VARCHAR" property="deptName" />
    <result column="sub_contract_desc" jdbcType="VARCHAR" property="subContractDesc" />
    <result column="is_cash_deposit" jdbcType="BIT" property="cashDeposit" />
    <result column="cash_deposit_money" jdbcType="VARCHAR" property="cashDepositMoney" />
    <result column="is_backletter" jdbcType="BIT" property="backletter" />
    <result column="backletter_money" jdbcType="VARCHAR" property="backletterMoney" />
    <result column="is_sign" jdbcType="BIT" property="sign" />
    <result column="contract_status" jdbcType="VARCHAR" property="contractStatus" />
    <result column="supplier_id" jdbcType="INTEGER" property="supplierId" />
    <result column="supplier_name" jdbcType="VARCHAR" property="supplierName" />
    <result column="supplier_credit_code" jdbcType="VARCHAR" property="supplierCreditCode" />
    <result column="supplier_link_man" jdbcType="VARCHAR" property="supplierLinkMan" />
    <result column="supplier_link_tel" jdbcType="VARCHAR" property="supplierLinkTel" />
    <result column="deposit_bank" jdbcType="VARCHAR" property="depositBank" />
    <result column="bank_account" jdbcType="VARCHAR" property="bankAccount" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="creator_name" jdbcType="VARCHAR" property="creatorName" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="is_deleted" jdbcType="BIT" property="deleted" />
    <result column="process_instance_id" jdbcType="VARCHAR" property="processInstanceId" />
    <result column="is_process_end" jdbcType="BIT" property="processEnd" />
    <result column="in_company" jdbcType="BIT" property="inCompany" />
    <result column="in_dept_id" jdbcType="INTEGER" property="inDeptId" />
    <result column="in_dept_name" jdbcType="VARCHAR" property="inDeptName" />
    <result column="record_id" jdbcType="INTEGER" property="recordId" />
    <result column="subpackage_id" jdbcType="INTEGER" property="subpackageId" />
    <result column="review_level" jdbcType="VARCHAR" property="reviewLevel" />
    <result column="contract_charge_leader" jdbcType="VARCHAR" property="contractChargeLeader" />
    <result column="contract_charge_leader_name" jdbcType="VARCHAR" property="contractChargeLeaderName" />
    <result column="review_user" jdbcType="VARCHAR" property="reviewUser" />
    <result column="review_user_name" jdbcType="VARCHAR" property="reviewUserName" />
    <result column="is_purchase" jdbcType="BIT" property="purchase" />
    <result column="contract_attach_url" jdbcType="VARCHAR" property="contractAttachUrl" />
    <result column="tax_type" jdbcType="VARCHAR" property="taxType" />
    <result column="tax_num" jdbcType="VARCHAR" property="taxNum" />
    <result column="stamp_tax_money" jdbcType="VARCHAR" property="stampTaxMoney" />
    <result column="is_open_stamp" jdbcType="BIT" property="openStamp" />
    <result column="sign_time" jdbcType="VARCHAR" property="signTime" />
    <result column="dept_review_user" jdbcType="VARCHAR" property="deptReviewUser" />
    <result column="dept_review_user_name" jdbcType="VARCHAR" property="deptReviewUserName" />
    <result column="dept_charge_men" jdbcType="VARCHAR" property="deptChargeMen" />
    <result column="dept_charge_men_name" jdbcType="VARCHAR" property="deptChargeMenName" />
    <result column="insert_type" jdbcType="INTEGER" property="insertType" />
    <result column="main_contract_library_id" jdbcType="INTEGER" property="mainContractLibraryId" />
    <result column="main_contract_library_name" jdbcType="VARCHAR" property="mainContractLibraryName" />
    <result column="main_contract_library_no" jdbcType="VARCHAR" property="mainContractLibraryNo" />
    <result column="review_ids" jdbcType="VARCHAR" property="reviewIds" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from five_business_contract_library_subpackage
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cmcu.mcc.business.entity.FiveBusinessContractLibrarySubpackage">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into five_business_contract_library_subpackage (business_key, contract_library_id, contract_no, 
      contract_name, contract_money, contract_type, 
      project_nature, sub_contract_type, sub_contract_name, 
      sub_contract_money, sub_contract_no, dept_id, 
      dept_name, sub_contract_desc, is_cash_deposit, 
      cash_deposit_money, is_backletter, backletter_money, 
      is_sign, contract_status, supplier_id, 
      supplier_name, supplier_credit_code, supplier_link_man, 
      supplier_link_tel, deposit_bank, bank_account, 
      remark, creator, creator_name, 
      gmt_create, gmt_modified, is_deleted, 
      process_instance_id, is_process_end, in_company, 
      in_dept_id, in_dept_name, record_id, 
      subpackage_id, review_level, contract_charge_leader, 
      contract_charge_leader_name, review_user, review_user_name, 
      is_purchase, contract_attach_url, tax_type, 
      tax_num, stamp_tax_money, is_open_stamp, 
      sign_time, dept_review_user, dept_review_user_name, 
      dept_charge_men, dept_charge_men_name, insert_type, 
      main_contract_library_id, main_contract_library_name, 
      main_contract_library_no, review_ids)
    values (#{businessKey,jdbcType=VARCHAR}, #{contractLibraryId,jdbcType=INTEGER}, #{contractNo,jdbcType=VARCHAR}, 
      #{contractName,jdbcType=VARCHAR}, #{contractMoney,jdbcType=VARCHAR}, #{contractType,jdbcType=VARCHAR}, 
      #{projectNature,jdbcType=VARCHAR}, #{subContractType,jdbcType=VARCHAR}, #{subContractName,jdbcType=VARCHAR}, 
      #{subContractMoney,jdbcType=VARCHAR}, #{subContractNo,jdbcType=VARCHAR}, #{deptId,jdbcType=INTEGER}, 
      #{deptName,jdbcType=VARCHAR}, #{subContractDesc,jdbcType=VARCHAR}, #{cashDeposit,jdbcType=BIT}, 
      #{cashDepositMoney,jdbcType=VARCHAR}, #{backletter,jdbcType=BIT}, #{backletterMoney,jdbcType=VARCHAR}, 
      #{sign,jdbcType=BIT}, #{contractStatus,jdbcType=VARCHAR}, #{supplierId,jdbcType=INTEGER}, 
      #{supplierName,jdbcType=VARCHAR}, #{supplierCreditCode,jdbcType=VARCHAR}, #{supplierLinkMan,jdbcType=VARCHAR}, 
      #{supplierLinkTel,jdbcType=VARCHAR}, #{depositBank,jdbcType=VARCHAR}, #{bankAccount,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR}, #{creator,jdbcType=VARCHAR}, #{creatorName,jdbcType=VARCHAR}, 
      #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}, #{deleted,jdbcType=BIT}, 
      #{processInstanceId,jdbcType=VARCHAR}, #{processEnd,jdbcType=BIT}, #{inCompany,jdbcType=BIT}, 
      #{inDeptId,jdbcType=INTEGER}, #{inDeptName,jdbcType=VARCHAR}, #{recordId,jdbcType=INTEGER}, 
      #{subpackageId,jdbcType=INTEGER}, #{reviewLevel,jdbcType=VARCHAR}, #{contractChargeLeader,jdbcType=VARCHAR}, 
      #{contractChargeLeaderName,jdbcType=VARCHAR}, #{reviewUser,jdbcType=VARCHAR}, #{reviewUserName,jdbcType=VARCHAR}, 
      #{purchase,jdbcType=BIT}, #{contractAttachUrl,jdbcType=VARCHAR}, #{taxType,jdbcType=VARCHAR}, 
      #{taxNum,jdbcType=VARCHAR}, #{stampTaxMoney,jdbcType=VARCHAR}, #{openStamp,jdbcType=BIT}, 
      #{signTime,jdbcType=VARCHAR}, #{deptReviewUser,jdbcType=VARCHAR}, #{deptReviewUserName,jdbcType=VARCHAR}, 
      #{deptChargeMen,jdbcType=VARCHAR}, #{deptChargeMenName,jdbcType=VARCHAR}, #{insertType,jdbcType=INTEGER}, 
      #{mainContractLibraryId,jdbcType=INTEGER}, #{mainContractLibraryName,jdbcType=VARCHAR}, 
      #{mainContractLibraryNo,jdbcType=VARCHAR}, #{reviewIds,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.cmcu.mcc.business.entity.FiveBusinessContractLibrarySubpackage">
    update five_business_contract_library_subpackage
    set business_key = #{businessKey,jdbcType=VARCHAR},
      contract_library_id = #{contractLibraryId,jdbcType=INTEGER},
      contract_no = #{contractNo,jdbcType=VARCHAR},
      contract_name = #{contractName,jdbcType=VARCHAR},
      contract_money = #{contractMoney,jdbcType=VARCHAR},
      contract_type = #{contractType,jdbcType=VARCHAR},
      project_nature = #{projectNature,jdbcType=VARCHAR},
      sub_contract_type = #{subContractType,jdbcType=VARCHAR},
      sub_contract_name = #{subContractName,jdbcType=VARCHAR},
      sub_contract_money = #{subContractMoney,jdbcType=VARCHAR},
      sub_contract_no = #{subContractNo,jdbcType=VARCHAR},
      dept_id = #{deptId,jdbcType=INTEGER},
      dept_name = #{deptName,jdbcType=VARCHAR},
      sub_contract_desc = #{subContractDesc,jdbcType=VARCHAR},
      is_cash_deposit = #{cashDeposit,jdbcType=BIT},
      cash_deposit_money = #{cashDepositMoney,jdbcType=VARCHAR},
      is_backletter = #{backletter,jdbcType=BIT},
      backletter_money = #{backletterMoney,jdbcType=VARCHAR},
      is_sign = #{sign,jdbcType=BIT},
      contract_status = #{contractStatus,jdbcType=VARCHAR},
      supplier_id = #{supplierId,jdbcType=INTEGER},
      supplier_name = #{supplierName,jdbcType=VARCHAR},
      supplier_credit_code = #{supplierCreditCode,jdbcType=VARCHAR},
      supplier_link_man = #{supplierLinkMan,jdbcType=VARCHAR},
      supplier_link_tel = #{supplierLinkTel,jdbcType=VARCHAR},
      deposit_bank = #{depositBank,jdbcType=VARCHAR},
      bank_account = #{bankAccount,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=VARCHAR},
      creator_name = #{creatorName,jdbcType=VARCHAR},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      is_deleted = #{deleted,jdbcType=BIT},
      process_instance_id = #{processInstanceId,jdbcType=VARCHAR},
      is_process_end = #{processEnd,jdbcType=BIT},
      in_company = #{inCompany,jdbcType=BIT},
      in_dept_id = #{inDeptId,jdbcType=INTEGER},
      in_dept_name = #{inDeptName,jdbcType=VARCHAR},
      record_id = #{recordId,jdbcType=INTEGER},
      subpackage_id = #{subpackageId,jdbcType=INTEGER},
      review_level = #{reviewLevel,jdbcType=VARCHAR},
      contract_charge_leader = #{contractChargeLeader,jdbcType=VARCHAR},
      contract_charge_leader_name = #{contractChargeLeaderName,jdbcType=VARCHAR},
      review_user = #{reviewUser,jdbcType=VARCHAR},
      review_user_name = #{reviewUserName,jdbcType=VARCHAR},
      is_purchase = #{purchase,jdbcType=BIT},
      contract_attach_url = #{contractAttachUrl,jdbcType=VARCHAR},
      tax_type = #{taxType,jdbcType=VARCHAR},
      tax_num = #{taxNum,jdbcType=VARCHAR},
      stamp_tax_money = #{stampTaxMoney,jdbcType=VARCHAR},
      is_open_stamp = #{openStamp,jdbcType=BIT},
      sign_time = #{signTime,jdbcType=VARCHAR},
      dept_review_user = #{deptReviewUser,jdbcType=VARCHAR},
      dept_review_user_name = #{deptReviewUserName,jdbcType=VARCHAR},
      dept_charge_men = #{deptChargeMen,jdbcType=VARCHAR},
      dept_charge_men_name = #{deptChargeMenName,jdbcType=VARCHAR},
      insert_type = #{insertType,jdbcType=INTEGER},
      main_contract_library_id = #{mainContractLibraryId,jdbcType=INTEGER},
      main_contract_library_name = #{mainContractLibraryName,jdbcType=VARCHAR},
      main_contract_library_no = #{mainContractLibraryNo,jdbcType=VARCHAR},
      review_ids = #{reviewIds,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, business_key, contract_library_id, contract_no, contract_name, contract_money, 
    contract_type, project_nature, sub_contract_type, sub_contract_name, sub_contract_money, 
    sub_contract_no, dept_id, dept_name, sub_contract_desc, is_cash_deposit, cash_deposit_money, 
    is_backletter, backletter_money, is_sign, contract_status, supplier_id, supplier_name, 
    supplier_credit_code, supplier_link_man, supplier_link_tel, deposit_bank, bank_account, 
    remark, creator, creator_name, gmt_create, gmt_modified, is_deleted, process_instance_id, 
    is_process_end, in_company, in_dept_id, in_dept_name, record_id, subpackage_id, review_level, 
    contract_charge_leader, contract_charge_leader_name, review_user, review_user_name, 
    is_purchase, contract_attach_url, tax_type, tax_num, stamp_tax_money, is_open_stamp, 
    sign_time, dept_review_user, dept_review_user_name, dept_charge_men, dept_charge_men_name, 
    insert_type, main_contract_library_id, main_contract_library_name, main_contract_library_no, 
    review_ids
    from five_business_contract_library_subpackage
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, business_key, contract_library_id, contract_no, contract_name, contract_money, 
    contract_type, project_nature, sub_contract_type, sub_contract_name, sub_contract_money, 
    sub_contract_no, dept_id, dept_name, sub_contract_desc, is_cash_deposit, cash_deposit_money, 
    is_backletter, backletter_money, is_sign, contract_status, supplier_id, supplier_name, 
    supplier_credit_code, supplier_link_man, supplier_link_tel, deposit_bank, bank_account, 
    remark, creator, creator_name, gmt_create, gmt_modified, is_deleted, process_instance_id, 
    is_process_end, in_company, in_dept_id, in_dept_name, record_id, subpackage_id, review_level, 
    contract_charge_leader, contract_charge_leader_name, review_user, review_user_name, 
    is_purchase, contract_attach_url, tax_type, tax_num, stamp_tax_money, is_open_stamp, 
    sign_time, dept_review_user, dept_review_user_name, dept_charge_men, dept_charge_men_name, 
    insert_type, main_contract_library_id, main_contract_library_name, main_contract_library_no, 
    review_ids
    from five_business_contract_library_subpackage
    <include refid="Base_Where_List" />
    <include refid="Base_Where_List1" />
     order by id desc
  </select>
  <sql id="Base_Where_List">
    <where>
      <if test="id != null and isLikeSelect==null">
         AND id = #{id}
      </if>
      <if test="businessKey != null and isLikeSelect==null and businessKey != ''">
         AND business_key = #{businessKey}
      </if>
      <if test="contractLibraryId != null and isLikeSelect==null">
         AND contract_library_id = #{contractLibraryId}
      </if>
      <if test="contractNo != null and isLikeSelect==null and contractNo != ''">
         AND contract_no = #{contractNo}
      </if>
      <if test="contractName != null and isLikeSelect==null and contractName != ''">
         AND contract_name = #{contractName}
      </if>
      <if test="contractMoney != null and isLikeSelect==null and contractMoney != ''">
         AND contract_money = #{contractMoney}
      </if>
      <if test="contractType != null and isLikeSelect==null and contractType != ''">
         AND contract_type = #{contractType}
      </if>
      <if test="projectNature != null and isLikeSelect==null and projectNature != ''">
         AND project_nature = #{projectNature}
      </if>
      <if test="subContractType != null and isLikeSelect==null and subContractType != ''">
         AND sub_contract_type = #{subContractType}
      </if>
      <if test="subContractName != null and isLikeSelect==null and subContractName != ''">
         AND sub_contract_name = #{subContractName}
      </if>
      <if test="subContractMoney != null and isLikeSelect==null and subContractMoney != ''">
         AND sub_contract_money = #{subContractMoney}
      </if>
      <if test="subContractNo != null and isLikeSelect==null and subContractNo != ''">
         AND sub_contract_no = #{subContractNo}
      </if>
      <if test="deptId != null and isLikeSelect==null">
         AND dept_id = #{deptId}
      </if>
      <if test="deptName != null and isLikeSelect==null and deptName != ''">
         AND dept_name = #{deptName}
      </if>
      <if test="subContractDesc != null and isLikeSelect==null and subContractDesc != ''">
         AND sub_contract_desc = #{subContractDesc}
      </if>
      <if test="cashDeposit != null and isLikeSelect==null">
         AND is_cash_deposit = #{cashDeposit}
      </if>
      <if test="cashDepositMoney != null and isLikeSelect==null and cashDepositMoney != ''">
         AND cash_deposit_money = #{cashDepositMoney}
      </if>
      <if test="backletter != null and isLikeSelect==null">
         AND is_backletter = #{backletter}
      </if>
      <if test="backletterMoney != null and isLikeSelect==null and backletterMoney != ''">
         AND backletter_money = #{backletterMoney}
      </if>
      <if test="sign != null and isLikeSelect==null">
         AND is_sign = #{sign}
      </if>
      <if test="contractStatus != null and isLikeSelect==null and contractStatus != ''">
         AND contract_status = #{contractStatus}
      </if>
      <if test="supplierId != null and isLikeSelect==null">
         AND supplier_id = #{supplierId}
      </if>
      <if test="supplierName != null and isLikeSelect==null and supplierName != ''">
         AND supplier_name = #{supplierName}
      </if>
      <if test="supplierCreditCode != null and isLikeSelect==null and supplierCreditCode != ''">
         AND supplier_credit_code = #{supplierCreditCode}
      </if>
      <if test="supplierLinkMan != null and isLikeSelect==null and supplierLinkMan != ''">
         AND supplier_link_man = #{supplierLinkMan}
      </if>
      <if test="supplierLinkTel != null and isLikeSelect==null and supplierLinkTel != ''">
         AND supplier_link_tel = #{supplierLinkTel}
      </if>
      <if test="depositBank != null and isLikeSelect==null and depositBank != ''">
         AND deposit_bank = #{depositBank}
      </if>
      <if test="bankAccount != null and isLikeSelect==null and bankAccount != ''">
         AND bank_account = #{bankAccount}
      </if>
      <if test="remark != null and isLikeSelect==null and remark != ''">
         AND remark = #{remark}
      </if>
      <if test="creator != null and isLikeSelect==null and creator != ''">
         AND creator = #{creator}
      </if>
      <if test="creatorName != null and isLikeSelect==null and creatorName != ''">
         AND creator_name = #{creatorName}
      </if>
      <if test="gmtCreate != null and isLikeSelect==null">
         AND gmt_create = #{gmtCreate}
      </if>
      <if test="gmtModified != null and isLikeSelect==null">
         AND gmt_modified = #{gmtModified}
      </if>
      <if test="deleted != null and isLikeSelect==null">
         AND is_deleted = #{deleted}
      </if>
      <if test="processInstanceId != null and isLikeSelect==null and processInstanceId != ''">
         AND process_instance_id = #{processInstanceId}
      </if>
      <if test="processEnd != null and isLikeSelect==null">
         AND is_process_end = #{processEnd}
      </if>
      <if test="inCompany != null and isLikeSelect==null">
         AND in_company = #{inCompany}
      </if>
      <if test="inDeptId != null and isLikeSelect==null">
         AND in_dept_id = #{inDeptId}
      </if>
      <if test="inDeptName != null and isLikeSelect==null and inDeptName != ''">
         AND in_dept_name = #{inDeptName}
      </if>
      <if test="recordId != null and isLikeSelect==null">
         AND record_id = #{recordId}
      </if>
      <if test="subpackageId != null and isLikeSelect==null">
         AND subpackage_id = #{subpackageId}
      </if>
      <if test="reviewLevel != null and isLikeSelect==null and reviewLevel != ''">
         AND review_level = #{reviewLevel}
      </if>
      <if test="contractChargeLeader != null and isLikeSelect==null and contractChargeLeader != ''">
         AND contract_charge_leader = #{contractChargeLeader}
      </if>
      <if test="contractChargeLeaderName != null and isLikeSelect==null and contractChargeLeaderName != ''">
         AND contract_charge_leader_name = #{contractChargeLeaderName}
      </if>
      <if test="reviewUser != null and isLikeSelect==null and reviewUser != ''">
         AND review_user = #{reviewUser}
      </if>
      <if test="reviewUserName != null and isLikeSelect==null and reviewUserName != ''">
         AND review_user_name = #{reviewUserName}
      </if>
      <if test="purchase != null and isLikeSelect==null">
         AND is_purchase = #{purchase}
      </if>
      <if test="contractAttachUrl != null and isLikeSelect==null and contractAttachUrl != ''">
         AND contract_attach_url = #{contractAttachUrl}
      </if>
      <if test="taxType != null and isLikeSelect==null and taxType != ''">
         AND tax_type = #{taxType}
      </if>
      <if test="taxNum != null and isLikeSelect==null and taxNum != ''">
         AND tax_num = #{taxNum}
      </if>
      <if test="stampTaxMoney != null and isLikeSelect==null and stampTaxMoney != ''">
         AND stamp_tax_money = #{stampTaxMoney}
      </if>
      <if test="openStamp != null and isLikeSelect==null">
         AND is_open_stamp = #{openStamp}
      </if>
      <if test="signTime != null and isLikeSelect==null and signTime != ''">
         AND sign_time = #{signTime}
      </if>
      <if test="deptReviewUser != null and isLikeSelect==null and deptReviewUser != ''">
         AND dept_review_user = #{deptReviewUser}
      </if>
      <if test="deptReviewUserName != null and isLikeSelect==null and deptReviewUserName != ''">
         AND dept_review_user_name = #{deptReviewUserName}
      </if>
      <if test="deptChargeMen != null and isLikeSelect==null and deptChargeMen != ''">
         AND dept_charge_men = #{deptChargeMen}
      </if>
      <if test="deptChargeMenName != null and isLikeSelect==null and deptChargeMenName != ''">
         AND dept_charge_men_name = #{deptChargeMenName}
      </if>
      <if test="insertType != null and isLikeSelect==null">
         AND insert_type = #{insertType}
      </if>
      <if test="mainContractLibraryId != null and isLikeSelect==null">
         AND main_contract_library_id = #{mainContractLibraryId}
      </if>
      <if test="mainContractLibraryName != null and isLikeSelect==null and mainContractLibraryName != ''">
         AND main_contract_library_name = #{mainContractLibraryName}
      </if>
      <if test="mainContractLibraryNo != null and isLikeSelect==null and mainContractLibraryNo != ''">
         AND main_contract_library_no = #{mainContractLibraryNo}
      </if>
      <if test="reviewIds != null and isLikeSelect==null and reviewIds != ''">
         AND review_ids = #{reviewIds}
      </if>
      <if test="subContractNoHead != null and subContractNoHead != ''and isLikeSelect==null">
        AND sub_contract_no like  CONCAT('%',#{subContractNoHead},'%')
      </if>
      <if test="deptIdList != null and deptIdList.size()>0 and isLikeSelect==null">
        AND dept_id in
        <foreach collection="deptIdList" open="(" close=")" separator="," item="deptId" index="i">
          #{deptId}
        </foreach>
      </if>
    </where>
  </sql>
  <sql id="Base_Where_List1">
    <where>
      <if test="businessKey != null and isLikeSelect!= null and businessKey != '' ">
         AND business_key like  CONCAT('%',#{businessKey},'%')
      </if>
      <if test="contractNo != null and isLikeSelect!= null and contractNo != '' ">
         AND contract_no like  CONCAT('%',#{contractNo},'%')
      </if>
      <if test="contractName != null and isLikeSelect!= null and contractName != '' ">
         AND contract_name like  CONCAT('%',#{contractName},'%')
      </if>
      <if test="contractMoney != null and isLikeSelect!= null and contractMoney != '' ">
         AND contract_money like  CONCAT('%',#{contractMoney},'%')
      </if>
      <if test="contractType != null and isLikeSelect!= null and contractType != '' ">
         AND contract_type like  CONCAT('%',#{contractType},'%')
      </if>
      <if test="projectNature != null and isLikeSelect!= null and projectNature != '' ">
         AND project_nature like  CONCAT('%',#{projectNature},'%')
      </if>
      <if test="subContractType != null and isLikeSelect!= null and subContractType != '' ">
         AND sub_contract_type like  CONCAT('%',#{subContractType},'%')
      </if>
      <if test="subContractName != null and isLikeSelect!= null and subContractName != '' ">
         AND sub_contract_name like  CONCAT('%',#{subContractName},'%')
      </if>
      <if test="subContractMoney != null and isLikeSelect!= null and subContractMoney != '' ">
         AND sub_contract_money like  CONCAT('%',#{subContractMoney},'%')
      </if>
      <if test="subContractNo != null and isLikeSelect!= null and subContractNo != '' ">
         AND sub_contract_no like  CONCAT('%',#{subContractNo},'%')
      </if>
      <if test="deptName != null and isLikeSelect!= null and deptName != '' ">
         AND dept_name like  CONCAT('%',#{deptName},'%')
      </if>
      <if test="subContractDesc != null and isLikeSelect!= null and subContractDesc != '' ">
         AND sub_contract_desc like  CONCAT('%',#{subContractDesc},'%')
      </if>
      <if test="cashDepositMoney != null and isLikeSelect!= null and cashDepositMoney != '' ">
         AND cash_deposit_money like  CONCAT('%',#{cashDepositMoney},'%')
      </if>
      <if test="backletterMoney != null and isLikeSelect!= null and backletterMoney != '' ">
         AND backletter_money like  CONCAT('%',#{backletterMoney},'%')
      </if>
      <if test="contractStatus != null and isLikeSelect!= null and contractStatus != '' ">
         AND contract_status like  CONCAT('%',#{contractStatus},'%')
      </if>
      <if test="supplierName != null and isLikeSelect!= null and supplierName != '' ">
         AND supplier_name like  CONCAT('%',#{supplierName},'%')
      </if>
      <if test="supplierCreditCode != null and isLikeSelect!= null and supplierCreditCode != '' ">
         AND supplier_credit_code like  CONCAT('%',#{supplierCreditCode},'%')
      </if>
      <if test="supplierLinkMan != null and isLikeSelect!= null and supplierLinkMan != '' ">
         AND supplier_link_man like  CONCAT('%',#{supplierLinkMan},'%')
      </if>
      <if test="supplierLinkTel != null and isLikeSelect!= null and supplierLinkTel != '' ">
         AND supplier_link_tel like  CONCAT('%',#{supplierLinkTel},'%')
      </if>
      <if test="depositBank != null and isLikeSelect!= null and depositBank != '' ">
         AND deposit_bank like  CONCAT('%',#{depositBank},'%')
      </if>
      <if test="bankAccount != null and isLikeSelect!= null and bankAccount != '' ">
         AND bank_account like  CONCAT('%',#{bankAccount},'%')
      </if>
      <if test="remark != null and isLikeSelect!= null and remark != '' ">
         AND remark like  CONCAT('%',#{remark},'%')
      </if>
      <if test="creator != null and isLikeSelect!= null and creator != '' ">
         AND creator like  CONCAT('%',#{creator},'%')
      </if>
      <if test="creatorName != null and isLikeSelect!= null and creatorName != '' ">
         AND creator_name like  CONCAT('%',#{creatorName},'%')
      </if>
      <if test="processInstanceId != null and isLikeSelect!= null and processInstanceId != '' ">
         AND process_instance_id like  CONCAT('%',#{processInstanceId},'%')
      </if>
      <if test="inDeptName != null and isLikeSelect!= null and inDeptName != '' ">
         AND in_dept_name like  CONCAT('%',#{inDeptName},'%')
      </if>
      <if test="reviewLevel != null and isLikeSelect!= null and reviewLevel != '' ">
         AND review_level like  CONCAT('%',#{reviewLevel},'%')
      </if>
      <if test="contractChargeLeader != null and isLikeSelect!= null and contractChargeLeader != '' ">
         AND contract_charge_leader like  CONCAT('%',#{contractChargeLeader},'%')
      </if>
      <if test="contractChargeLeaderName != null and isLikeSelect!= null and contractChargeLeaderName != '' ">
         AND contract_charge_leader_name like  CONCAT('%',#{contractChargeLeaderName},'%')
      </if>
      <if test="reviewUser != null and isLikeSelect!= null and reviewUser != '' ">
         AND review_user like  CONCAT('%',#{reviewUser},'%')
      </if>
      <if test="reviewUserName != null and isLikeSelect!= null and reviewUserName != '' ">
         AND review_user_name like  CONCAT('%',#{reviewUserName},'%')
      </if>
      <if test="contractAttachUrl != null and isLikeSelect!= null and contractAttachUrl != '' ">
         AND contract_attach_url like  CONCAT('%',#{contractAttachUrl},'%')
      </if>
      <if test="taxType != null and isLikeSelect!= null and taxType != '' ">
         AND tax_type like  CONCAT('%',#{taxType},'%')
      </if>
      <if test="taxNum != null and isLikeSelect!= null and taxNum != '' ">
         AND tax_num like  CONCAT('%',#{taxNum},'%')
      </if>
      <if test="stampTaxMoney != null and isLikeSelect!= null and stampTaxMoney != '' ">
         AND stamp_tax_money like  CONCAT('%',#{stampTaxMoney},'%')
      </if>
      <if test="signTime != null and isLikeSelect!= null and signTime != '' ">
         AND sign_time like  CONCAT('%',#{signTime},'%')
      </if>
      <if test="deptReviewUser != null and isLikeSelect!= null and deptReviewUser != '' ">
         AND dept_review_user like  CONCAT('%',#{deptReviewUser},'%')
      </if>
      <if test="deptReviewUserName != null and isLikeSelect!= null and deptReviewUserName != '' ">
         AND dept_review_user_name like  CONCAT('%',#{deptReviewUserName},'%')
      </if>
      <if test="deptChargeMen != null and isLikeSelect!= null and deptChargeMen != '' ">
         AND dept_charge_men like  CONCAT('%',#{deptChargeMen},'%')
      </if>
      <if test="deptChargeMenName != null and isLikeSelect!= null and deptChargeMenName != '' ">
         AND dept_charge_men_name like  CONCAT('%',#{deptChargeMenName},'%')
      </if>
      <if test="mainContractLibraryName != null and isLikeSelect!= null and mainContractLibraryName != '' ">
         AND main_contract_library_name like  CONCAT('%',#{mainContractLibraryName},'%')
      </if>
      <if test="mainContractLibraryNo != null and isLikeSelect!= null and mainContractLibraryNo != '' ">
         AND main_contract_library_no like  CONCAT('%',#{mainContractLibraryNo},'%')
      </if>
      <if test="reviewIds != null and isLikeSelect!= null and reviewIds != '' ">
         AND review_ids like  CONCAT('%',#{reviewIds},'%')
      </if>
      <if test="deleted != null and isLikeSelect!=null">
         AND is_deleted = #{deleted}
      </if>
      <if test="deptId != null and isLikeSelect!=null">
         AND dept_id = #{deptId}
      </if>
      <if test="subContractNoHead != null and subContractNoHead != ''and isLikeSelect!=null">
        AND sub_contract_no like  CONCAT('%',#{subContractNoHead},'%')
      </if>
      <if test="deptIdList != null and deptIdList.size()>0 and isLikeSelect!=null">
        AND dept_id in
        <foreach collection="deptIdList" open="(" close=")" separator="," item="deptId" index="i">
          #{deptId}
        </foreach>
      </if>
      <if test="purchase != null and isLikeSelect!=null">
        AND is_purchase = #{purchase}
      </if>
    </where>
  </sql>
</mapper>