<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cmcu.mcc.supervise.dao.FiveOaSuperviseDetailMapper">
  <resultMap id="BaseResultMap" type="com.cmcu.mcc.supervise.entity.FiveOaSuperviseDetail">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="supervise_id" jdbcType="INTEGER" property="superviseId" />
    <result column="business_key" jdbcType="VARCHAR" property="businessKey" />
    <result column="dept_id" jdbcType="INTEGER" property="deptId" />
    <result column="dept_name" jdbcType="VARCHAR" property="deptName" />
    <result column="supervise_type" jdbcType="VARCHAR" property="superviseType" />
    <result column="task_source" jdbcType="VARCHAR" property="taskSource" />
    <result column="task_definition" jdbcType="VARCHAR" property="taskDefinition" />
    <result column="time_limit" jdbcType="VARCHAR" property="timeLimit" />
    <result column="feedback_time" jdbcType="VARCHAR" property="feedbackTime" />
    <result column="transaction_plan" jdbcType="VARCHAR" property="transactionPlan" />
    <result column="transactor" jdbcType="VARCHAR" property="transactor" />
    <result column="transactor_name" jdbcType="VARCHAR" property="transactorName" />
    <result column="company_leader_opinion" jdbcType="VARCHAR" property="companyLeaderOpinion" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="creator_name" jdbcType="VARCHAR" property="creatorName" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="is_deleted" jdbcType="BIT" property="deleted" />
    <result column="is_process_end" jdbcType="BIT" property="processEnd" />
    <result column="process_instance_id" jdbcType="VARCHAR" property="processInstanceId" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from five_oa_supervise_detail
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cmcu.mcc.supervise.entity.FiveOaSuperviseDetail">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into five_oa_supervise_detail (supervise_id, business_key, dept_id, 
      dept_name, supervise_type, task_source, 
      task_definition, time_limit, feedback_time, 
      transaction_plan, transactor, transactor_name, 
      company_leader_opinion, remark, creator, 
      creator_name, gmt_create, gmt_modified, 
      is_deleted, is_process_end, process_instance_id
      )
    values (#{superviseId,jdbcType=INTEGER}, #{businessKey,jdbcType=VARCHAR}, #{deptId,jdbcType=INTEGER}, 
      #{deptName,jdbcType=VARCHAR}, #{superviseType,jdbcType=VARCHAR}, #{taskSource,jdbcType=VARCHAR}, 
      #{taskDefinition,jdbcType=VARCHAR}, #{timeLimit,jdbcType=VARCHAR}, #{feedbackTime,jdbcType=VARCHAR}, 
      #{transactionPlan,jdbcType=VARCHAR}, #{transactor,jdbcType=VARCHAR}, #{transactorName,jdbcType=VARCHAR}, 
      #{companyLeaderOpinion,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{creator,jdbcType=VARCHAR}, 
      #{creatorName,jdbcType=VARCHAR}, #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}, 
      #{deleted,jdbcType=BIT}, #{processEnd,jdbcType=BIT}, #{processInstanceId,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.cmcu.mcc.supervise.entity.FiveOaSuperviseDetail">
    update five_oa_supervise_detail
    set supervise_id = #{superviseId,jdbcType=INTEGER},
      business_key = #{businessKey,jdbcType=VARCHAR},
      dept_id = #{deptId,jdbcType=INTEGER},
      dept_name = #{deptName,jdbcType=VARCHAR},
      supervise_type = #{superviseType,jdbcType=VARCHAR},
      task_source = #{taskSource,jdbcType=VARCHAR},
      task_definition = #{taskDefinition,jdbcType=VARCHAR},
      time_limit = #{timeLimit,jdbcType=VARCHAR},
      feedback_time = #{feedbackTime,jdbcType=VARCHAR},
      transaction_plan = #{transactionPlan,jdbcType=VARCHAR},
      transactor = #{transactor,jdbcType=VARCHAR},
      transactor_name = #{transactorName,jdbcType=VARCHAR},
      company_leader_opinion = #{companyLeaderOpinion,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=VARCHAR},
      creator_name = #{creatorName,jdbcType=VARCHAR},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      is_deleted = #{deleted,jdbcType=BIT},
      is_process_end = #{processEnd,jdbcType=BIT},
      process_instance_id = #{processInstanceId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, supervise_id, business_key, dept_id, dept_name, supervise_type, task_source, 
    task_definition, time_limit, feedback_time, transaction_plan, transactor, transactor_name, 
    company_leader_opinion, remark, creator, creator_name, gmt_create, gmt_modified, 
    is_deleted, is_process_end, process_instance_id
    from five_oa_supervise_detail
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, supervise_id, business_key, dept_id, dept_name, supervise_type, task_source, 
    task_definition, time_limit, feedback_time, transaction_plan, transactor, transactor_name, 
    company_leader_opinion, remark, creator, creator_name, gmt_create, gmt_modified, 
    is_deleted, is_process_end, process_instance_id
    from five_oa_supervise_detail
    <include refid="Base_Where_List" />
     order by id desc
  </select>
  <sql id="Base_Where_List">
    <where>
      <if test="id != null">
         AND id = #{id}
      </if>
      <if test="superviseId != null">
         AND supervise_id = #{superviseId}
      </if>
      <if test="businessKey != null and businessKey != ''">
         AND business_key = #{businessKey}
      </if>
      <if test="deptId != null">
         AND dept_id = #{deptId}
      </if>
      <if test="deptName != null and deptName != ''">
         AND dept_name = #{deptName}
      </if>
      <if test="superviseType != null and superviseType != ''">
         AND supervise_type = #{superviseType}
      </if>
      <if test="taskSource != null and taskSource != ''">
         AND task_source = #{taskSource}
      </if>
      <if test="taskDefinition != null and taskDefinition != ''">
         AND task_definition = #{taskDefinition}
      </if>
      <if test="timeLimit != null and timeLimit != ''">
         AND time_limit = #{timeLimit}
      </if>
      <if test="feedbackTime != null and feedbackTime != ''">
         AND feedback_time = #{feedbackTime}
      </if>
      <if test="transactionPlan != null and transactionPlan != ''">
         AND transaction_plan = #{transactionPlan}
      </if>
      <if test="transactor != null and transactor != ''">
         AND transactor = #{transactor}
      </if>
      <if test="transactorName != null and transactorName != ''">
         AND transactor_name = #{transactorName}
      </if>
      <if test="companyLeaderOpinion != null and companyLeaderOpinion != ''">
         AND company_leader_opinion = #{companyLeaderOpinion}
      </if>
      <if test="remark != null and remark != ''">
         AND remark = #{remark}
      </if>
      <if test="creator != null and creator != ''">
         AND creator = #{creator}
      </if>
      <if test="creatorName != null and creatorName != ''">
         AND creator_name = #{creatorName}
      </if>
      <if test="gmtCreate != null">
         AND gmt_create = #{gmtCreate}
      </if>
      <if test="gmtModified != null">
         AND gmt_modified = #{gmtModified}
      </if>
      <if test="deleted != null">
         AND is_deleted = #{deleted}
      </if>
      <if test="processEnd != null">
         AND is_process_end = #{processEnd}
      </if>
      <if test="processInstanceId != null and processInstanceId != ''">
         AND process_instance_id = #{processInstanceId}
      </if>
    </where>
  </sql>
</mapper>