<!DOCTYPE html>
<html lang="zh-cmn-Hans" xmlns:th="http://www.thymeleaf.org">
<br/>

<!-- begin:: Content -->
<div class="kt-container  kt-grid__item kt-grid__item--fluid">

    <div class="kt-portlet">
        <div class="kt-portlet__head kt-portlet__head--lg">
            <div class="kt-portlet__head-label">
												<span class="kt-portlet__head-icon">
													<i class="kt-font-brand flaticon2-document"></i>
												</span>
                <h3 class="kt-portlet__head-title">
                    流程定义
                </h3>
            </div>
            <div class="kt-portlet__head-toolbar">
                <div class="kt-portlet__head-wrapper">
                    <div class="kt-portlet__head-actions">

                    </div>
                </div>
            </div>
        </div>
        <div class="kt-portlet__body">
            <!--begin: Datatable -->
            <div class="dataTables_wrapper dt-bootstrap4">
                <div class="row">
                    <div class="col-sm-6 text-left">
                        <div class="dataTables_filter">
                            <label><input type="text"
                                                                            class="form-control form-control-sm"
                                                                            placeholder="流程标识"
                                                                            ng-model="vm.params.modelKey"/></label>
                            <label><input type="text"
                                                 class="form-control form-control-sm"
                                                 placeholder="流程名称"
                                                 ng-model="vm.params.modelName"/></label>
                            <label style="margin-left: 10px;margin-right: 10px;"><select
                                    ng-options="s.code as s.name for s in vm.modelCategoryList"
                                    ng-model="vm.params.modelCategory" class="form-control form-control-sm"></select>
                            </label>

                            <a class="btn btn-sm btn-label-linkedin" ng-click="vm.queryData();"><i class="fa fa-search"></i>查询</a>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <table class="table table-striped- table-bordered table-hover table-checkable dataTable dtr-inline">
                            <thead>
                            <tr>
                                <th style="width: 20px;">#</th>
                                <th style="width: 80px;">客户</th>
                                <th style="width: 100px;">流程类别</th>
                                <th>流程标识</th>
                                <th>流程名称</th>
                                <th style="width: 60px;">版本</th>
                                <th style="width: 60px;">运行</th>
                                <th style="width: 60px;">完成</th>
                                <th style="width: 60px;">删除</th>
                                <th style="width: 50px;">操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="item in vm.pageInfo.list">
                                <td ng-bind="$index+vm.pageInfo.startRow"></td>
                                <td ng-bind="item.tenantId"></td>
                                <td ng-bind="item.category"></td>
                                <td ng-click="vm.showImage(item);" style="cursor: pointer;">
                                    <strong ng-bind="item.id"></strong>
                                    <i class="flaticon2-image-file"></i>
                                </td>
                                <td ng-bind="item.name"></td>
                                <td ng-bind="item.version"></td>
                                <td ng-bind="item.unfinished"></td>
                                <td ng-bind="item.finished"></td>
                                <td ng-bind="item.deleted"></td>
                                <td>
                                    <span class="kt-badge kt-badge--inline kt-badge--danger cursorPointer"  ng-if="(item.finished+item.unfinished+item.deleted)==0"  ng-click="vm.remove(item.deploymentId);">删除</span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <my-pager data-page-info="vm.pageInfo" on-load="vm.loadPagedData()"></my-pager>
            </div>
            <!--end: Datatable -->
        </div>
    </div>
</div>
<!-- end:: Content -->


<!-- Modal -->
<div class="modal fade" id="definitionImageModal">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" ng-bind="vm.item.name+' '+vm.item.id">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <form class="kt-form">
                    <div class="kt-portlet__body">
                        <img ng-src="{{'/act/processDefinition/image/'+vm.item.deploymentId}}" class="img-responsive" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

</html>