<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cmcu.mcc.sys.dao.CoAppMapper">
  <resultMap id="BaseResultMap" type="com.cmcu.mcc.sys.entity.CoApp">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="c_code" jdbcType="VARCHAR" property="cCode" />
    <result column="app_version" jdbcType="VARCHAR" property="appVersion" />
    <result column="app_message" jdbcType="VARCHAR" property="appMessage" />
    <result column="app_path" jdbcType="VARCHAR" property="appPath" />
    <result column="is_deleted" jdbcType="BIT" property="deleted" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from co_app
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cmcu.mcc.sys.entity.CoApp">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into co_app (c_code, app_version, app_message, 
      app_path, is_deleted, remark
      )
    values (#{cCode,jdbcType=VARCHAR}, #{appVersion,jdbcType=VARCHAR}, #{appMessage,jdbcType=VARCHAR}, 
      #{appPath,jdbcType=VARCHAR}, #{deleted,jdbcType=BIT}, #{remark,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.cmcu.mcc.sys.entity.CoApp">
    update co_app
    set c_code = #{cCode,jdbcType=VARCHAR},
      app_version = #{appVersion,jdbcType=VARCHAR},
      app_message = #{appMessage,jdbcType=VARCHAR},
      app_path = #{appPath,jdbcType=VARCHAR},
      is_deleted = #{deleted,jdbcType=BIT},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, c_code, app_version, app_message, app_path, is_deleted, remark
    from co_app
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, c_code, app_version, app_message, app_path, is_deleted, remark
    from co_app
    <include refid="Base_Where_List" />
  </select>
  <sql id="Base_Where_List">
    <where>
      <if test="id != null">
         AND id = #{id}
      </if>
      <if test="cCode != null and cCode != ''">
         AND c_code = #{cCode}
      </if>
      <if test="appVersion != null and appVersion != ''">
         AND app_version = #{appVersion}
      </if>
      <if test="appMessage != null and appMessage != ''">
         AND app_message = #{appMessage}
      </if>
      <if test="appPath != null and appPath != ''">
         AND app_path = #{appPath}
      </if>
      <if test="deleted != null">
         AND is_deleted = #{deleted}
      </if>
      <if test="remark != null and remark != ''">
         AND remark = #{remark}
      </if>
    </where>
  </sql>


  <select id="getLatest" resultMap="BaseResultMap">
    select *
    from co_app where is_deleted=0 order by id desc
    limit 1
  </select>

</mapper>