<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cmcu.mcc.sys.dao.SysAttachMapper">
    <resultMap id="BaseResultMap" type="com.cmcu.mcc.sys.entity.SysAttach">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="source" jdbcType="VARCHAR" property="source"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="size" jdbcType="BIGINT" property="size"/>
        <result column="md5" jdbcType="VARCHAR" property="md5"/>
        <result column="local_path" jdbcType="VARCHAR" property="localPath"/>
        <result column="creator" jdbcType="VARCHAR" property="creator"/>
        <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate"/>
        <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
    </resultMap>

    <sql id="Base_Where_List">
        <where>
            <if test="id != null">
                AND id = #{id,jdbcType=INTEGER}
            </if>
            <if test="md5 != null">
                AND md5 = #{md5,jdbcType=VARCHAR}
            </if>


            <if test="creator != null">
                AND creator = #{creator,jdbcType=VARCHAR}
            </if>
            <if test="source != null">
                AND source = #{source,jdbcType=VARCHAR}
            </if>
            <if test="name != null">
                AND name like CONCAT('%',#{name},'%')
            </if>
            <if test="idList != null">
                AND id in
                <foreach collection="idList" open="(" close=")" separator="," item="id" index="i">
                    #{id}
                </foreach>
            </if>
            <if test="fileNames != null and fileNames != '' ">
                AND (
                name like CONCAT('%',#{fileNames},'%')
                )
            </if>
            <if test="userName != null and userName != '' ">
                AND (
                creator like CONCAT('%',#{userName},'%')
                )
            </if>
        </where>
    </sql>


    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sys_attach
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.cmcu.mcc.sys.entity.SysAttach">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into sys_attach (source, name, size,
        md5, local_path, creator,
        gmt_create, gmt_modified, remark
        )
        values (#{source,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{size,jdbcType=BIGINT},
        #{md5,jdbcType=VARCHAR}, #{localPath,jdbcType=VARCHAR}, #{creator,jdbcType=VARCHAR},
        #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR}
        )
    </insert>
    <update id="updateByPrimaryKey" parameterType="com.cmcu.mcc.sys.entity.SysAttach">
    update sys_attach
    set source = #{source,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      size = #{size,jdbcType=BIGINT},
      md5 = #{md5,jdbcType=VARCHAR},
      local_path = #{localPath,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=VARCHAR},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, source, name, size, md5, local_path, creator, gmt_create, gmt_modified,
    remark
    from sys_attach
    where id = #{id,jdbcType=INTEGER}
  </select>

    <select id="selectByMd5" parameterType="java.lang.String" resultMap="BaseResultMap">
    select *
    from sys_attach
    where md5 = #{md5,jdbcType=VARCHAR}
    order by id desc
    limit 1
  </select>

    <select id="selectAll" parameterType="java.util.Map" resultMap="BaseResultMap">
        select id, source, name, size, md5, local_path, creator, gmt_create, gmt_modified,
        remark
        from sys_attach

        <include refid="Base_Where_List"></include>
        order by id desc
    </select>


</mapper>
