<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cmcu.mcc.finance.dao.FiveFinanceProjectBudgetMapper">
  <resultMap id="BaseResultMap" type="com.cmcu.mcc.finance.entity.FiveFinanceProjectBudget">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="business_key" jdbcType="VARCHAR" property="businessKey" />
    <result column="form_no" jdbcType="VARCHAR" property="formNo" />
    <result column="dept_id" jdbcType="INTEGER" property="deptId" />
    <result column="dept_name" jdbcType="VARCHAR" property="deptName" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="creator_name" jdbcType="VARCHAR" property="creatorName" />
    <result column="is_deleted" jdbcType="BIT" property="deleted" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="is_process_end" jdbcType="BIT" property="processEnd" />
    <result column="process_instance_id" jdbcType="VARCHAR" property="processInstanceId" />
    <result column="contract_library_id" jdbcType="INTEGER" property="contractLibraryId" />
    <result column="contract_name" jdbcType="VARCHAR" property="contractName" />
    <result column="contract_no" jdbcType="VARCHAR" property="contractNo" />
    <result column="project_name" jdbcType="VARCHAR" property="projectName" />
    <result column="project_type" jdbcType="VARCHAR" property="projectType" />
    <result column="budget_total_money" jdbcType="VARCHAR" property="budgetTotalMoney" />
    <result column="duty_cost" jdbcType="VARCHAR" property="dutyCost" />
    <result column="duty_cost_proportion" jdbcType="VARCHAR" property="dutyCostProportion" />
    <result column="profit_proportion" jdbcType="VARCHAR" property="profitProportion" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from five_finance_project_budget
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cmcu.mcc.finance.entity.FiveFinanceProjectBudget">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into five_finance_project_budget (business_key, form_no, dept_id, 
      dept_name, remark, creator, 
      creator_name, is_deleted, gmt_create, 
      gmt_modified, is_process_end, process_instance_id, 
      contract_library_id, contract_name, contract_no, 
      project_name, project_type, budget_total_money, 
      duty_cost, duty_cost_proportion, profit_proportion
      )
    values (#{businessKey,jdbcType=VARCHAR}, #{formNo,jdbcType=VARCHAR}, #{deptId,jdbcType=INTEGER}, 
      #{deptName,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{creator,jdbcType=VARCHAR}, 
      #{creatorName,jdbcType=VARCHAR}, #{deleted,jdbcType=BIT}, #{gmtCreate,jdbcType=TIMESTAMP}, 
      #{gmtModified,jdbcType=TIMESTAMP}, #{processEnd,jdbcType=BIT}, #{processInstanceId,jdbcType=VARCHAR}, 
      #{contractLibraryId,jdbcType=INTEGER}, #{contractName,jdbcType=VARCHAR}, #{contractNo,jdbcType=VARCHAR}, 
      #{projectName,jdbcType=VARCHAR}, #{projectType,jdbcType=VARCHAR}, #{budgetTotalMoney,jdbcType=VARCHAR}, 
      #{dutyCost,jdbcType=VARCHAR}, #{dutyCostProportion,jdbcType=VARCHAR}, #{profitProportion,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.cmcu.mcc.finance.entity.FiveFinanceProjectBudget">
    update five_finance_project_budget
    set business_key = #{businessKey,jdbcType=VARCHAR},
      form_no = #{formNo,jdbcType=VARCHAR},
      dept_id = #{deptId,jdbcType=INTEGER},
      dept_name = #{deptName,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=VARCHAR},
      creator_name = #{creatorName,jdbcType=VARCHAR},
      is_deleted = #{deleted,jdbcType=BIT},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      is_process_end = #{processEnd,jdbcType=BIT},
      process_instance_id = #{processInstanceId,jdbcType=VARCHAR},
      contract_library_id = #{contractLibraryId,jdbcType=INTEGER},
      contract_name = #{contractName,jdbcType=VARCHAR},
      contract_no = #{contractNo,jdbcType=VARCHAR},
      project_name = #{projectName,jdbcType=VARCHAR},
      project_type = #{projectType,jdbcType=VARCHAR},
      budget_total_money = #{budgetTotalMoney,jdbcType=VARCHAR},
      duty_cost = #{dutyCost,jdbcType=VARCHAR},
      duty_cost_proportion = #{dutyCostProportion,jdbcType=VARCHAR},
      profit_proportion = #{profitProportion,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, business_key, form_no, dept_id, dept_name, remark, creator, creator_name, 
    is_deleted, gmt_create, gmt_modified, is_process_end, process_instance_id, contract_library_id, 
    contract_name, contract_no, project_name, project_type, budget_total_money, duty_cost, 
    duty_cost_proportion, profit_proportion
    from five_finance_project_budget
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, business_key, form_no, dept_id, dept_name, remark, creator, creator_name, 
    is_deleted, gmt_create, gmt_modified, is_process_end, process_instance_id, contract_library_id, 
    contract_name, contract_no, project_name, project_type, budget_total_money, duty_cost, 
    duty_cost_proportion, profit_proportion
    from five_finance_project_budget
    <include refid="Base_Where_List" />
     order by id desc
  </select>
  <sql id="Base_Where_List">
    <where>
      <if test="id != null">
         AND id = #{id}
      </if>
      <if test="businessKey != null and businessKey != ''">
         AND business_key = #{businessKey}
      </if>
      <if test="formNo != null and formNo != ''">
         AND form_no = #{formNo}
      </if>
      <if test="deptId != null">
         AND dept_id = #{deptId}
      </if>
      <if test="deptName != null and deptName != ''">
         AND dept_name = #{deptName}
      </if>
      <if test="remark != null and remark != ''">
         AND remark = #{remark}
      </if>
      <if test="creator != null and creator != ''">
         AND creator = #{creator}
      </if>
      <if test="creatorName != null and creatorName != ''">
         AND creator_name = #{creatorName}
      </if>
      <if test="deleted != null">
         AND is_deleted = #{deleted}
      </if>
      <if test="gmtCreate != null">
         AND gmt_create = #{gmtCreate}
      </if>
      <if test="gmtModified != null">
         AND gmt_modified = #{gmtModified}
      </if>
      <if test="processEnd != null">
         AND is_process_end = #{processEnd}
      </if>
      <if test="processInstanceId != null and processInstanceId != ''">
         AND process_instance_id = #{processInstanceId}
      </if>
      <if test="contractLibraryId != null">
         AND contract_library_id = #{contractLibraryId}
      </if>
      <if test="contractName != null and contractName != ''">
         AND contract_name = #{contractName}
      </if>
      <if test="contractNo != null and contractNo != ''">
         AND contract_no = #{contractNo}
      </if>
      <if test="projectName != null and projectName != ''">
         AND project_name = #{projectName}
      </if>
      <if test="projectType != null and projectType != ''">
         AND project_type = #{projectType}
      </if>
      <if test="budgetTotalMoney != null and budgetTotalMoney != ''">
         AND budget_total_money = #{budgetTotalMoney}
      </if>
      <if test="dutyCost != null and dutyCost != ''">
         AND duty_cost = #{dutyCost}
      </if>
      <if test="dutyCostProportion != null and dutyCostProportion != ''">
         AND duty_cost_proportion = #{dutyCostProportion}
      </if>
      <if test="profitProportion != null and profitProportion != ''">
         AND profit_proportion = #{profitProportion}
      </if>
    </where>
  </sql>
</mapper>