<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cmcu.mcc.finance.dao.FiveFinanceSubpackagePaymentDetailMapper">
  <resultMap id="BaseResultMap" type="com.cmcu.mcc.finance.entity.FiveFinanceSubpackagePaymentDetail">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="subpackage_payment_id" jdbcType="INTEGER" property="subpackagePaymentId" />
    <result column="dept_id" jdbcType="INTEGER" property="deptId" />
    <result column="dept_name" jdbcType="VARCHAR" property="deptName" />
    <result column="applicant" jdbcType="VARCHAR" property="applicant" />
    <result column="applicant_name" jdbcType="VARCHAR" property="applicantName" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="creator_name" jdbcType="VARCHAR" property="creatorName" />
    <result column="is_deleted" jdbcType="BIT" property="deleted" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="payment_purpose" jdbcType="VARCHAR" property="paymentPurpose" />
    <result column="apply_money" jdbcType="VARCHAR" property="applyMoney" />
    <result column="replay_money" jdbcType="VARCHAR" property="replayMoney" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from five_finance_subpackage_payment_detail
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cmcu.mcc.finance.entity.FiveFinanceSubpackagePaymentDetail">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into five_finance_subpackage_payment_detail (subpackage_payment_id, dept_id, dept_name, 
      applicant, applicant_name, remark, 
      creator, creator_name, is_deleted, 
      gmt_create, gmt_modified, payment_purpose, 
      apply_money, replay_money)
    values (#{subpackagePaymentId,jdbcType=INTEGER}, #{deptId,jdbcType=INTEGER}, #{deptName,jdbcType=VARCHAR}, 
      #{applicant,jdbcType=VARCHAR}, #{applicantName,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{creator,jdbcType=VARCHAR}, #{creatorName,jdbcType=VARCHAR}, #{deleted,jdbcType=BIT}, 
      #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}, #{paymentPurpose,jdbcType=VARCHAR}, 
      #{applyMoney,jdbcType=VARCHAR}, #{replayMoney,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.cmcu.mcc.finance.entity.FiveFinanceSubpackagePaymentDetail">
    update five_finance_subpackage_payment_detail
    set subpackage_payment_id = #{subpackagePaymentId,jdbcType=INTEGER},
      dept_id = #{deptId,jdbcType=INTEGER},
      dept_name = #{deptName,jdbcType=VARCHAR},
      applicant = #{applicant,jdbcType=VARCHAR},
      applicant_name = #{applicantName,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=VARCHAR},
      creator_name = #{creatorName,jdbcType=VARCHAR},
      is_deleted = #{deleted,jdbcType=BIT},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      payment_purpose = #{paymentPurpose,jdbcType=VARCHAR},
      apply_money = #{applyMoney,jdbcType=VARCHAR},
      replay_money = #{replayMoney,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, subpackage_payment_id, dept_id, dept_name, applicant, applicant_name, 
    remark, creator, creator_name, is_deleted, gmt_create, gmt_modified, payment_purpose, 
    apply_money, replay_money
    from five_finance_subpackage_payment_detail
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, subpackage_payment_id, dept_id, dept_name, applicant, applicant_name, 
    remark, creator, creator_name, is_deleted, gmt_create, gmt_modified, payment_purpose, 
    apply_money, replay_money
    from five_finance_subpackage_payment_detail
    <include refid="Base_Where_List" />
    <include refid="Base_Where_List1" />
     order by id desc
  </select>
  <sql id="Base_Where_List">
    <where>
      <if test="id != null and isLikeSelect==null">
         AND id = #{id}
      </if>
      <if test="subpackagePaymentId != null and isLikeSelect==null">
         AND subpackage_payment_id = #{subpackagePaymentId}
      </if>
      <if test="deptId != null and isLikeSelect==null">
         AND dept_id = #{deptId}
      </if>
      <if test="deptName != null and isLikeSelect==null and deptName != ''">
         AND dept_name = #{deptName}
      </if>
      <if test="applicant != null and isLikeSelect==null and applicant != ''">
         AND applicant = #{applicant}
      </if>
      <if test="applicantName != null and isLikeSelect==null and applicantName != ''">
         AND applicant_name = #{applicantName}
      </if>
      <if test="remark != null and isLikeSelect==null and remark != ''">
         AND remark = #{remark}
      </if>
      <if test="creator != null and isLikeSelect==null and creator != ''">
         AND creator = #{creator}
      </if>
      <if test="creatorName != null and isLikeSelect==null and creatorName != ''">
         AND creator_name = #{creatorName}
      </if>
      <if test="deleted != null and isLikeSelect==null">
         AND is_deleted = #{deleted}
      </if>
      <if test="gmtCreate != null and isLikeSelect==null">
         AND gmt_create = #{gmtCreate}
      </if>
      <if test="gmtModified != null and isLikeSelect==null">
         AND gmt_modified = #{gmtModified}
      </if>
      <if test="paymentPurpose != null and isLikeSelect==null and paymentPurpose != ''">
         AND payment_purpose = #{paymentPurpose}
      </if>
      <if test="applyMoney != null and isLikeSelect==null and applyMoney != ''">
         AND apply_money = #{applyMoney}
      </if>
      <if test="replayMoney != null and isLikeSelect==null and replayMoney != ''">
         AND replay_money = #{replayMoney}
      </if>
    </where>
  </sql>
  <sql id="Base_Where_List1">
    <where>
      <if test="deptName != null and isLikeSelect!= null and deptName != '' ">
         AND dept_name like  CONCAT('%',#{deptName},'%')
      </if>
      <if test="applicant != null and isLikeSelect!= null and applicant != '' ">
         AND applicant like  CONCAT('%',#{applicant},'%')
      </if>
      <if test="applicantName != null and isLikeSelect!= null and applicantName != '' ">
         AND applicant_name like  CONCAT('%',#{applicantName},'%')
      </if>
      <if test="remark != null and isLikeSelect!= null and remark != '' ">
         AND remark like  CONCAT('%',#{remark},'%')
      </if>
      <if test="creator != null and isLikeSelect!= null and creator != '' ">
         AND creator like  CONCAT('%',#{creator},'%')
      </if>
      <if test="creatorName != null and isLikeSelect!= null and creatorName != '' ">
         AND creator_name like  CONCAT('%',#{creatorName},'%')
      </if>
      <if test="paymentPurpose != null and isLikeSelect!= null and paymentPurpose != '' ">
         AND payment_purpose like  CONCAT('%',#{paymentPurpose},'%')
      </if>
      <if test="applyMoney != null and isLikeSelect!= null and applyMoney != '' ">
         AND apply_money like  CONCAT('%',#{applyMoney},'%')
      </if>
      <if test="replayMoney != null and isLikeSelect!= null and replayMoney != '' ">
         AND replay_money like  CONCAT('%',#{replayMoney},'%')
      </if>
      <if test="deleted != null and isLikeSelect!=null">
         AND is_deleted = #{deleted}
      </if>
      <if test="deptId != null and isLikeSelect!=null">
         AND dept_id = #{deptId}
      </if>
    </where>
  </sql>
</mapper>