<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cmcu.mcc.finance.dao.FiveFinanceOutSupplyMapper">
  <resultMap id="BaseResultMap" type="com.cmcu.mcc.finance.entity.FiveFinanceOutSupply">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="business_key" jdbcType="VARCHAR" property="businessKey" />
    <result column="form_no" jdbcType="VARCHAR" property="formNo" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="creator_name" jdbcType="VARCHAR" property="creatorName" />
    <result column="is_deleted" jdbcType="BIT" property="deleted" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="is_process_end" jdbcType="BIT" property="processEnd" />
    <result column="process_instance_id" jdbcType="VARCHAR" property="processInstanceId" />
    <result column="dept_id" jdbcType="INTEGER" property="deptId" />
    <result column="dept_name" jdbcType="VARCHAR" property="deptName" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="is_bank_balance" jdbcType="BIT" property="bankBalance" />
    <result column="begin_year" jdbcType="VARCHAR" property="beginYear" />
    <result column="end_year" jdbcType="VARCHAR" property="endYear" />
    <result column="is_asset_liabilities" jdbcType="BIT" property="assetLiabilities" />
    <result column="is_profits_allocation" jdbcType="BIT" property="profitsAllocation" />
    <result column="is_cash" jdbcType="BIT" property="cash" />
    <result column="is_other" jdbcType="BIT" property="other" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from five_finance_out_supply
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cmcu.mcc.finance.entity.FiveFinanceOutSupply">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into five_finance_out_supply (business_key, form_no, remark, 
      creator, creator_name, is_deleted, 
      gmt_create, gmt_modified, is_process_end, 
      process_instance_id, dept_id, dept_name, 
      type, is_bank_balance, begin_year, 
      end_year, is_asset_liabilities, is_profits_allocation, 
      is_cash, is_other)
    values (#{businessKey,jdbcType=VARCHAR}, #{formNo,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{creator,jdbcType=VARCHAR}, #{creatorName,jdbcType=VARCHAR}, #{deleted,jdbcType=BIT}, 
      #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}, #{processEnd,jdbcType=BIT}, 
      #{processInstanceId,jdbcType=VARCHAR}, #{deptId,jdbcType=INTEGER}, #{deptName,jdbcType=VARCHAR}, 
      #{type,jdbcType=VARCHAR}, #{bankBalance,jdbcType=BIT}, #{beginYear,jdbcType=VARCHAR}, 
      #{endYear,jdbcType=VARCHAR}, #{assetLiabilities,jdbcType=BIT}, #{profitsAllocation,jdbcType=BIT}, 
      #{cash,jdbcType=BIT}, #{other,jdbcType=BIT})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.cmcu.mcc.finance.entity.FiveFinanceOutSupply">
    update five_finance_out_supply
    set business_key = #{businessKey,jdbcType=VARCHAR},
      form_no = #{formNo,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=VARCHAR},
      creator_name = #{creatorName,jdbcType=VARCHAR},
      is_deleted = #{deleted,jdbcType=BIT},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      is_process_end = #{processEnd,jdbcType=BIT},
      process_instance_id = #{processInstanceId,jdbcType=VARCHAR},
      dept_id = #{deptId,jdbcType=INTEGER},
      dept_name = #{deptName,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      is_bank_balance = #{bankBalance,jdbcType=BIT},
      begin_year = #{beginYear,jdbcType=VARCHAR},
      end_year = #{endYear,jdbcType=VARCHAR},
      is_asset_liabilities = #{assetLiabilities,jdbcType=BIT},
      is_profits_allocation = #{profitsAllocation,jdbcType=BIT},
      is_cash = #{cash,jdbcType=BIT},
      is_other = #{other,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, business_key, form_no, remark, creator, creator_name, is_deleted, gmt_create, 
    gmt_modified, is_process_end, process_instance_id, dept_id, dept_name, type, is_bank_balance, 
    begin_year, end_year, is_asset_liabilities, is_profits_allocation, is_cash, is_other
    from five_finance_out_supply
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, business_key, form_no, remark, creator, creator_name, is_deleted, gmt_create, 
    gmt_modified, is_process_end, process_instance_id, dept_id, dept_name, type, is_bank_balance, 
    begin_year, end_year, is_asset_liabilities, is_profits_allocation, is_cash, is_other
    from five_finance_out_supply
    <include refid="Base_Where_List" />
     order by id desc
  </select>
  <sql id="Base_Where_List">
    <where>
      <if test="id != null">
         AND id = #{id}
      </if>
      <if test="businessKey != null and businessKey != ''">
         AND business_key = #{businessKey}
      </if>
      <if test="formNo != null and formNo != ''">
         AND form_no = #{formNo}
      </if>
      <if test="remark != null and remark != ''">
         AND remark = #{remark}
      </if>
      <if test="creator != null and creator != ''">
         AND creator = #{creator}
      </if>
      <if test="creatorName != null and creatorName != ''">
         AND creator_name = #{creatorName}
      </if>
      <if test="deleted != null">
         AND is_deleted = #{deleted}
      </if>
      <if test="gmtCreate != null">
         AND gmt_create = #{gmtCreate}
      </if>
      <if test="gmtModified != null">
         AND gmt_modified = #{gmtModified}
      </if>
      <if test="processEnd != null">
         AND is_process_end = #{processEnd}
      </if>
      <if test="processInstanceId != null and processInstanceId != ''">
         AND process_instance_id = #{processInstanceId}
      </if>
      <if test="deptId != null">
         AND dept_id = #{deptId}
      </if>
      <if test="deptName != null and deptName != ''">
         AND dept_name = #{deptName}
      </if>
      <if test="type != null and type != ''">
         AND type = #{type}
      </if>
      <if test="bankBalance != null">
         AND is_bank_balance = #{bankBalance}
      </if>
      <if test="beginYear != null and beginYear != ''">
         AND begin_year = #{beginYear}
      </if>
      <if test="endYear != null and endYear != ''">
         AND end_year = #{endYear}
      </if>
      <if test="assetLiabilities != null">
         AND is_asset_liabilities = #{assetLiabilities}
      </if>
      <if test="profitsAllocation != null">
         AND is_profits_allocation = #{profitsAllocation}
      </if>
      <if test="cash != null">
         AND is_cash = #{cash}
      </if>
      <if test="other != null">
         AND is_other = #{other}
      </if>
    </where>
  </sql>
</mapper>