<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cmcu.mcc.five.dao.FiveEdArrangeMapper">
  <resultMap id="BaseResultMap" type="com.cmcu.mcc.five.entity.FiveEdArrange">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="business_key" jdbcType="VARCHAR" property="businessKey" />
    <result column="step_id" jdbcType="INTEGER" property="stepId" />
    <result column="project_id" jdbcType="INTEGER" property="projectId" />
    <result column="project_no" jdbcType="VARCHAR" property="projectNo" />
    <result column="dept_name" jdbcType="VARCHAR" property="deptName" />
    <result column="project_name" jdbcType="VARCHAR" property="projectName" />
    <result column="stage_name" jdbcType="VARCHAR" property="stageName" />
    <result column="step_name" jdbcType="VARCHAR" property="stepName" />
    <result column="form_no" jdbcType="VARCHAR" property="formNo" />
    <result column="contract_no" jdbcType="VARCHAR" property="contractNo" />
    <result column="plan_discuss_time" jdbcType="VARCHAR" property="planDiscussTime" />
    <result column="review_type" jdbcType="VARCHAR" property="reviewType" />
    <result column="design_review_type" jdbcType="VARCHAR" property="designReviewType" />
    <result column="design_review_time" jdbcType="VARCHAR" property="designReviewTime" />
    <result column="submit_total_designer_time" jdbcType="VARCHAR" property="submitTotalDesignerTime" />
    <result column="accept_time" jdbcType="VARCHAR" property="acceptTime" />
    <result column="send_picture_time" jdbcType="VARCHAR" property="sendPictureTime" />
    <result column="design_major_list" jdbcType="VARCHAR" property="designMajorList" />
    <result column="plan_major_list" jdbcType="VARCHAR" property="planMajorList" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="is_deleted" jdbcType="BIT" property="deleted" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="creator_name" jdbcType="VARCHAR" property="creatorName" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="process_instance_id" jdbcType="VARCHAR" property="processInstanceId" />
    <result column="is_process_end" jdbcType="BIT" property="processEnd" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from five_ed_arrange
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cmcu.mcc.five.entity.FiveEdArrange">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into five_ed_arrange (business_key, step_id, project_id, 
      project_no, dept_name, project_name, 
      stage_name, step_name, form_no, 
      contract_no, plan_discuss_time, review_type, 
      design_review_type, design_review_time, submit_total_designer_time, 
      accept_time, send_picture_time, design_major_list, 
      plan_major_list, remark, is_deleted, 
      creator, creator_name, gmt_create, 
      gmt_modified, process_instance_id, is_process_end
      )
    values (#{businessKey,jdbcType=VARCHAR}, #{stepId,jdbcType=INTEGER}, #{projectId,jdbcType=INTEGER}, 
      #{projectNo,jdbcType=VARCHAR}, #{deptName,jdbcType=VARCHAR}, #{projectName,jdbcType=VARCHAR}, 
      #{stageName,jdbcType=VARCHAR}, #{stepName,jdbcType=VARCHAR}, #{formNo,jdbcType=VARCHAR}, 
      #{contractNo,jdbcType=VARCHAR}, #{planDiscussTime,jdbcType=VARCHAR}, #{reviewType,jdbcType=VARCHAR}, 
      #{designReviewType,jdbcType=VARCHAR}, #{designReviewTime,jdbcType=VARCHAR}, #{submitTotalDesignerTime,jdbcType=VARCHAR}, 
      #{acceptTime,jdbcType=VARCHAR}, #{sendPictureTime,jdbcType=VARCHAR}, #{designMajorList,jdbcType=VARCHAR}, 
      #{planMajorList,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{deleted,jdbcType=BIT}, 
      #{creator,jdbcType=VARCHAR}, #{creatorName,jdbcType=VARCHAR}, #{gmtCreate,jdbcType=TIMESTAMP}, 
      #{gmtModified,jdbcType=TIMESTAMP}, #{processInstanceId,jdbcType=VARCHAR}, #{processEnd,jdbcType=BIT}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.cmcu.mcc.five.entity.FiveEdArrange">
    update five_ed_arrange
    set business_key = #{businessKey,jdbcType=VARCHAR},
      step_id = #{stepId,jdbcType=INTEGER},
      project_id = #{projectId,jdbcType=INTEGER},
      project_no = #{projectNo,jdbcType=VARCHAR},
      dept_name = #{deptName,jdbcType=VARCHAR},
      project_name = #{projectName,jdbcType=VARCHAR},
      stage_name = #{stageName,jdbcType=VARCHAR},
      step_name = #{stepName,jdbcType=VARCHAR},
      form_no = #{formNo,jdbcType=VARCHAR},
      contract_no = #{contractNo,jdbcType=VARCHAR},
      plan_discuss_time = #{planDiscussTime,jdbcType=VARCHAR},
      review_type = #{reviewType,jdbcType=VARCHAR},
      design_review_type = #{designReviewType,jdbcType=VARCHAR},
      design_review_time = #{designReviewTime,jdbcType=VARCHAR},
      submit_total_designer_time = #{submitTotalDesignerTime,jdbcType=VARCHAR},
      accept_time = #{acceptTime,jdbcType=VARCHAR},
      send_picture_time = #{sendPictureTime,jdbcType=VARCHAR},
      design_major_list = #{designMajorList,jdbcType=VARCHAR},
      plan_major_list = #{planMajorList,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      is_deleted = #{deleted,jdbcType=BIT},
      creator = #{creator,jdbcType=VARCHAR},
      creator_name = #{creatorName,jdbcType=VARCHAR},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      process_instance_id = #{processInstanceId,jdbcType=VARCHAR},
      is_process_end = #{processEnd,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, business_key, step_id, project_id, project_no, dept_name, project_name, 
    stage_name, step_name, form_no, contract_no, plan_discuss_time, review_type, design_review_type, 
    design_review_time, submit_total_designer_time, accept_time, send_picture_time, design_major_list, 
    plan_major_list, remark, is_deleted, creator, creator_name, gmt_create, gmt_modified, 
    process_instance_id, is_process_end
    from five_ed_arrange
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, business_key, step_id, project_id, project_no, dept_name, project_name, 
    stage_name, step_name, form_no, contract_no, plan_discuss_time, review_type, design_review_type, 
    design_review_time, submit_total_designer_time, accept_time, send_picture_time, design_major_list, 
    plan_major_list, remark, is_deleted, creator, creator_name, gmt_create, gmt_modified, 
    process_instance_id, is_process_end
    from five_ed_arrange
    <include refid="Base_Where_List" />
     order by id desc
  </select>
  <sql id="Base_Where_List">
    <where>
      <if test="id != null">
         AND id = #{id}
      </if>
      <if test="businessKey != null and businessKey != ''">
         AND business_key = #{businessKey}
      </if>
      <if test="stepId != null">
         AND step_id = #{stepId}
      </if>
      <if test="projectId != null">
         AND project_id = #{projectId}
      </if>
      <if test="projectNo != null and projectNo != ''">
         AND project_no = #{projectNo}
      </if>
      <if test="deptName != null and deptName != ''">
         AND dept_name = #{deptName}
      </if>
      <if test="projectName != null and projectName != ''">
         AND project_name = #{projectName}
      </if>
      <if test="stageName != null and stageName != ''">
         AND stage_name = #{stageName}
      </if>
      <if test="stepName != null and stepName != ''">
         AND step_name = #{stepName}
      </if>
      <if test="formNo != null and formNo != ''">
         AND form_no = #{formNo}
      </if>
      <if test="contractNo != null and contractNo != ''">
         AND contract_no = #{contractNo}
      </if>
      <if test="planDiscussTime != null and planDiscussTime != ''">
         AND plan_discuss_time = #{planDiscussTime}
      </if>
      <if test="reviewType != null and reviewType != ''">
         AND review_type = #{reviewType}
      </if>
      <if test="designReviewType != null and designReviewType != ''">
         AND design_review_type = #{designReviewType}
      </if>
      <if test="designReviewTime != null and designReviewTime != ''">
         AND design_review_time = #{designReviewTime}
      </if>
      <if test="submitTotalDesignerTime != null and submitTotalDesignerTime != ''">
         AND submit_total_designer_time = #{submitTotalDesignerTime}
      </if>
      <if test="acceptTime != null and acceptTime != ''">
         AND accept_time = #{acceptTime}
      </if>
      <if test="sendPictureTime != null and sendPictureTime != ''">
         AND send_picture_time = #{sendPictureTime}
      </if>
      <if test="designMajorList != null and designMajorList != ''">
         AND design_major_list = #{designMajorList}
      </if>
      <if test="planMajorList != null and planMajorList != ''">
         AND plan_major_list = #{planMajorList}
      </if>
      <if test="remark != null and remark != ''">
         AND remark = #{remark}
      </if>
      <if test="deleted != null">
         AND is_deleted = #{deleted}
      </if>
      <if test="creator != null and creator != ''">
         AND creator = #{creator}
      </if>
      <if test="creatorName != null and creatorName != ''">
         AND creator_name = #{creatorName}
      </if>
      <if test="gmtCreate != null">
         AND gmt_create = #{gmtCreate}
      </if>
      <if test="gmtModified != null">
         AND gmt_modified = #{gmtModified}
      </if>
      <if test="processInstanceId != null and processInstanceId != ''">
         AND process_instance_id = #{processInstanceId}
      </if>
      <if test="processEnd != null">
         AND is_process_end = #{processEnd}
      </if>
    </where>
  </sql>
</mapper>