<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cmcu.mcc.five.dao.FiveOaNonIndependentDeptSetMapper">
  <resultMap id="BaseResultMap" type="com.cmcu.mcc.five.entity.FiveOaNonIndependentDeptSet">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="business_key" jdbcType="VARCHAR" property="businessKey" />
    <result column="form_no" jdbcType="VARCHAR" property="formNo" />
    <result column="center_name" jdbcType="VARCHAR" property="centerName" />
    <result column="dept_id" jdbcType="INTEGER" property="deptId" />
    <result column="dept_name" jdbcType="VARCHAR" property="deptName" />
    <result column="research_direction" jdbcType="VARCHAR" property="researchDirection" />
    <result column="link_man" jdbcType="VARCHAR" property="linkMan" />
    <result column="link_man_name" jdbcType="VARCHAR" property="linkManName" />
    <result column="link_man_phone" jdbcType="VARCHAR" property="linkManPhone" />
    <result column="dept_charge_man" jdbcType="VARCHAR" property="deptChargeMan" />
    <result column="dept_charge_man_name" jdbcType="VARCHAR" property="deptChargeManName" />
    <result column="dept_leader_comment" jdbcType="VARCHAR" property="deptLeaderComment" />
    <result column="specialist_comment" jdbcType="VARCHAR" property="specialistComment" />
    <result column="technology_dept_man" jdbcType="VARCHAR" property="technologyDeptMan" />
    <result column="technology_dept_man_name" jdbcType="VARCHAR" property="technologyDeptManName" />
    <result column="technology_dept_comment" jdbcType="VARCHAR" property="technologyDeptComment" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="creator_name" jdbcType="VARCHAR" property="creatorName" />
    <result column="is_deleted" jdbcType="BIT" property="deleted" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="process_instance_id" jdbcType="VARCHAR" property="processInstanceId" />
    <result column="is_process_end" jdbcType="BIT" property="processEnd" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from five_oa_non_independent_dept_set
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cmcu.mcc.five.entity.FiveOaNonIndependentDeptSet">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into five_oa_non_independent_dept_set (business_key, form_no, center_name, 
      dept_id, dept_name, research_direction, 
      link_man, link_man_name, link_man_phone, 
      dept_charge_man, dept_charge_man_name, dept_leader_comment, 
      specialist_comment, technology_dept_man, technology_dept_man_name, 
      technology_dept_comment, remark, creator, 
      creator_name, is_deleted, gmt_create, 
      gmt_modified, process_instance_id, is_process_end
      )
    values (#{businessKey,jdbcType=VARCHAR}, #{formNo,jdbcType=VARCHAR}, #{centerName,jdbcType=VARCHAR}, 
      #{deptId,jdbcType=INTEGER}, #{deptName,jdbcType=VARCHAR}, #{researchDirection,jdbcType=VARCHAR}, 
      #{linkMan,jdbcType=VARCHAR}, #{linkManName,jdbcType=VARCHAR}, #{linkManPhone,jdbcType=VARCHAR}, 
      #{deptChargeMan,jdbcType=VARCHAR}, #{deptChargeManName,jdbcType=VARCHAR}, #{deptLeaderComment,jdbcType=VARCHAR}, 
      #{specialistComment,jdbcType=VARCHAR}, #{technologyDeptMan,jdbcType=VARCHAR}, #{technologyDeptManName,jdbcType=VARCHAR}, 
      #{technologyDeptComment,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{creator,jdbcType=VARCHAR}, 
      #{creatorName,jdbcType=VARCHAR}, #{deleted,jdbcType=BIT}, #{gmtCreate,jdbcType=TIMESTAMP}, 
      #{gmtModified,jdbcType=TIMESTAMP}, #{processInstanceId,jdbcType=VARCHAR}, #{processEnd,jdbcType=BIT}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.cmcu.mcc.five.entity.FiveOaNonIndependentDeptSet">
    update five_oa_non_independent_dept_set
    set business_key = #{businessKey,jdbcType=VARCHAR},
      form_no = #{formNo,jdbcType=VARCHAR},
      center_name = #{centerName,jdbcType=VARCHAR},
      dept_id = #{deptId,jdbcType=INTEGER},
      dept_name = #{deptName,jdbcType=VARCHAR},
      research_direction = #{researchDirection,jdbcType=VARCHAR},
      link_man = #{linkMan,jdbcType=VARCHAR},
      link_man_name = #{linkManName,jdbcType=VARCHAR},
      link_man_phone = #{linkManPhone,jdbcType=VARCHAR},
      dept_charge_man = #{deptChargeMan,jdbcType=VARCHAR},
      dept_charge_man_name = #{deptChargeManName,jdbcType=VARCHAR},
      dept_leader_comment = #{deptLeaderComment,jdbcType=VARCHAR},
      specialist_comment = #{specialistComment,jdbcType=VARCHAR},
      technology_dept_man = #{technologyDeptMan,jdbcType=VARCHAR},
      technology_dept_man_name = #{technologyDeptManName,jdbcType=VARCHAR},
      technology_dept_comment = #{technologyDeptComment,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=VARCHAR},
      creator_name = #{creatorName,jdbcType=VARCHAR},
      is_deleted = #{deleted,jdbcType=BIT},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      process_instance_id = #{processInstanceId,jdbcType=VARCHAR},
      is_process_end = #{processEnd,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, business_key, form_no, center_name, dept_id, dept_name, research_direction, 
    link_man, link_man_name, link_man_phone, dept_charge_man, dept_charge_man_name, dept_leader_comment, 
    specialist_comment, technology_dept_man, technology_dept_man_name, technology_dept_comment, 
    remark, creator, creator_name, is_deleted, gmt_create, gmt_modified, process_instance_id, 
    is_process_end
    from five_oa_non_independent_dept_set
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, business_key, form_no, center_name, dept_id, dept_name, research_direction, 
    link_man, link_man_name, link_man_phone, dept_charge_man, dept_charge_man_name, dept_leader_comment, 
    specialist_comment, technology_dept_man, technology_dept_man_name, technology_dept_comment, 
    remark, creator, creator_name, is_deleted, gmt_create, gmt_modified, process_instance_id, 
    is_process_end
    from five_oa_non_independent_dept_set
    <include refid="Base_Where_List" />
    <include refid="Base_Where_List1" />
     order by id desc
  </select>
  <sql id="Base_Where_List">
    <where>
      <if test="id != null and isLikeSelect==null">
         AND id = #{id}
      </if>
      <if test="businessKey != null and isLikeSelect==null and businessKey != ''">
         AND business_key = #{businessKey}
      </if>
      <if test="formNo != null and isLikeSelect==null and formNo != ''">
         AND form_no = #{formNo}
      </if>
      <if test="centerName != null and isLikeSelect==null and centerName != ''">
         AND center_name = #{centerName}
      </if>
      <if test="deptId != null and isLikeSelect==null">
         AND dept_id = #{deptId}
      </if>
      <if test="deptName != null and isLikeSelect==null and deptName != ''">
         AND dept_name = #{deptName}
      </if>
      <if test="researchDirection != null and isLikeSelect==null and researchDirection != ''">
         AND research_direction = #{researchDirection}
      </if>
      <if test="linkMan != null and isLikeSelect==null and linkMan != ''">
         AND link_man = #{linkMan}
      </if>
      <if test="linkManName != null and isLikeSelect==null and linkManName != ''">
         AND link_man_name = #{linkManName}
      </if>
      <if test="linkManPhone != null and isLikeSelect==null and linkManPhone != ''">
         AND link_man_phone = #{linkManPhone}
      </if>
      <if test="deptChargeMan != null and isLikeSelect==null and deptChargeMan != ''">
         AND dept_charge_man = #{deptChargeMan}
      </if>
      <if test="deptChargeManName != null and isLikeSelect==null and deptChargeManName != ''">
         AND dept_charge_man_name = #{deptChargeManName}
      </if>
      <if test="deptLeaderComment != null and isLikeSelect==null and deptLeaderComment != ''">
         AND dept_leader_comment = #{deptLeaderComment}
      </if>
      <if test="specialistComment != null and isLikeSelect==null and specialistComment != ''">
         AND specialist_comment = #{specialistComment}
      </if>
      <if test="technologyDeptMan != null and isLikeSelect==null and technologyDeptMan != ''">
         AND technology_dept_man = #{technologyDeptMan}
      </if>
      <if test="technologyDeptManName != null and isLikeSelect==null and technologyDeptManName != ''">
         AND technology_dept_man_name = #{technologyDeptManName}
      </if>
      <if test="technologyDeptComment != null and isLikeSelect==null and technologyDeptComment != ''">
         AND technology_dept_comment = #{technologyDeptComment}
      </if>
      <if test="remark != null and isLikeSelect==null and remark != ''">
         AND remark = #{remark}
      </if>
      <if test="creator != null and isLikeSelect==null and creator != ''">
         AND creator = #{creator}
      </if>
      <if test="creatorName != null and isLikeSelect==null and creatorName != ''">
         AND creator_name = #{creatorName}
      </if>
      <if test="deleted != null and isLikeSelect==null">
         AND is_deleted = #{deleted}
      </if>
      <if test="gmtCreate != null and isLikeSelect==null">
         AND gmt_create = #{gmtCreate}
      </if>
      <if test="gmtModified != null and isLikeSelect==null">
         AND gmt_modified = #{gmtModified}
      </if>
      <if test="processInstanceId != null and isLikeSelect==null and processInstanceId != ''">
         AND process_instance_id = #{processInstanceId}
      </if>
      <if test="processEnd != null and isLikeSelect==null">
         AND is_process_end = #{processEnd}
      </if>
      <if test="deptIdList != null and deptIdList.size()>0 and isLikeSelect==null">
        AND (
        dept_id in
        <foreach collection="deptIdList" open="(" close=")" separator="," item="deptId" index="i">
          #{deptId}
        </foreach>
        <if test="initiator != null and initiator != ''">
          or creator = #{initiator}
        </if>
        )
      </if>
    </where>
  </sql>
  <sql id="Base_Where_List1">
    <where>
      <if test="businessKey != null and isLikeSelect!= null and businessKey != '' ">
         AND business_key like  CONCAT('%',#{businessKey},'%')
      </if>
      <if test="formNo != null and isLikeSelect!= null and formNo != '' ">
         AND form_no like  CONCAT('%',#{formNo},'%')
      </if>
      <if test="centerName != null and isLikeSelect!= null and centerName != '' ">
         AND center_name like  CONCAT('%',#{centerName},'%')
      </if>
      <if test="deptName != null and isLikeSelect!= null and deptName != '' ">
         AND dept_name like  CONCAT('%',#{deptName},'%')
      </if>
      <if test="researchDirection != null and isLikeSelect!= null and researchDirection != '' ">
         AND research_direction like  CONCAT('%',#{researchDirection},'%')
      </if>
      <if test="linkMan != null and isLikeSelect!= null and linkMan != '' ">
         AND link_man like  CONCAT('%',#{linkMan},'%')
      </if>
      <if test="linkManName != null and isLikeSelect!= null and linkManName != '' ">
         AND link_man_name like  CONCAT('%',#{linkManName},'%')
      </if>
      <if test="linkManPhone != null and isLikeSelect!= null and linkManPhone != '' ">
         AND link_man_phone like  CONCAT('%',#{linkManPhone},'%')
      </if>
      <if test="deptChargeMan != null and isLikeSelect!= null and deptChargeMan != '' ">
         AND dept_charge_man like  CONCAT('%',#{deptChargeMan},'%')
      </if>
      <if test="deptChargeManName != null and isLikeSelect!= null and deptChargeManName != '' ">
         AND dept_charge_man_name like  CONCAT('%',#{deptChargeManName},'%')
      </if>
      <if test="deptLeaderComment != null and isLikeSelect!= null and deptLeaderComment != '' ">
         AND dept_leader_comment like  CONCAT('%',#{deptLeaderComment},'%')
      </if>
      <if test="specialistComment != null and isLikeSelect!= null and specialistComment != '' ">
         AND specialist_comment like  CONCAT('%',#{specialistComment},'%')
      </if>
      <if test="technologyDeptMan != null and isLikeSelect!= null and technologyDeptMan != '' ">
         AND technology_dept_man like  CONCAT('%',#{technologyDeptMan},'%')
      </if>
      <if test="technologyDeptManName != null and isLikeSelect!= null and technologyDeptManName != '' ">
         AND technology_dept_man_name like  CONCAT('%',#{technologyDeptManName},'%')
      </if>
      <if test="technologyDeptComment != null and isLikeSelect!= null and technologyDeptComment != '' ">
         AND technology_dept_comment like  CONCAT('%',#{technologyDeptComment},'%')
      </if>
      <if test="remark != null and isLikeSelect!= null and remark != '' ">
         AND remark like  CONCAT('%',#{remark},'%')
      </if>
      <if test="creator != null and isLikeSelect!= null and creator != '' ">
         AND creator like  CONCAT('%',#{creator},'%')
      </if>
      <if test="creatorName != null and isLikeSelect!= null and creatorName != '' ">
         AND creator_name like  CONCAT('%',#{creatorName},'%')
      </if>
      <if test="processInstanceId != null and isLikeSelect!= null and processInstanceId != '' ">
         AND process_instance_id like  CONCAT('%',#{processInstanceId},'%')
      </if>
      <if test="deptId != null and isLikeSelect!=null">
        AND dept_id = #{deptId}
      </if>

      <if test="deptIdList != null and deptIdList.size()>0 and isLikeSelect!=null">
        AND (
        dept_id in
        <foreach collection="deptIdList" open="(" close=")" separator="," item="deptId" index="i">
          #{deptId}
        </foreach>
        <if test="initiator != null and initiator != ''">
          or creator = #{initiator}
        </if>
        )
      </if>

    </where>
  </sql>
</mapper>