<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cmcu.mcc.five.dao.FiveOaScientificTaskCostApplyDetailMapper">
  <resultMap id="BaseResultMap" type="com.cmcu.mcc.five.entity.FiveOaScientificTaskCostApplyDetail">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="scientific_task_cost_apply_id" jdbcType="VARCHAR" property="scientificTaskCostApplyId" />
    <result column="item" jdbcType="VARCHAR" property="item" />
    <result column="price" jdbcType="VARCHAR" property="price" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="creator_name" jdbcType="VARCHAR" property="creatorName" />
    <result column="is_deleted" jdbcType="BIT" property="deleted" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from five_oa_scientific_task_cost_apply_detail
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cmcu.mcc.five.entity.FiveOaScientificTaskCostApplyDetail">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into five_oa_scientific_task_cost_apply_detail (scientific_task_cost_apply_id, item, 
      price, remark, creator, 
      creator_name, is_deleted, gmt_create, 
      gmt_modified)
    values (#{scientificTaskCostApplyId,jdbcType=VARCHAR}, #{item,jdbcType=VARCHAR}, 
      #{price,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{creator,jdbcType=VARCHAR}, 
      #{creatorName,jdbcType=VARCHAR}, #{deleted,jdbcType=BIT}, #{gmtCreate,jdbcType=TIMESTAMP}, 
      #{gmtModified,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.cmcu.mcc.five.entity.FiveOaScientificTaskCostApplyDetail">
    update five_oa_scientific_task_cost_apply_detail
    set scientific_task_cost_apply_id = #{scientificTaskCostApplyId,jdbcType=VARCHAR},
      item = #{item,jdbcType=VARCHAR},
      price = #{price,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=VARCHAR},
      creator_name = #{creatorName,jdbcType=VARCHAR},
      is_deleted = #{deleted,jdbcType=BIT},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, scientific_task_cost_apply_id, item, price, remark, creator, creator_name, 
    is_deleted, gmt_create, gmt_modified
    from five_oa_scientific_task_cost_apply_detail
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, scientific_task_cost_apply_id, item, price, remark, creator, creator_name, 
    is_deleted, gmt_create, gmt_modified
    from five_oa_scientific_task_cost_apply_detail
    <include refid="Base_Where_List" />
     order by id desc
  </select>
  <sql id="Base_Where_List">
    <where>
      <if test="id != null">
         AND id = #{id}
      </if>
      <if test="scientificTaskCostApplyId != null and scientificTaskCostApplyId != ''">
         AND scientific_task_cost_apply_id = #{scientificTaskCostApplyId}
      </if>
      <if test="item != null and item != ''">
         AND item = #{item}
      </if>
      <if test="price != null and price != ''">
         AND price = #{price}
      </if>
      <if test="remark != null and remark != ''">
         AND remark = #{remark}
      </if>
      <if test="creator != null and creator != ''">
         AND creator = #{creator}
      </if>
      <if test="creatorName != null and creatorName != ''">
         AND creator_name = #{creatorName}
      </if>
      <if test="deleted != null">
         AND is_deleted = #{deleted}
      </if>
      <if test="gmtCreate != null">
         AND gmt_create = #{gmtCreate}
      </if>
      <if test="gmtModified != null">
         AND gmt_modified = #{gmtModified}
      </if>
    </where>
  </sql>
</mapper>