<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cmcu.mcc.five.dao.FiveEdHouseValidateMapper">
  <resultMap id="BaseResultMap" type="com.cmcu.mcc.five.entity.FiveEdHouseValidate">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="business_key" jdbcType="VARCHAR" property="businessKey" />
    <result column="project_id" jdbcType="INTEGER" property="projectId" />
    <result column="step_id" jdbcType="INTEGER" property="stepId" />
    <result column="project_name" jdbcType="VARCHAR" property="projectName" />
    <result column="project_no" jdbcType="VARCHAR" property="projectNo" />
    <result column="stage_name" jdbcType="VARCHAR" property="stageName" />
    <result column="step_name" jdbcType="VARCHAR" property="stepName" />
    <result column="form_no" jdbcType="VARCHAR" property="formNo" />
    <result column="contract_no" jdbcType="VARCHAR" property="contractNo" />
    <result column="major_name" jdbcType="VARCHAR" property="majorName" />
    <result column="proofread_men" jdbcType="VARCHAR" property="proofreadMen" />
    <result column="proofread_men_name" jdbcType="VARCHAR" property="proofreadMenName" />
    <result column="audit_men" jdbcType="VARCHAR" property="auditMen" />
    <result column="audit_men_name" jdbcType="VARCHAR" property="auditMenName" />
    <result column="approve_men" jdbcType="VARCHAR" property="approveMen" />
    <result column="approve_men_name" jdbcType="VARCHAR" property="approveMenName" />
    <result column="major_charge_man" jdbcType="VARCHAR" property="majorChargeMan" />
    <result column="major_charge_man_name" jdbcType="VARCHAR" property="majorChargeManName" />
    <result column="design_review_type" jdbcType="VARCHAR" property="designReviewType" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="is_deleted" jdbcType="BIT" property="deleted" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="creator_name" jdbcType="VARCHAR" property="creatorName" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="process_instance_id" jdbcType="VARCHAR" property="processInstanceId" />
    <result column="process_end" jdbcType="BIT" property="processEnd" />
    <result column="other_men" jdbcType="VARCHAR" property="otherMen" />
    <result column="other_men_name" jdbcType="VARCHAR" property="otherMenName" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from five_ed_house_validate
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cmcu.mcc.five.entity.FiveEdHouseValidate">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into five_ed_house_validate (business_key, project_id, step_id, 
      project_name, project_no, stage_name, 
      step_name, form_no, contract_no, 
      major_name, proofread_men, proofread_men_name, 
      audit_men, audit_men_name, approve_men, 
      approve_men_name, major_charge_man, major_charge_man_name, 
      design_review_type, remark, is_deleted, 
      creator, creator_name, gmt_create, 
      gmt_modified, process_instance_id, process_end, 
      other_men, other_men_name)
    values (#{businessKey,jdbcType=VARCHAR}, #{projectId,jdbcType=INTEGER}, #{stepId,jdbcType=INTEGER}, 
      #{projectName,jdbcType=VARCHAR}, #{projectNo,jdbcType=VARCHAR}, #{stageName,jdbcType=VARCHAR}, 
      #{stepName,jdbcType=VARCHAR}, #{formNo,jdbcType=VARCHAR}, #{contractNo,jdbcType=VARCHAR}, 
      #{majorName,jdbcType=VARCHAR}, #{proofreadMen,jdbcType=VARCHAR}, #{proofreadMenName,jdbcType=VARCHAR}, 
      #{auditMen,jdbcType=VARCHAR}, #{auditMenName,jdbcType=VARCHAR}, #{approveMen,jdbcType=VARCHAR}, 
      #{approveMenName,jdbcType=VARCHAR}, #{majorChargeMan,jdbcType=VARCHAR}, #{majorChargeManName,jdbcType=VARCHAR}, 
      #{designReviewType,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{deleted,jdbcType=BIT}, 
      #{creator,jdbcType=VARCHAR}, #{creatorName,jdbcType=VARCHAR}, #{gmtCreate,jdbcType=TIMESTAMP}, 
      #{gmtModified,jdbcType=TIMESTAMP}, #{processInstanceId,jdbcType=VARCHAR}, #{processEnd,jdbcType=BIT}, 
      #{otherMen,jdbcType=VARCHAR}, #{otherMenName,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.cmcu.mcc.five.entity.FiveEdHouseValidate">
    update five_ed_house_validate
    set business_key = #{businessKey,jdbcType=VARCHAR},
      project_id = #{projectId,jdbcType=INTEGER},
      step_id = #{stepId,jdbcType=INTEGER},
      project_name = #{projectName,jdbcType=VARCHAR},
      project_no = #{projectNo,jdbcType=VARCHAR},
      stage_name = #{stageName,jdbcType=VARCHAR},
      step_name = #{stepName,jdbcType=VARCHAR},
      form_no = #{formNo,jdbcType=VARCHAR},
      contract_no = #{contractNo,jdbcType=VARCHAR},
      major_name = #{majorName,jdbcType=VARCHAR},
      proofread_men = #{proofreadMen,jdbcType=VARCHAR},
      proofread_men_name = #{proofreadMenName,jdbcType=VARCHAR},
      audit_men = #{auditMen,jdbcType=VARCHAR},
      audit_men_name = #{auditMenName,jdbcType=VARCHAR},
      approve_men = #{approveMen,jdbcType=VARCHAR},
      approve_men_name = #{approveMenName,jdbcType=VARCHAR},
      major_charge_man = #{majorChargeMan,jdbcType=VARCHAR},
      major_charge_man_name = #{majorChargeManName,jdbcType=VARCHAR},
      design_review_type = #{designReviewType,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      is_deleted = #{deleted,jdbcType=BIT},
      creator = #{creator,jdbcType=VARCHAR},
      creator_name = #{creatorName,jdbcType=VARCHAR},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      process_instance_id = #{processInstanceId,jdbcType=VARCHAR},
      process_end = #{processEnd,jdbcType=BIT},
      other_men = #{otherMen,jdbcType=VARCHAR},
      other_men_name = #{otherMenName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, business_key, project_id, step_id, project_name, project_no, stage_name, 
    step_name, form_no, contract_no, major_name, proofread_men, proofread_men_name, audit_men, 
    audit_men_name, approve_men, approve_men_name, major_charge_man, major_charge_man_name, 
    design_review_type, remark, is_deleted, creator, creator_name, gmt_create, gmt_modified, 
    process_instance_id, process_end, other_men, other_men_name
    from five_ed_house_validate
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, business_key, project_id, step_id, project_name, project_no, stage_name, 
    step_name, form_no, contract_no, major_name, proofread_men, proofread_men_name, audit_men, 
    audit_men_name, approve_men, approve_men_name, major_charge_man, major_charge_man_name, 
    design_review_type, remark, is_deleted, creator, creator_name, gmt_create, gmt_modified, 
    process_instance_id, process_end, other_men, other_men_name
    from five_ed_house_validate
    <include refid="Base_Where_List" />
    order by id desc
  </select>
  <sql id="Base_Where_List">
    <where>
      <if test="id != null">
         AND id = #{id}
      </if>
      <if test="businessKey != null and businessKey != ''">
         AND business_key = #{businessKey}
      </if>
      <if test="projectId != null">
         AND project_id = #{projectId}
      </if>
      <if test="stepId != null">
         AND step_id = #{stepId}
      </if>
      <if test="projectName != null and projectName != ''">
         AND project_name = #{projectName}
      </if>
      <if test="projectNo != null and projectNo != ''">
         AND project_no = #{projectNo}
      </if>
      <if test="stageName != null and stageName != ''">
         AND stage_name = #{stageName}
      </if>
      <if test="stepName != null and stepName != ''">
         AND step_name = #{stepName}
      </if>
      <if test="formNo != null and formNo != ''">
         AND form_no = #{formNo}
      </if>
      <if test="contractNo != null and contractNo != ''">
         AND contract_no = #{contractNo}
      </if>
      <if test="majorName != null and majorName != ''">
         AND major_name = #{majorName}
      </if>
      <if test="proofreadMen != null and proofreadMen != ''">
         AND proofread_men = #{proofreadMen}
      </if>
      <if test="proofreadMenName != null and proofreadMenName != ''">
         AND proofread_men_name = #{proofreadMenName}
      </if>
      <if test="auditMen != null and auditMen != ''">
         AND audit_men = #{auditMen}
      </if>
      <if test="auditMenName != null and auditMenName != ''">
         AND audit_men_name = #{auditMenName}
      </if>
      <if test="approveMen != null and approveMen != ''">
         AND approve_men = #{approveMen}
      </if>
      <if test="approveMenName != null and approveMenName != ''">
         AND approve_men_name = #{approveMenName}
      </if>
      <if test="majorChargeMan != null and majorChargeMan != ''">
         AND major_charge_man = #{majorChargeMan}
      </if>
      <if test="majorChargeManName != null and majorChargeManName != ''">
         AND major_charge_man_name = #{majorChargeManName}
      </if>
      <if test="designReviewType != null and designReviewType != ''">
         AND design_review_type = #{designReviewType}
      </if>
      <if test="remark != null and remark != ''">
         AND remark = #{remark}
      </if>
      <if test="deleted != null">
         AND is_deleted = #{deleted}
      </if>
      <if test="creator != null and creator != ''">
         AND creator = #{creator}
      </if>
      <if test="creatorName != null and creatorName != ''">
         AND creator_name = #{creatorName}
      </if>
      <if test="gmtCreate != null">
         AND gmt_create = #{gmtCreate}
      </if>
      <if test="gmtModified != null">
         AND gmt_modified = #{gmtModified}
      </if>
      <if test="processInstanceId != null and processInstanceId != ''">
         AND process_instance_id = #{processInstanceId}
      </if>
      <if test="processEnd != null">
         AND process_end = #{processEnd}
      </if>
      <if test="otherMen != null and otherMen != ''">
         AND other_men = #{otherMen}
      </if>
      <if test="otherMenName != null and otherMenName != ''">
         AND other_men_name = #{otherMenName}
      </if>
    </where>
  </sql>
</mapper>