<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cmcu.mcc.five.dao.FiveOaPrivilegeManagementMapper">
  <resultMap id="BaseResultMap" type="com.cmcu.mcc.five.entity.FiveOaPrivilegeManagement">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="business_key" jdbcType="VARCHAR" property="businessKey" />
    <result column="form_no" jdbcType="VARCHAR" property="formNo" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="creator_name" jdbcType="VARCHAR" property="creatorName" />
    <result column="is_deleted" jdbcType="BIT" property="deleted" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="process_instance_id" jdbcType="VARCHAR" property="processInstanceId" />
    <result column="is_process_end" jdbcType="BIT" property="processEnd" />
    <result column="dept_id" jdbcType="INTEGER" property="deptId" />
    <result column="dept_name" jdbcType="VARCHAR" property="deptName" />
    <result column="application_man" jdbcType="VARCHAR" property="applicationMan" />
    <result column="application_man_name" jdbcType="VARCHAR" property="applicationManName" />
    <result column="application_time" jdbcType="VARCHAR" property="applicationTime" />
    <result column="flow" jdbcType="VARCHAR" property="flow" />
    <result column="delegation_man" jdbcType="VARCHAR" property="delegationMan" />
    <result column="delegation_man_name" jdbcType="VARCHAR" property="delegationManName" />
    <result column="delegation_privilege" jdbcType="VARCHAR" property="delegationPrivilege" />
    <result column="delegation_time" jdbcType="VARCHAR" property="delegationTime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from five_oa_privilege_management
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cmcu.mcc.five.entity.FiveOaPrivilegeManagement">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into five_oa_privilege_management (business_key, form_no, remark, 
      creator, creator_name, is_deleted, 
      gmt_create, gmt_modified, process_instance_id, 
      is_process_end, dept_id, dept_name, 
      application_man, application_man_name, application_time, 
      flow, delegation_man, delegation_man_name, 
      delegation_privilege, delegation_time)
    values (#{businessKey,jdbcType=VARCHAR}, #{formNo,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{creator,jdbcType=VARCHAR}, #{creatorName,jdbcType=VARCHAR}, #{deleted,jdbcType=BIT}, 
      #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}, #{processInstanceId,jdbcType=VARCHAR}, 
      #{processEnd,jdbcType=BIT}, #{deptId,jdbcType=INTEGER}, #{deptName,jdbcType=VARCHAR}, 
      #{applicationMan,jdbcType=VARCHAR}, #{applicationManName,jdbcType=VARCHAR}, #{applicationTime,jdbcType=VARCHAR}, 
      #{flow,jdbcType=VARCHAR}, #{delegationMan,jdbcType=VARCHAR}, #{delegationManName,jdbcType=VARCHAR}, 
      #{delegationPrivilege,jdbcType=VARCHAR}, #{delegationTime,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.cmcu.mcc.five.entity.FiveOaPrivilegeManagement">
    update five_oa_privilege_management
    set business_key = #{businessKey,jdbcType=VARCHAR},
      form_no = #{formNo,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=VARCHAR},
      creator_name = #{creatorName,jdbcType=VARCHAR},
      is_deleted = #{deleted,jdbcType=BIT},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      process_instance_id = #{processInstanceId,jdbcType=VARCHAR},
      is_process_end = #{processEnd,jdbcType=BIT},
      dept_id = #{deptId,jdbcType=INTEGER},
      dept_name = #{deptName,jdbcType=VARCHAR},
      application_man = #{applicationMan,jdbcType=VARCHAR},
      application_man_name = #{applicationManName,jdbcType=VARCHAR},
      application_time = #{applicationTime,jdbcType=VARCHAR},
      flow = #{flow,jdbcType=VARCHAR},
      delegation_man = #{delegationMan,jdbcType=VARCHAR},
      delegation_man_name = #{delegationManName,jdbcType=VARCHAR},
      delegation_privilege = #{delegationPrivilege,jdbcType=VARCHAR},
      delegation_time = #{delegationTime,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, business_key, form_no, remark, creator, creator_name, is_deleted, gmt_create, 
    gmt_modified, process_instance_id, is_process_end, dept_id, dept_name, application_man, 
    application_man_name, application_time, flow, delegation_man, delegation_man_name, 
    delegation_privilege, delegation_time
    from five_oa_privilege_management
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, business_key, form_no, remark, creator, creator_name, is_deleted, gmt_create, 
    gmt_modified, process_instance_id, is_process_end, dept_id, dept_name, application_man, 
    application_man_name, application_time, flow, delegation_man, delegation_man_name, 
    delegation_privilege, delegation_time
    from five_oa_privilege_management
    <include refid="Base_Where_List" />
    <include refid="Base_Where_List1" />
     order by id desc
  </select>
  <sql id="Base_Where_List">
    <where>
      <if test="id != null and isLikeSelect==null">
         AND id = #{id}
      </if>
      <if test="businessKey != null and isLikeSelect==null and businessKey != ''">
         AND business_key = #{businessKey}
      </if>
      <if test="formNo != null and isLikeSelect==null and formNo != ''">
         AND form_no = #{formNo}
      </if>
      <if test="remark != null and isLikeSelect==null and remark != ''">
         AND remark = #{remark}
      </if>
      <if test="creator != null and isLikeSelect==null and creator != ''">
         AND creator = #{creator}
      </if>
      <if test="creatorName != null and isLikeSelect==null and creatorName != ''">
         AND creator_name = #{creatorName}
      </if>
      <if test="deleted != null and isLikeSelect==null">
         AND is_deleted = #{deleted}
      </if>
      <if test="gmtCreate != null and isLikeSelect==null">
         AND gmt_create = #{gmtCreate}
      </if>
      <if test="gmtModified != null and isLikeSelect==null">
         AND gmt_modified = #{gmtModified}
      </if>
      <if test="processInstanceId != null and isLikeSelect==null and processInstanceId != ''">
         AND process_instance_id = #{processInstanceId}
      </if>
      <if test="processEnd != null and isLikeSelect==null">
         AND is_process_end = #{processEnd}
      </if>
      <if test="deptId != null and isLikeSelect==null">
         AND dept_id = #{deptId}
      </if>
      <if test="deptName != null and isLikeSelect==null and deptName != ''">
         AND dept_name = #{deptName}
      </if>
      <if test="applicationMan != null and isLikeSelect==null and applicationMan != ''">
         AND application_man = #{applicationMan}
      </if>
      <if test="applicationManName != null and isLikeSelect==null and applicationManName != ''">
         AND application_man_name = #{applicationManName}
      </if>
      <if test="applicationTime != null and isLikeSelect==null and applicationTime != ''">
         AND application_time = #{applicationTime}
      </if>
      <if test="flow != null and isLikeSelect==null and flow != ''">
         AND flow = #{flow}
      </if>
      <if test="delegationMan != null and isLikeSelect==null and delegationMan != ''">
         AND delegation_man = #{delegationMan}
      </if>
      <if test="delegationManName != null and isLikeSelect==null and delegationManName != ''">
         AND delegation_man_name = #{delegationManName}
      </if>
      <if test="delegationPrivilege != null and isLikeSelect==null and delegationPrivilege != ''">
         AND delegation_privilege = #{delegationPrivilege}
      </if>
      <if test="delegationTime != null and isLikeSelect==null and delegationTime != ''">
         AND delegation_time = #{delegationTime}
      </if>
        <if test="deptIdList != null and deptIdList.size()>0 and isLikeSelect==null">
            AND (
            dept_id in
            <foreach collection="deptIdList" open="(" close=")" separator="," item="deptId" index="i">
                #{deptId}
            </foreach>
            <if test="initiator != null and initiator != ''">or creator = #{initiator}
            </if>
            )
        </if>
    </where>
  </sql>
  <sql id="Base_Where_List1">
    <where>
      <if test="businessKey != null and isLikeSelect!= null and businessKey != '' ">
         AND business_key like  CONCAT('%',#{businessKey},'%')
      </if>
      <if test="formNo != null and isLikeSelect!= null and formNo != '' ">
         AND form_no like  CONCAT('%',#{formNo},'%')
      </if>
      <if test="remark != null and isLikeSelect!= null and remark != '' ">
         AND remark like  CONCAT('%',#{remark},'%')
      </if>
      <if test="creator != null and isLikeSelect!= null and creator != '' ">
         AND creator like  CONCAT('%',#{creator},'%')
      </if>
      <if test="creatorName != null and isLikeSelect!= null and creatorName != '' ">
         AND creator_name like  CONCAT('%',#{creatorName},'%')
      </if>
      <if test="processInstanceId != null and isLikeSelect!= null and processInstanceId != '' ">
         AND process_instance_id like  CONCAT('%',#{processInstanceId},'%')
      </if>
      <if test="deptName != null and isLikeSelect!= null and deptName != '' ">
         AND dept_name like  CONCAT('%',#{deptName},'%')
      </if>
      <if test="applicationMan != null and isLikeSelect!= null and applicationMan != '' ">
         AND application_man like  CONCAT('%',#{applicationMan},'%')
      </if>
      <if test="applicationManName != null and isLikeSelect!= null and applicationManName != '' ">
         AND application_man_name like  CONCAT('%',#{applicationManName},'%')
      </if>
      <if test="applicationTime != null and isLikeSelect!= null and applicationTime != '' ">
         AND application_time like  CONCAT('%',#{applicationTime},'%')
      </if>
      <if test="flow != null and isLikeSelect!= null and flow != '' ">
         AND flow like  CONCAT('%',#{flow},'%')
      </if>
      <if test="delegationMan != null and isLikeSelect!= null and delegationMan != '' ">
         AND delegation_man like  CONCAT('%',#{delegationMan},'%')
      </if>
      <if test="delegationManName != null and isLikeSelect!= null and delegationManName != '' ">
         AND delegation_man_name like  CONCAT('%',#{delegationManName},'%')
      </if>
      <if test="delegationPrivilege != null and isLikeSelect!= null and delegationPrivilege != '' ">
         AND delegation_privilege like  CONCAT('%',#{delegationPrivilege},'%')
      </if>
      <if test="delegationTime != null and isLikeSelect!= null and delegationTime != '' ">
         AND delegation_time like  CONCAT('%',#{delegationTime},'%')
      </if>
      <if test="deleted != null and isLikeSelect!=null">
         AND is_deleted = #{deleted}
      </if>
      <if test="deptId != null and isLikeSelect!=null">
         AND dept_id = #{deptId}
      </if>
        <if test="deptIdList != null and deptIdList.size()>0 and isLikeSelect!=null">
            AND (
            dept_id in
            <foreach collection="deptIdList" open="(" close=")" separator="," item="deptId" index="i">
                #{deptId}
            </foreach>
            <if test="initiator != null and initiator != ''">or creator = #{initiator}
            </if>
            )
        </if>
    </where>
  </sql>
</mapper>