<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cmcu.mcc.five.dao.FiveOaSecretSystemMapper">
  <resultMap id="BaseResultMap" type="com.cmcu.mcc.five.entity.FiveOaSecretSystem">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="business_key" jdbcType="VARCHAR" property="businessKey" />
    <result column="apply_user_name" jdbcType="VARCHAR" property="applyUserName" />
    <result column="apply_user_login" jdbcType="VARCHAR" property="applyUserLogin" />
    <result column="apply_user_no" jdbcType="VARCHAR" property="applyUserNo" />
    <result column="dept_id" jdbcType="INTEGER" property="deptId" />
    <result column="dept_name" jdbcType="VARCHAR" property="deptName" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="system_name" jdbcType="VARCHAR" property="systemName" />
    <result column="secret_level" jdbcType="VARCHAR" property="secretLevel" />
    <result column="account_type" jdbcType="VARCHAR" property="accountType" />
    <result column="jurisdiction_type" jdbcType="VARCHAR" property="jurisdictionType" />
    <result column="apply_reason" jdbcType="VARCHAR" property="applyReason" />
    <result column="execute_type" jdbcType="VARCHAR" property="executeType" />
    <result column="execute_remark" jdbcType="VARCHAR" property="executeRemark" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="creator_name" jdbcType="VARCHAR" property="creatorName" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="is_deleted" jdbcType="BIT" property="deleted" />
    <result column="is_process_end" jdbcType="BIT" property="processEnd" />
    <result column="process_instance_id" jdbcType="VARCHAR" property="processInstanceId" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from five_oa_secret_system
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cmcu.mcc.five.entity.FiveOaSecretSystem">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into five_oa_secret_system (business_key, apply_user_name, apply_user_login, 
      apply_user_no, dept_id, dept_name, 
      phone, system_name, secret_level, 
      account_type, jurisdiction_type, apply_reason, 
      execute_type, execute_remark, remark, 
      creator, creator_name, gmt_create, 
      gmt_modified, is_deleted, is_process_end, 
      process_instance_id)
    values (#{businessKey,jdbcType=VARCHAR}, #{applyUserName,jdbcType=VARCHAR}, #{applyUserLogin,jdbcType=VARCHAR}, 
      #{applyUserNo,jdbcType=VARCHAR}, #{deptId,jdbcType=INTEGER}, #{deptName,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR}, #{systemName,jdbcType=VARCHAR}, #{secretLevel,jdbcType=VARCHAR}, 
      #{accountType,jdbcType=VARCHAR}, #{jurisdictionType,jdbcType=VARCHAR}, #{applyReason,jdbcType=VARCHAR}, 
      #{executeType,jdbcType=VARCHAR}, #{executeRemark,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{creator,jdbcType=VARCHAR}, #{creatorName,jdbcType=VARCHAR}, #{gmtCreate,jdbcType=TIMESTAMP}, 
      #{gmtModified,jdbcType=TIMESTAMP}, #{deleted,jdbcType=BIT}, #{processEnd,jdbcType=BIT}, 
      #{processInstanceId,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.cmcu.mcc.five.entity.FiveOaSecretSystem">
    update five_oa_secret_system
    set business_key = #{businessKey,jdbcType=VARCHAR},
      apply_user_name = #{applyUserName,jdbcType=VARCHAR},
      apply_user_login = #{applyUserLogin,jdbcType=VARCHAR},
      apply_user_no = #{applyUserNo,jdbcType=VARCHAR},
      dept_id = #{deptId,jdbcType=INTEGER},
      dept_name = #{deptName,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      system_name = #{systemName,jdbcType=VARCHAR},
      secret_level = #{secretLevel,jdbcType=VARCHAR},
      account_type = #{accountType,jdbcType=VARCHAR},
      jurisdiction_type = #{jurisdictionType,jdbcType=VARCHAR},
      apply_reason = #{applyReason,jdbcType=VARCHAR},
      execute_type = #{executeType,jdbcType=VARCHAR},
      execute_remark = #{executeRemark,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=VARCHAR},
      creator_name = #{creatorName,jdbcType=VARCHAR},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      is_deleted = #{deleted,jdbcType=BIT},
      is_process_end = #{processEnd,jdbcType=BIT},
      process_instance_id = #{processInstanceId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, business_key, apply_user_name, apply_user_login, apply_user_no, dept_id, 
    dept_name, phone, system_name, secret_level, account_type, jurisdiction_type, apply_reason, 
    execute_type, execute_remark, remark, creator, creator_name, gmt_create, gmt_modified, 
    is_deleted, is_process_end, process_instance_id
    from five_oa_secret_system
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, business_key, apply_user_name, apply_user_login, apply_user_no, dept_id, 
    dept_name, phone, system_name, secret_level, account_type, jurisdiction_type, apply_reason, 
    execute_type, execute_remark, remark, creator, creator_name, gmt_create, gmt_modified, 
    is_deleted, is_process_end, process_instance_id
    from five_oa_secret_system
    <include refid="Base_Where_List" />
    <include refid="Base_Where_List1" />
     order by id desc
  </select>
  <sql id="Base_Where_List">
    <where>
      <if test="id != null and isLikeSelect==null">
         AND id = #{id}
      </if>
      <if test="businessKey != null and isLikeSelect==null and businessKey != ''">
         AND business_key = #{businessKey}
      </if>
      <if test="applyUserName != null and isLikeSelect==null and applyUserName != ''">
         AND apply_user_name = #{applyUserName}
      </if>
      <if test="applyUserLogin != null and isLikeSelect==null and applyUserLogin != ''">
         AND apply_user_login = #{applyUserLogin}
      </if>
      <if test="applyUserNo != null and isLikeSelect==null and applyUserNo != ''">
         AND apply_user_no = #{applyUserNo}
      </if>
      <if test="deptId != null and isLikeSelect==null">
         AND dept_id = #{deptId}
      </if>
      <if test="deptName != null and isLikeSelect==null and deptName != ''">
         AND dept_name = #{deptName}
      </if>
      <if test="phone != null and isLikeSelect==null and phone != ''">
         AND phone = #{phone}
      </if>
      <if test="systemName != null and isLikeSelect==null and systemName != ''">
         AND system_name = #{systemName}
      </if>
      <if test="secretLevel != null and isLikeSelect==null and secretLevel != ''">
         AND secret_level = #{secretLevel}
      </if>
      <if test="accountType != null and isLikeSelect==null and accountType != ''">
         AND account_type = #{accountType}
      </if>
      <if test="jurisdictionType != null and isLikeSelect==null and jurisdictionType != ''">
         AND jurisdiction_type = #{jurisdictionType}
      </if>
      <if test="applyReason != null and isLikeSelect==null and applyReason != ''">
         AND apply_reason = #{applyReason}
      </if>
      <if test="executeType != null and isLikeSelect==null and executeType != ''">
         AND execute_type = #{executeType}
      </if>
      <if test="executeRemark != null and isLikeSelect==null and executeRemark != ''">
         AND execute_remark = #{executeRemark}
      </if>
      <if test="remark != null and isLikeSelect==null and remark != ''">
         AND remark = #{remark}
      </if>
      <if test="creator != null and isLikeSelect==null and creator != ''">
         AND creator = #{creator}
      </if>
      <if test="creatorName != null and isLikeSelect==null and creatorName != ''">
         AND creator_name = #{creatorName}
      </if>
      <if test="gmtCreate != null and isLikeSelect==null">
         AND gmt_create = #{gmtCreate}
      </if>
      <if test="gmtModified != null and isLikeSelect==null">
         AND gmt_modified = #{gmtModified}
      </if>
      <if test="deleted != null and isLikeSelect==null">
         AND is_deleted = #{deleted}
      </if>
      <if test="processEnd != null and isLikeSelect==null">
         AND is_process_end = #{processEnd}
      </if>
      <if test="processInstanceId != null and isLikeSelect==null and processInstanceId != ''">
         AND process_instance_id = #{processInstanceId}
      </if>
    </where>
  </sql>
  <sql id="Base_Where_List1">
    <where>
      <if test="businessKey != null and isLikeSelect!= null and businessKey != '' ">
         AND business_key like  CONCAT('%',#{businessKey},'%')
      </if>
      <if test="applyUserName != null and isLikeSelect!= null and applyUserName != '' ">
         AND apply_user_name like  CONCAT('%',#{applyUserName},'%')
      </if>
      <if test="applyUserLogin != null and isLikeSelect!= null and applyUserLogin != '' ">
         AND apply_user_login like  CONCAT('%',#{applyUserLogin},'%')
      </if>
      <if test="applyUserNo != null and isLikeSelect!= null and applyUserNo != '' ">
         AND apply_user_no like  CONCAT('%',#{applyUserNo},'%')
      </if>
      <if test="deptName != null and isLikeSelect!= null and deptName != '' ">
         AND dept_name like  CONCAT('%',#{deptName},'%')
      </if>
      <if test="phone != null and isLikeSelect!= null and phone != '' ">
         AND phone like  CONCAT('%',#{phone},'%')
      </if>
      <if test="systemName != null and isLikeSelect!= null and systemName != '' ">
         AND system_name like  CONCAT('%',#{systemName},'%')
      </if>
      <if test="secretLevel != null and isLikeSelect!= null and secretLevel != '' ">
         AND secret_level like  CONCAT('%',#{secretLevel},'%')
      </if>
      <if test="accountType != null and isLikeSelect!= null and accountType != '' ">
         AND account_type like  CONCAT('%',#{accountType},'%')
      </if>
      <if test="jurisdictionType != null and isLikeSelect!= null and jurisdictionType != '' ">
         AND jurisdiction_type like  CONCAT('%',#{jurisdictionType},'%')
      </if>
      <if test="applyReason != null and isLikeSelect!= null and applyReason != '' ">
         AND apply_reason like  CONCAT('%',#{applyReason},'%')
      </if>
      <if test="executeType != null and isLikeSelect!= null and executeType != '' ">
         AND execute_type like  CONCAT('%',#{executeType},'%')
      </if>
      <if test="executeRemark != null and isLikeSelect!= null and executeRemark != '' ">
         AND execute_remark like  CONCAT('%',#{executeRemark},'%')
      </if>
      <if test="remark != null and isLikeSelect!= null and remark != '' ">
         AND remark like  CONCAT('%',#{remark},'%')
      </if>
      <if test="creator != null and isLikeSelect!= null and creator != '' ">
         AND creator like  CONCAT('%',#{creator},'%')
      </if>
      <if test="creatorName != null and isLikeSelect!= null and creatorName != '' ">
         AND creator_name like  CONCAT('%',#{creatorName},'%')
      </if>
      <if test="processInstanceId != null and isLikeSelect!= null and processInstanceId != '' ">
         AND process_instance_id like  CONCAT('%',#{processInstanceId},'%')
      </if>
      <if test="deleted != null and isLikeSelect!=null">
         AND is_deleted = #{deleted}
      </if>
    </where>
  </sql>
</mapper>