<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cmcu.mcc.five.dao.FiveEdStampMapper">
  <resultMap id="BaseResultMap" type="com.cmcu.mcc.five.entity.FiveEdStamp">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="business_key" jdbcType="VARCHAR" property="businessKey" />
    <result column="project_id" jdbcType="INTEGER" property="projectId" />
    <result column="project_name" jdbcType="VARCHAR" property="projectName" />
    <result column="project_no" jdbcType="VARCHAR" property="projectNo" />
    <result column="contract_no" jdbcType="VARCHAR" property="contractNo" />
    <result column="stage_name" jdbcType="VARCHAR" property="stageName" />
    <result column="step_id" jdbcType="INTEGER" property="stepId" />
    <result column="step_name" jdbcType="VARCHAR" property="stepName" />
    <result column="form_no" jdbcType="VARCHAR" property="formNo" />
    <result column="dept_id" jdbcType="INTEGER" property="deptId" />
    <result column="dept_name" jdbcType="VARCHAR" property="deptName" />
    <result column="stamp_type" jdbcType="VARCHAR" property="stampType" />
    <result column="majors" jdbcType="VARCHAR" property="majors" />
    <result column="use_time" jdbcType="VARCHAR" property="useTime" />
    <result column="doc_type" jdbcType="VARCHAR" property="docType" />
    <result column="use_stamp" jdbcType="VARCHAR" property="useStamp" />
    <result column="use_description" jdbcType="VARCHAR" property="useDescription" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="creator_name" jdbcType="VARCHAR" property="creatorName" />
    <result column="is_deleted" jdbcType="BIT" property="deleted" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="process_instance_id" jdbcType="VARCHAR" property="processInstanceId" />
    <result column="is_process_end" jdbcType="BIT" property="processEnd" />
    <result column="plot_ids" jdbcType="VARCHAR" property="plotIds" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from five_ed_stamp
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cmcu.mcc.five.entity.FiveEdStamp">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into five_ed_stamp (business_key, project_id, project_name, 
      project_no, contract_no, stage_name, 
      step_id, step_name, form_no, 
      dept_id, dept_name, stamp_type, 
      majors, use_time, doc_type, 
      use_stamp, use_description, remark, 
      creator, creator_name, is_deleted, 
      gmt_create, gmt_modified, process_instance_id, 
      is_process_end, plot_ids)
    values (#{businessKey,jdbcType=VARCHAR}, #{projectId,jdbcType=INTEGER}, #{projectName,jdbcType=VARCHAR}, 
      #{projectNo,jdbcType=VARCHAR}, #{contractNo,jdbcType=VARCHAR}, #{stageName,jdbcType=VARCHAR}, 
      #{stepId,jdbcType=INTEGER}, #{stepName,jdbcType=VARCHAR}, #{formNo,jdbcType=VARCHAR}, 
      #{deptId,jdbcType=INTEGER}, #{deptName,jdbcType=VARCHAR}, #{stampType,jdbcType=VARCHAR}, 
      #{majors,jdbcType=VARCHAR}, #{useTime,jdbcType=VARCHAR}, #{docType,jdbcType=VARCHAR}, 
      #{useStamp,jdbcType=VARCHAR}, #{useDescription,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{creator,jdbcType=VARCHAR}, #{creatorName,jdbcType=VARCHAR}, #{deleted,jdbcType=BIT}, 
      #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}, #{processInstanceId,jdbcType=VARCHAR}, 
      #{processEnd,jdbcType=BIT}, #{plotIds,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.cmcu.mcc.five.entity.FiveEdStamp">
    update five_ed_stamp
    set business_key = #{businessKey,jdbcType=VARCHAR},
      project_id = #{projectId,jdbcType=INTEGER},
      project_name = #{projectName,jdbcType=VARCHAR},
      project_no = #{projectNo,jdbcType=VARCHAR},
      contract_no = #{contractNo,jdbcType=VARCHAR},
      stage_name = #{stageName,jdbcType=VARCHAR},
      step_id = #{stepId,jdbcType=INTEGER},
      step_name = #{stepName,jdbcType=VARCHAR},
      form_no = #{formNo,jdbcType=VARCHAR},
      dept_id = #{deptId,jdbcType=INTEGER},
      dept_name = #{deptName,jdbcType=VARCHAR},
      stamp_type = #{stampType,jdbcType=VARCHAR},
      majors = #{majors,jdbcType=VARCHAR},
      use_time = #{useTime,jdbcType=VARCHAR},
      doc_type = #{docType,jdbcType=VARCHAR},
      use_stamp = #{useStamp,jdbcType=VARCHAR},
      use_description = #{useDescription,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=VARCHAR},
      creator_name = #{creatorName,jdbcType=VARCHAR},
      is_deleted = #{deleted,jdbcType=BIT},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      process_instance_id = #{processInstanceId,jdbcType=VARCHAR},
      is_process_end = #{processEnd,jdbcType=BIT},
      plot_ids = #{plotIds,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, business_key, project_id, project_name, project_no, contract_no, stage_name, 
    step_id, step_name, form_no, dept_id, dept_name, stamp_type, majors, use_time, doc_type, 
    use_stamp, use_description, remark, creator, creator_name, is_deleted, gmt_create, 
    gmt_modified, process_instance_id, is_process_end, plot_ids
    from five_ed_stamp
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, business_key, project_id, project_name, project_no, contract_no, stage_name, 
    step_id, step_name, form_no, dept_id, dept_name, stamp_type, majors, use_time, doc_type, 
    use_stamp, use_description, remark, creator, creator_name, is_deleted, gmt_create, 
    gmt_modified, process_instance_id, is_process_end, plot_ids
    from five_ed_stamp
    <include refid="Base_Where_List" />
     order by id desc
  </select>
  <sql id="Base_Where_List">
    <where>
      <if test="id != null">
         AND id = #{id}
      </if>
      <if test="businessKey != null and businessKey != ''">
         AND business_key = #{businessKey}
      </if>
      <if test="projectId != null">
         AND project_id = #{projectId}
      </if>
      <if test="projectName != null and projectName != ''">
         AND project_name = #{projectName}
      </if>
      <if test="projectNo != null and projectNo != ''">
         AND project_no = #{projectNo}
      </if>
      <if test="contractNo != null and contractNo != ''">
         AND contract_no = #{contractNo}
      </if>
      <if test="stageName != null and stageName != ''">
         AND stage_name = #{stageName}
      </if>
      <if test="stepId != null">
         AND step_id = #{stepId}
      </if>
      <if test="stepName != null and stepName != ''">
         AND step_name = #{stepName}
      </if>
      <if test="formNo != null and formNo != ''">
         AND form_no = #{formNo}
      </if>
      <if test="deptId != null">
         AND dept_id = #{deptId}
      </if>
      <if test="deptName != null and deptName != ''">
         AND dept_name = #{deptName}
      </if>
      <if test="stampType != null and stampType != ''">
         AND stamp_type = #{stampType}
      </if>
      <if test="majors != null and majors != ''">
         AND majors = #{majors}
      </if>
      <if test="useTime != null and useTime != ''">
         AND use_time = #{useTime}
      </if>
      <if test="docType != null and docType != ''">
         AND doc_type = #{docType}
      </if>
      <if test="useStamp != null and useStamp != ''">
         AND use_stamp = #{useStamp}
      </if>
      <if test="useDescription != null and useDescription != ''">
         AND use_description = #{useDescription}
      </if>
      <if test="remark != null and remark != ''">
         AND remark = #{remark}
      </if>
      <if test="creator != null and creator != ''">
         AND creator = #{creator}
      </if>
      <if test="creatorName != null and creatorName != ''">
         AND creator_name = #{creatorName}
      </if>
      <if test="deleted != null">
         AND is_deleted = #{deleted}
      </if>
      <if test="gmtCreate != null">
         AND gmt_create = #{gmtCreate}
      </if>
      <if test="gmtModified != null">
         AND gmt_modified = #{gmtModified}
      </if>
      <if test="processInstanceId != null and processInstanceId != ''">
         AND process_instance_id = #{processInstanceId}
      </if>
      <if test="processEnd != null">
         AND is_process_end = #{processEnd}
      </if>
      <if test="plotIds != null and plotIds != ''">
         AND plot_ids = #{plotIds}
      </if>
    </where>
  </sql>
</mapper>