<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cmcu.mcc.five.dao.FiveHrQualifyChiefMapper">
  <resultMap id="BaseResultMap" type="com.cmcu.mcc.five.entity.FiveHrQualifyChief">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="business_key" jdbcType="VARCHAR" property="businessKey" />
    <result column="form_no" jdbcType="VARCHAR" property="formNo" />
    <result column="apply_type" jdbcType="VARCHAR" property="applyType" />
    <result column="check_year" jdbcType="VARCHAR" property="checkYear" />
    <result column="dept_id" jdbcType="INTEGER" property="deptId" />
    <result column="dept_name" jdbcType="VARCHAR" property="deptName" />
    <result column="chief_user_login" jdbcType="VARCHAR" property="chiefUserLogin" />
    <result column="chief_user_name" jdbcType="VARCHAR" property="chiefUserName" />
    <result column="position" jdbcType="VARCHAR" property="position" />
    <result column="project_type_now" jdbcType="VARCHAR" property="projectTypeNow" />
    <result column="project_type_apply" jdbcType="VARCHAR" property="projectTypeApply" />
    <result column="performance" jdbcType="VARCHAR" property="performance" />
    <result column="gender" jdbcType="BIT" property="gender" />
    <result column="birth_day" jdbcType="VARCHAR" property="birthDay" />
    <result column="ranks" jdbcType="VARCHAR" property="ranks" />
    <result column="rank_time" jdbcType="VARCHAR" property="rankTime" />
    <result column="user_type" jdbcType="VARCHAR" property="userType" />
    <result column="education_background" jdbcType="VARCHAR" property="educationBackground" />
    <result column="join_company_time" jdbcType="VARCHAR" property="joinCompanyTime" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="is_deleted" jdbcType="BIT" property="deleted" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="creator_name" jdbcType="VARCHAR" property="creatorName" />
    <result column="process_instance_id" jdbcType="VARCHAR" property="processInstanceId" />
    <result column="is_process_end" jdbcType="BIT" property="processEnd" />
    <result column="is_handled" jdbcType="BIT" property="handled" />
    <result column="specialty" jdbcType="VARCHAR" property="specialty" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from five_hr_qualify_chief
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cmcu.mcc.five.entity.FiveHrQualifyChief">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into five_hr_qualify_chief (business_key, form_no, apply_type, 
      check_year, dept_id, dept_name, 
      chief_user_login, chief_user_name, position, 
      project_type_now, project_type_apply, performance, 
      gender, birth_day, ranks, 
      rank_time, user_type, education_background, 
      join_company_time, remark, is_deleted, 
      gmt_create, gmt_modified, creator, 
      creator_name, process_instance_id, is_process_end, 
      is_handled, specialty)
    values (#{businessKey,jdbcType=VARCHAR}, #{formNo,jdbcType=VARCHAR}, #{applyType,jdbcType=VARCHAR}, 
      #{checkYear,jdbcType=VARCHAR}, #{deptId,jdbcType=INTEGER}, #{deptName,jdbcType=VARCHAR}, 
      #{chiefUserLogin,jdbcType=VARCHAR}, #{chiefUserName,jdbcType=VARCHAR}, #{position,jdbcType=VARCHAR}, 
      #{projectTypeNow,jdbcType=VARCHAR}, #{projectTypeApply,jdbcType=VARCHAR}, #{performance,jdbcType=VARCHAR}, 
      #{gender,jdbcType=BIT}, #{birthDay,jdbcType=VARCHAR}, #{ranks,jdbcType=VARCHAR}, 
      #{rankTime,jdbcType=VARCHAR}, #{userType,jdbcType=VARCHAR}, #{educationBackground,jdbcType=VARCHAR}, 
      #{joinCompanyTime,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{deleted,jdbcType=BIT}, 
      #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}, #{creator,jdbcType=VARCHAR}, 
      #{creatorName,jdbcType=VARCHAR}, #{processInstanceId,jdbcType=VARCHAR}, #{processEnd,jdbcType=BIT}, 
      #{handled,jdbcType=BIT}, #{specialty,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.cmcu.mcc.five.entity.FiveHrQualifyChief">
    update five_hr_qualify_chief
    set business_key = #{businessKey,jdbcType=VARCHAR},
      form_no = #{formNo,jdbcType=VARCHAR},
      apply_type = #{applyType,jdbcType=VARCHAR},
      check_year = #{checkYear,jdbcType=VARCHAR},
      dept_id = #{deptId,jdbcType=INTEGER},
      dept_name = #{deptName,jdbcType=VARCHAR},
      chief_user_login = #{chiefUserLogin,jdbcType=VARCHAR},
      chief_user_name = #{chiefUserName,jdbcType=VARCHAR},
      position = #{position,jdbcType=VARCHAR},
      project_type_now = #{projectTypeNow,jdbcType=VARCHAR},
      project_type_apply = #{projectTypeApply,jdbcType=VARCHAR},
      performance = #{performance,jdbcType=VARCHAR},
      gender = #{gender,jdbcType=BIT},
      birth_day = #{birthDay,jdbcType=VARCHAR},
      ranks = #{ranks,jdbcType=VARCHAR},
      rank_time = #{rankTime,jdbcType=VARCHAR},
      user_type = #{userType,jdbcType=VARCHAR},
      education_background = #{educationBackground,jdbcType=VARCHAR},
      join_company_time = #{joinCompanyTime,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      is_deleted = #{deleted,jdbcType=BIT},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      creator = #{creator,jdbcType=VARCHAR},
      creator_name = #{creatorName,jdbcType=VARCHAR},
      process_instance_id = #{processInstanceId,jdbcType=VARCHAR},
      is_process_end = #{processEnd,jdbcType=BIT},
      is_handled = #{handled,jdbcType=BIT},
      specialty = #{specialty,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, business_key, form_no, apply_type, check_year, dept_id, dept_name, chief_user_login, 
    chief_user_name, position, project_type_now, project_type_apply, performance, gender, 
    birth_day, ranks, rank_time, user_type, education_background, join_company_time, 
    remark, is_deleted, gmt_create, gmt_modified, creator, creator_name, process_instance_id, 
    is_process_end, is_handled, specialty
    from five_hr_qualify_chief
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, business_key, form_no, apply_type, check_year, dept_id, dept_name, chief_user_login, 
    chief_user_name, position, project_type_now, project_type_apply, performance, gender, 
    birth_day, ranks, rank_time, user_type, education_background, join_company_time, 
    remark, is_deleted, gmt_create, gmt_modified, creator, creator_name, process_instance_id, 
    is_process_end, is_handled, specialty
    from five_hr_qualify_chief
    <include refid="Base_Where_List" />
     order by id desc
  </select>
  <sql id="Base_Where_List">
    <where>
      <if test="id != null">
         AND id = #{id}
      </if>
      <if test="businessKey != null and businessKey != ''">
         AND business_key = #{businessKey}
      </if>
      <if test="formNo != null and formNo != ''">
         AND form_no = #{formNo}
      </if>
      <if test="applyType != null and applyType != ''">
         AND apply_type = #{applyType}
      </if>
      <if test="checkYear != null and checkYear != ''">
         AND check_year = #{checkYear}
      </if>
      <if test="deptId != null">
         AND dept_id = #{deptId}
      </if>
      <if test="deptName != null and deptName != ''">
         AND dept_name = #{deptName}
      </if>
      <if test="chiefUserLogin != null and chiefUserLogin != ''">
         AND chief_user_login = #{chiefUserLogin}
      </if>
      <if test="chiefUserName != null and chiefUserName != ''">
         AND chief_user_name = #{chiefUserName}
      </if>
      <if test="position != null and position != ''">
         AND position = #{position}
      </if>
      <if test="projectTypeNow != null and projectTypeNow != ''">
         AND project_type_now = #{projectTypeNow}
      </if>
      <if test="projectTypeApply != null and projectTypeApply != ''">
         AND project_type_apply = #{projectTypeApply}
      </if>
      <if test="performance != null and performance != ''">
         AND performance = #{performance}
      </if>
      <if test="gender != null">
         AND gender = #{gender}
      </if>
      <if test="birthDay != null and birthDay != ''">
         AND birth_day = #{birthDay}
      </if>
      <if test="ranks != null and ranks != ''">
         AND ranks = #{ranks}
      </if>
      <if test="rankTime != null and rankTime != ''">
         AND rank_time = #{rankTime}
      </if>
      <if test="userType != null and userType != ''">
         AND user_type = #{userType}
      </if>
      <if test="educationBackground != null and educationBackground != ''">
         AND education_background = #{educationBackground}
      </if>
      <if test="joinCompanyTime != null and joinCompanyTime != ''">
         AND join_company_time = #{joinCompanyTime}
      </if>
      <if test="remark != null and remark != ''">
         AND remark = #{remark}
      </if>
      <if test="deleted != null">
         AND is_deleted = #{deleted}
      </if>
      <if test="gmtCreate != null">
         AND gmt_create = #{gmtCreate}
      </if>
      <if test="gmtModified != null">
         AND gmt_modified = #{gmtModified}
      </if>
      <if test="creator != null and creator != ''">
         AND creator = #{creator}
      </if>
      <if test="creatorName != null and creatorName != ''">
         AND creator_name = #{creatorName}
      </if>
      <if test="processInstanceId != null and processInstanceId != ''">
         AND process_instance_id = #{processInstanceId}
      </if>
      <if test="processEnd != null">
         AND is_process_end = #{processEnd}
      </if>
      <if test="handled != null">
         AND is_handled = #{handled}
      </if>
      <if test="specialty != null and specialty != ''">
         AND specialty = #{specialty}
      </if>
    </where>
  </sql>
</mapper>