<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cmcu.mcc.five.dao.FiveEdServiceHandleMapper">
  <resultMap id="BaseResultMap" type="com.cmcu.mcc.five.entity.FiveEdServiceHandle">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="business_key" jdbcType="VARCHAR" property="businessKey" />
    <result column="project_id" jdbcType="INTEGER" property="projectId" />
    <result column="project_no" jdbcType="VARCHAR" property="projectNo" />
    <result column="project_name" jdbcType="VARCHAR" property="projectName" />
    <result column="contract_no" jdbcType="VARCHAR" property="contractNo" />
    <result column="stage_name" jdbcType="VARCHAR" property="stageName" />
    <result column="step_id" jdbcType="INTEGER" property="stepId" />
    <result column="step_name" jdbcType="VARCHAR" property="stepName" />
    <result column="form_no" jdbcType="VARCHAR" property="formNo" />
    <result column="department_name" jdbcType="VARCHAR" property="departmentName" />
    <result column="register_time" jdbcType="VARCHAR" property="registerTime" />
    <result column="category" jdbcType="VARCHAR" property="category" />
    <result column="register_no" jdbcType="VARCHAR" property="registerNo" />
    <result column="register_content" jdbcType="VARCHAR" property="registerContent" />
    <result column="department_review" jdbcType="VARCHAR" property="departmentReview" />
    <result column="specialist_review" jdbcType="VARCHAR" property="specialistReview" />
    <result column="agent" jdbcType="VARCHAR" property="agent" />
    <result column="reply_time" jdbcType="VARCHAR" property="replyTime" />
    <result column="is_deleted" jdbcType="BIT" property="deleted" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="creator_name" jdbcType="VARCHAR" property="creatorName" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="process_instance_id" jdbcType="VARCHAR" property="processInstanceId" />
    <result column="is_process_end" jdbcType="BIT" property="processEnd" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from five_ed_service_handle
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cmcu.mcc.five.entity.FiveEdServiceHandle">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into five_ed_service_handle (business_key, project_id, project_no, 
      project_name, contract_no, stage_name, 
      step_id, step_name, form_no, 
      department_name, register_time, category, 
      register_no, register_content, department_review, 
      specialist_review, agent, reply_time, 
      is_deleted, creator, creator_name, 
      gmt_create, gmt_modified, remark, 
      process_instance_id, is_process_end)
    values (#{businessKey,jdbcType=VARCHAR}, #{projectId,jdbcType=INTEGER}, #{projectNo,jdbcType=VARCHAR}, 
      #{projectName,jdbcType=VARCHAR}, #{contractNo,jdbcType=VARCHAR}, #{stageName,jdbcType=VARCHAR}, 
      #{stepId,jdbcType=INTEGER}, #{stepName,jdbcType=VARCHAR}, #{formNo,jdbcType=VARCHAR}, 
      #{departmentName,jdbcType=VARCHAR}, #{registerTime,jdbcType=VARCHAR}, #{category,jdbcType=VARCHAR}, 
      #{registerNo,jdbcType=VARCHAR}, #{registerContent,jdbcType=VARCHAR}, #{departmentReview,jdbcType=VARCHAR}, 
      #{specialistReview,jdbcType=VARCHAR}, #{agent,jdbcType=VARCHAR}, #{replyTime,jdbcType=VARCHAR}, 
      #{deleted,jdbcType=BIT}, #{creator,jdbcType=VARCHAR}, #{creatorName,jdbcType=VARCHAR}, 
      #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR}, 
      #{processInstanceId,jdbcType=VARCHAR}, #{processEnd,jdbcType=BIT})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.cmcu.mcc.five.entity.FiveEdServiceHandle">
    update five_ed_service_handle
    set business_key = #{businessKey,jdbcType=VARCHAR},
      project_id = #{projectId,jdbcType=INTEGER},
      project_no = #{projectNo,jdbcType=VARCHAR},
      project_name = #{projectName,jdbcType=VARCHAR},
      contract_no = #{contractNo,jdbcType=VARCHAR},
      stage_name = #{stageName,jdbcType=VARCHAR},
      step_id = #{stepId,jdbcType=INTEGER},
      step_name = #{stepName,jdbcType=VARCHAR},
      form_no = #{formNo,jdbcType=VARCHAR},
      department_name = #{departmentName,jdbcType=VARCHAR},
      register_time = #{registerTime,jdbcType=VARCHAR},
      category = #{category,jdbcType=VARCHAR},
      register_no = #{registerNo,jdbcType=VARCHAR},
      register_content = #{registerContent,jdbcType=VARCHAR},
      department_review = #{departmentReview,jdbcType=VARCHAR},
      specialist_review = #{specialistReview,jdbcType=VARCHAR},
      agent = #{agent,jdbcType=VARCHAR},
      reply_time = #{replyTime,jdbcType=VARCHAR},
      is_deleted = #{deleted,jdbcType=BIT},
      creator = #{creator,jdbcType=VARCHAR},
      creator_name = #{creatorName,jdbcType=VARCHAR},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR},
      process_instance_id = #{processInstanceId,jdbcType=VARCHAR},
      is_process_end = #{processEnd,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, business_key, project_id, project_no, project_name, contract_no, stage_name, 
    step_id, step_name, form_no, department_name, register_time, category, register_no, 
    register_content, department_review, specialist_review, agent, reply_time, is_deleted, 
    creator, creator_name, gmt_create, gmt_modified, remark, process_instance_id, is_process_end
    from five_ed_service_handle
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, business_key, project_id, project_no, project_name, contract_no, stage_name, 
    step_id, step_name, form_no, department_name, register_time, category, register_no, 
    register_content, department_review, specialist_review, agent, reply_time, is_deleted, 
    creator, creator_name, gmt_create, gmt_modified, remark, process_instance_id, is_process_end
    from five_ed_service_handle
    <include refid="Base_Where_List" />
    order by id desc
  </select>
  <sql id="Base_Where_List">
    <where>
      <if test="id != null">
         AND id = #{id}
      </if>
      <if test="businessKey != null and businessKey != ''">
         AND business_key = #{businessKey}
      </if>
      <if test="projectId != null">
         AND project_id = #{projectId}
      </if>
      <if test="projectNo != null and projectNo != ''">
         AND project_no = #{projectNo}
      </if>
      <if test="projectName != null and projectName != ''">
         AND project_name = #{projectName}
      </if>
      <if test="contractNo != null and contractNo != ''">
         AND contract_no = #{contractNo}
      </if>
      <if test="stageName != null and stageName != ''">
         AND stage_name = #{stageName}
      </if>
      <if test="stepId != null">
         AND step_id = #{stepId}
      </if>
      <if test="stepName != null and stepName != ''">
         AND step_name = #{stepName}
      </if>
      <if test="formNo != null and formNo != ''">
         AND form_no = #{formNo}
      </if>
      <if test="departmentName != null and departmentName != ''">
         AND department_name = #{departmentName}
      </if>
      <if test="registerTime != null and registerTime != ''">
         AND register_time = #{registerTime}
      </if>
      <if test="category != null and category != ''">
         AND category = #{category}
      </if>
      <if test="registerNo != null and registerNo != ''">
         AND register_no = #{registerNo}
      </if>
      <if test="registerContent != null and registerContent != ''">
         AND register_content = #{registerContent}
      </if>
      <if test="departmentReview != null and departmentReview != ''">
         AND department_review = #{departmentReview}
      </if>
      <if test="specialistReview != null and specialistReview != ''">
         AND specialist_review = #{specialistReview}
      </if>
      <if test="agent != null and agent != ''">
         AND agent = #{agent}
      </if>
      <if test="replyTime != null and replyTime != ''">
         AND reply_time = #{replyTime}
      </if>
      <if test="deleted != null">
         AND is_deleted = #{deleted}
      </if>
      <if test="creator != null and creator != ''">
         AND creator = #{creator}
      </if>
      <if test="creatorName != null and creatorName != ''">
         AND creator_name = #{creatorName}
      </if>
      <if test="gmtCreate != null">
         AND gmt_create = #{gmtCreate}
      </if>
      <if test="gmtModified != null">
         AND gmt_modified = #{gmtModified}
      </if>
      <if test="remark != null and remark != ''">
         AND remark = #{remark}
      </if>
      <if test="processInstanceId != null and processInstanceId != ''">
         AND process_instance_id = #{processInstanceId}
      </if>
      <if test="processEnd != null">
         AND is_process_end = #{processEnd}
      </if>
    </where>
  </sql>
</mapper>