<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cmcu.mcc.five.dao.FiveHrQualifyExternalMapper">
  <resultMap id="BaseResultMap" type="com.cmcu.mcc.five.entity.FiveHrQualifyExternal">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="business_key" jdbcType="VARCHAR" property="businessKey" />
    <result column="form_no" jdbcType="VARCHAR" property="formNo" />
    <result column="user_login" jdbcType="VARCHAR" property="userLogin" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="is_man" jdbcType="BIT" property="man" />
    <result column="check_year" jdbcType="VARCHAR" property="checkYear" />
    <result column="dept_id" jdbcType="INTEGER" property="deptId" />
    <result column="dept_name" jdbcType="VARCHAR" property="deptName" />
    <result column="education_background" jdbcType="VARCHAR" property="educationBackground" />
    <result column="age" jdbcType="VARCHAR" property="age" />
    <result column="graduate_college" jdbcType="VARCHAR" property="graduateCollege" />
    <result column="graduate_major" jdbcType="VARCHAR" property="graduateMajor" />
    <result column="plan_major" jdbcType="VARCHAR" property="planMajor" />
    <result column="plan_post" jdbcType="VARCHAR" property="planPost" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="qualification_certificate" jdbcType="VARCHAR" property="qualificationCertificate" />
    <result column="work_experience" jdbcType="VARCHAR" property="workExperience" />
    <result column="performance" jdbcType="VARCHAR" property="performance" />
    <result column="user_type" jdbcType="VARCHAR" property="userType" />
    <result column="plan_salary" jdbcType="VARCHAR" property="planSalary" />
    <result column="probation_salary" jdbcType="VARCHAR" property="probationSalary" />
    <result column="user_department_opinion" jdbcType="VARCHAR" property="userDepartmentOpinion" />
    <result column="hr_department_opinion" jdbcType="VARCHAR" property="hrDepartmentOpinion" />
    <result column="technology_department_opinion" jdbcType="VARCHAR" property="technologyDepartmentOpinion" />
    <result column="charge_leader_opinion" jdbcType="VARCHAR" property="chargeLeaderOpinion" />
    <result column="charge_hr_leader_opinion" jdbcType="VARCHAR" property="chargeHrLeaderOpinion" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="is_deleted" jdbcType="BIT" property="deleted" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="creator_name" jdbcType="VARCHAR" property="creatorName" />
    <result column="process_instance_id" jdbcType="VARCHAR" property="processInstanceId" />
    <result column="is_process_end" jdbcType="BIT" property="processEnd" />
    <result column="is_handled" jdbcType="BIT" property="handled" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from five_hr_qualify_external
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cmcu.mcc.five.entity.FiveHrQualifyExternal">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into five_hr_qualify_external (business_key, form_no, user_login, 
      user_name, is_man, check_year, 
      dept_id, dept_name, education_background, 
      age, graduate_college, graduate_major, 
      plan_major, plan_post, title, 
      qualification_certificate, work_experience, 
      performance, user_type, plan_salary, 
      probation_salary, user_department_opinion, 
      hr_department_opinion, technology_department_opinion, 
      charge_leader_opinion, charge_hr_leader_opinion, 
      remark, is_deleted, gmt_create, 
      gmt_modified, creator, creator_name, 
      process_instance_id, is_process_end, is_handled
      )
    values (#{businessKey,jdbcType=VARCHAR}, #{formNo,jdbcType=VARCHAR}, #{userLogin,jdbcType=VARCHAR}, 
      #{userName,jdbcType=VARCHAR}, #{man,jdbcType=BIT}, #{checkYear,jdbcType=VARCHAR}, 
      #{deptId,jdbcType=INTEGER}, #{deptName,jdbcType=VARCHAR}, #{educationBackground,jdbcType=VARCHAR}, 
      #{age,jdbcType=VARCHAR}, #{graduateCollege,jdbcType=VARCHAR}, #{graduateMajor,jdbcType=VARCHAR}, 
      #{planMajor,jdbcType=VARCHAR}, #{planPost,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, 
      #{qualificationCertificate,jdbcType=VARCHAR}, #{workExperience,jdbcType=VARCHAR}, 
      #{performance,jdbcType=VARCHAR}, #{userType,jdbcType=VARCHAR}, #{planSalary,jdbcType=VARCHAR}, 
      #{probationSalary,jdbcType=VARCHAR}, #{userDepartmentOpinion,jdbcType=VARCHAR}, 
      #{hrDepartmentOpinion,jdbcType=VARCHAR}, #{technologyDepartmentOpinion,jdbcType=VARCHAR}, 
      #{chargeLeaderOpinion,jdbcType=VARCHAR}, #{chargeHrLeaderOpinion,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR}, #{deleted,jdbcType=BIT}, #{gmtCreate,jdbcType=TIMESTAMP}, 
      #{gmtModified,jdbcType=TIMESTAMP}, #{creator,jdbcType=VARCHAR}, #{creatorName,jdbcType=VARCHAR}, 
      #{processInstanceId,jdbcType=VARCHAR}, #{processEnd,jdbcType=BIT}, #{handled,jdbcType=BIT}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.cmcu.mcc.five.entity.FiveHrQualifyExternal">
    update five_hr_qualify_external
    set business_key = #{businessKey,jdbcType=VARCHAR},
      form_no = #{formNo,jdbcType=VARCHAR},
      user_login = #{userLogin,jdbcType=VARCHAR},
      user_name = #{userName,jdbcType=VARCHAR},
      is_man = #{man,jdbcType=BIT},
      check_year = #{checkYear,jdbcType=VARCHAR},
      dept_id = #{deptId,jdbcType=INTEGER},
      dept_name = #{deptName,jdbcType=VARCHAR},
      education_background = #{educationBackground,jdbcType=VARCHAR},
      age = #{age,jdbcType=VARCHAR},
      graduate_college = #{graduateCollege,jdbcType=VARCHAR},
      graduate_major = #{graduateMajor,jdbcType=VARCHAR},
      plan_major = #{planMajor,jdbcType=VARCHAR},
      plan_post = #{planPost,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      qualification_certificate = #{qualificationCertificate,jdbcType=VARCHAR},
      work_experience = #{workExperience,jdbcType=VARCHAR},
      performance = #{performance,jdbcType=VARCHAR},
      user_type = #{userType,jdbcType=VARCHAR},
      plan_salary = #{planSalary,jdbcType=VARCHAR},
      probation_salary = #{probationSalary,jdbcType=VARCHAR},
      user_department_opinion = #{userDepartmentOpinion,jdbcType=VARCHAR},
      hr_department_opinion = #{hrDepartmentOpinion,jdbcType=VARCHAR},
      technology_department_opinion = #{technologyDepartmentOpinion,jdbcType=VARCHAR},
      charge_leader_opinion = #{chargeLeaderOpinion,jdbcType=VARCHAR},
      charge_hr_leader_opinion = #{chargeHrLeaderOpinion,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      is_deleted = #{deleted,jdbcType=BIT},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      creator = #{creator,jdbcType=VARCHAR},
      creator_name = #{creatorName,jdbcType=VARCHAR},
      process_instance_id = #{processInstanceId,jdbcType=VARCHAR},
      is_process_end = #{processEnd,jdbcType=BIT},
      is_handled = #{handled,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, business_key, form_no, user_login, user_name, is_man, check_year, dept_id, 
    dept_name, education_background, age, graduate_college, graduate_major, plan_major, 
    plan_post, title, qualification_certificate, work_experience, performance, user_type, 
    plan_salary, probation_salary, user_department_opinion, hr_department_opinion, technology_department_opinion, 
    charge_leader_opinion, charge_hr_leader_opinion, remark, is_deleted, gmt_create, 
    gmt_modified, creator, creator_name, process_instance_id, is_process_end, is_handled
    from five_hr_qualify_external
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, business_key, form_no, user_login, user_name, is_man, check_year, dept_id, 
    dept_name, education_background, age, graduate_college, graduate_major, plan_major, 
    plan_post, title, qualification_certificate, work_experience, performance, user_type, 
    plan_salary, probation_salary, user_department_opinion, hr_department_opinion, technology_department_opinion, 
    charge_leader_opinion, charge_hr_leader_opinion, remark, is_deleted, gmt_create, 
    gmt_modified, creator, creator_name, process_instance_id, is_process_end, is_handled
    from five_hr_qualify_external
    <include refid="Base_Where_List" />
     order by id desc
  </select>
  <sql id="Base_Where_List">
    <where>
      <if test="id != null">
         AND id = #{id}
      </if>
      <if test="businessKey != null and businessKey != ''">
         AND business_key = #{businessKey}
      </if>
      <if test="formNo != null and formNo != ''">
         AND form_no = #{formNo}
      </if>
      <if test="userLogin != null and userLogin != ''">
         AND user_login = #{userLogin}
      </if>
      <if test="userName != null and userName != ''">
         AND user_name = #{userName}
      </if>
      <if test="man != null">
         AND is_man = #{man}
      </if>
      <if test="checkYear != null and checkYear != ''">
         AND check_year = #{checkYear}
      </if>
      <if test="deptId != null">
         AND dept_id = #{deptId}
      </if>
      <if test="deptName != null and deptName != ''">
         AND dept_name = #{deptName}
      </if>
      <if test="educationBackground != null and educationBackground != ''">
         AND education_background = #{educationBackground}
      </if>
      <if test="age != null and age != ''">
         AND age = #{age}
      </if>
      <if test="graduateCollege != null and graduateCollege != ''">
         AND graduate_college = #{graduateCollege}
      </if>
      <if test="graduateMajor != null and graduateMajor != ''">
         AND graduate_major = #{graduateMajor}
      </if>
      <if test="planMajor != null and planMajor != ''">
         AND plan_major = #{planMajor}
      </if>
      <if test="planPost != null and planPost != ''">
         AND plan_post = #{planPost}
      </if>
      <if test="title != null and title != ''">
         AND title = #{title}
      </if>
      <if test="qualificationCertificate != null and qualificationCertificate != ''">
         AND qualification_certificate = #{qualificationCertificate}
      </if>
      <if test="workExperience != null and workExperience != ''">
         AND work_experience = #{workExperience}
      </if>
      <if test="performance != null and performance != ''">
         AND performance = #{performance}
      </if>
      <if test="userType != null and userType != ''">
         AND user_type = #{userType}
      </if>
      <if test="planSalary != null and planSalary != ''">
         AND plan_salary = #{planSalary}
      </if>
      <if test="probationSalary != null and probationSalary != ''">
         AND probation_salary = #{probationSalary}
      </if>
      <if test="userDepartmentOpinion != null and userDepartmentOpinion != ''">
         AND user_department_opinion = #{userDepartmentOpinion}
      </if>
      <if test="hrDepartmentOpinion != null and hrDepartmentOpinion != ''">
         AND hr_department_opinion = #{hrDepartmentOpinion}
      </if>
      <if test="technologyDepartmentOpinion != null and technologyDepartmentOpinion != ''">
         AND technology_department_opinion = #{technologyDepartmentOpinion}
      </if>
      <if test="chargeLeaderOpinion != null and chargeLeaderOpinion != ''">
         AND charge_leader_opinion = #{chargeLeaderOpinion}
      </if>
      <if test="chargeHrLeaderOpinion != null and chargeHrLeaderOpinion != ''">
         AND charge_hr_leader_opinion = #{chargeHrLeaderOpinion}
      </if>
      <if test="remark != null and remark != ''">
         AND remark = #{remark}
      </if>
      <if test="deleted != null">
         AND is_deleted = #{deleted}
      </if>
      <if test="gmtCreate != null">
         AND gmt_create = #{gmtCreate}
      </if>
      <if test="gmtModified != null">
         AND gmt_modified = #{gmtModified}
      </if>
      <if test="creator != null and creator != ''">
         AND creator = #{creator}
      </if>
      <if test="creatorName != null and creatorName != ''">
         AND creator_name = #{creatorName}
      </if>
      <if test="processInstanceId != null and processInstanceId != ''">
         AND process_instance_id = #{processInstanceId}
      </if>
      <if test="processEnd != null">
         AND is_process_end = #{processEnd}
      </if>
      <if test="handled != null">
         AND is_handled = #{handled}
      </if>
    </where>
  </sql>
</mapper>