<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cmcu.mcc.five.dao.FiveEdTaskUserMapper">
  <resultMap id="BaseResultMap" type="com.cmcu.mcc.five.entity.FiveEdTaskUser">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="task_id" jdbcType="INTEGER" property="taskId" />
    <result column="step_build_id" jdbcType="INTEGER" property="stepBuildId" />
    <result column="step_build_name" jdbcType="VARCHAR" property="stepBuildName" />
    <result column="major_name" jdbcType="VARCHAR" property="majorName" />
    <result column="major_charge_men" jdbcType="VARCHAR" property="majorChargeMen" />
    <result column="major_charge_men_name" jdbcType="VARCHAR" property="majorChargeMenName" />
    <result column="major_charge_men_mobile" jdbcType="VARCHAR" property="majorChargeMenMobile" />
    <result column="approve_men" jdbcType="VARCHAR" property="approveMen" />
    <result column="approve_men_name" jdbcType="VARCHAR" property="approveMenName" />
    <result column="proofread_men" jdbcType="VARCHAR" property="proofreadMen" />
    <result column="proofread_men_name" jdbcType="VARCHAR" property="proofreadMenName" />
    <result column="design_men" jdbcType="VARCHAR" property="designMen" />
    <result column="design_men_name" jdbcType="VARCHAR" property="designMenName" />
    <result column="audit_men" jdbcType="VARCHAR" property="auditMen" />
    <result column="audit_men_name" jdbcType="VARCHAR" property="auditMenName" />
    <result column="criterion_examine_men" jdbcType="VARCHAR" property="criterionExamineMen" />
    <result column="criterion_examine_men_name" jdbcType="VARCHAR" property="criterionExamineMenName" />
    <result column="all_men" jdbcType="VARCHAR" property="allMen" />
    <result column="all_men_name" jdbcType="VARCHAR" property="allMenName" />
    <result column="is_deleted" jdbcType="BIT" property="deleted" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="seq" jdbcType="INTEGER" property="seq" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from five_ed_task_user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cmcu.mcc.five.entity.FiveEdTaskUser">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into five_ed_task_user (task_id, step_build_id, step_build_name, 
      major_name, major_charge_men, major_charge_men_name, 
      major_charge_men_mobile, approve_men, approve_men_name, 
      proofread_men, proofread_men_name, design_men, 
      design_men_name, audit_men, audit_men_name, 
      criterion_examine_men, criterion_examine_men_name, 
      all_men, all_men_name, is_deleted, 
      gmt_create, gmt_modified, seq
      )
    values (#{taskId,jdbcType=INTEGER}, #{stepBuildId,jdbcType=INTEGER}, #{stepBuildName,jdbcType=VARCHAR}, 
      #{majorName,jdbcType=VARCHAR}, #{majorChargeMen,jdbcType=VARCHAR}, #{majorChargeMenName,jdbcType=VARCHAR}, 
      #{majorChargeMenMobile,jdbcType=VARCHAR}, #{approveMen,jdbcType=VARCHAR}, #{approveMenName,jdbcType=VARCHAR}, 
      #{proofreadMen,jdbcType=VARCHAR}, #{proofreadMenName,jdbcType=VARCHAR}, #{designMen,jdbcType=VARCHAR}, 
      #{designMenName,jdbcType=VARCHAR}, #{auditMen,jdbcType=VARCHAR}, #{auditMenName,jdbcType=VARCHAR}, 
      #{criterionExamineMen,jdbcType=VARCHAR}, #{criterionExamineMenName,jdbcType=VARCHAR}, 
      #{allMen,jdbcType=VARCHAR}, #{allMenName,jdbcType=VARCHAR}, #{deleted,jdbcType=BIT}, 
      #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}, #{seq,jdbcType=INTEGER}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.cmcu.mcc.five.entity.FiveEdTaskUser">
    update five_ed_task_user
    set task_id = #{taskId,jdbcType=INTEGER},
      step_build_id = #{stepBuildId,jdbcType=INTEGER},
      step_build_name = #{stepBuildName,jdbcType=VARCHAR},
      major_name = #{majorName,jdbcType=VARCHAR},
      major_charge_men = #{majorChargeMen,jdbcType=VARCHAR},
      major_charge_men_name = #{majorChargeMenName,jdbcType=VARCHAR},
      major_charge_men_mobile = #{majorChargeMenMobile,jdbcType=VARCHAR},
      approve_men = #{approveMen,jdbcType=VARCHAR},
      approve_men_name = #{approveMenName,jdbcType=VARCHAR},
      proofread_men = #{proofreadMen,jdbcType=VARCHAR},
      proofread_men_name = #{proofreadMenName,jdbcType=VARCHAR},
      design_men = #{designMen,jdbcType=VARCHAR},
      design_men_name = #{designMenName,jdbcType=VARCHAR},
      audit_men = #{auditMen,jdbcType=VARCHAR},
      audit_men_name = #{auditMenName,jdbcType=VARCHAR},
      criterion_examine_men = #{criterionExamineMen,jdbcType=VARCHAR},
      criterion_examine_men_name = #{criterionExamineMenName,jdbcType=VARCHAR},
      all_men = #{allMen,jdbcType=VARCHAR},
      all_men_name = #{allMenName,jdbcType=VARCHAR},
      is_deleted = #{deleted,jdbcType=BIT},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      seq = #{seq,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, task_id, step_build_id, step_build_name, major_name, major_charge_men, 
    major_charge_men_name, major_charge_men_mobile, approve_men, approve_men_name, proofread_men, 
    proofread_men_name, design_men, design_men_name, audit_men, audit_men_name, criterion_examine_men, 
    criterion_examine_men_name, all_men, all_men_name, is_deleted, gmt_create, gmt_modified, 
    seq
    from five_ed_task_user
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, task_id, step_build_id, step_build_name, major_name, major_charge_men, 
    major_charge_men_name, major_charge_men_mobile, approve_men, approve_men_name, proofread_men, 
    proofread_men_name, design_men, design_men_name, audit_men, audit_men_name, criterion_examine_men, 
    criterion_examine_men_name, all_men, all_men_name, is_deleted, gmt_create, gmt_modified, 
    seq
    from five_ed_task_user
    <include refid="Base_Where_List" />
     order by id desc
  </select>
  <sql id="Base_Where_List">
    <where>
      <if test="id != null">
         AND id = #{id}
      </if>
      <if test="taskId != null">
         AND task_id = #{taskId}
      </if>
      <if test="stepBuildId != null">
         AND step_build_id = #{stepBuildId}
      </if>
      <if test="stepBuildName != null and stepBuildName != ''">
         AND step_build_name = #{stepBuildName}
      </if>
      <if test="majorName != null and majorName != ''">
         AND major_name = #{majorName}
      </if>
      <if test="majorChargeMen != null and majorChargeMen != ''">
         AND major_charge_men = #{majorChargeMen}
      </if>
      <if test="majorChargeMenName != null and majorChargeMenName != ''">
         AND major_charge_men_name = #{majorChargeMenName}
      </if>
      <if test="majorChargeMenMobile != null and majorChargeMenMobile != ''">
         AND major_charge_men_mobile = #{majorChargeMenMobile}
      </if>
      <if test="approveMen != null and approveMen != ''">
         AND approve_men = #{approveMen}
      </if>
      <if test="approveMenName != null and approveMenName != ''">
         AND approve_men_name = #{approveMenName}
      </if>
      <if test="proofreadMen != null and proofreadMen != ''">
         AND proofread_men = #{proofreadMen}
      </if>
      <if test="proofreadMenName != null and proofreadMenName != ''">
         AND proofread_men_name = #{proofreadMenName}
      </if>
      <if test="designMen != null and designMen != ''">
         AND design_men = #{designMen}
      </if>
      <if test="designMenName != null and designMenName != ''">
         AND design_men_name = #{designMenName}
      </if>
      <if test="auditMen != null and auditMen != ''">
         AND audit_men = #{auditMen}
      </if>
      <if test="auditMenName != null and auditMenName != ''">
         AND audit_men_name = #{auditMenName}
      </if>
      <if test="criterionExamineMen != null and criterionExamineMen != ''">
         AND criterion_examine_men = #{criterionExamineMen}
      </if>
      <if test="criterionExamineMenName != null and criterionExamineMenName != ''">
         AND criterion_examine_men_name = #{criterionExamineMenName}
      </if>
      <if test="allMen != null and allMen != ''">
         AND all_men = #{allMen}
      </if>
      <if test="allMenName != null and allMenName != ''">
         AND all_men_name = #{allMenName}
      </if>
      <if test="deleted != null">
         AND is_deleted = #{deleted}
      </if>
      <if test="gmtCreate != null">
         AND gmt_create = #{gmtCreate}
      </if>
      <if test="gmtModified != null">
         AND gmt_modified = #{gmtModified}
      </if>
      <if test="seq != null">
         AND seq = #{seq}
      </if>
    </where>
  </sql>
</mapper>