<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cmcu.mcc.five.dao.FiveOaOutTechnicalExchangeMapper">
  <resultMap id="BaseResultMap" type="com.cmcu.mcc.five.entity.FiveOaOutTechnicalExchange">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="business_key" jdbcType="VARCHAR" property="businessKey" />
    <result column="form_no" jdbcType="VARCHAR" property="formNo" />
    <result column="dept_id" jdbcType="INTEGER" property="deptId" />
    <result column="dept_name" jdbcType="VARCHAR" property="deptName" />
    <result column="meet_name" jdbcType="VARCHAR" property="meetName" />
    <result column="meet_notice" jdbcType="VARCHAR" property="meetNotice" />
    <result column="attend" jdbcType="VARCHAR" property="attend" />
    <result column="attend_man" jdbcType="VARCHAR" property="attendMan" />
    <result column="attend_man_name" jdbcType="VARCHAR" property="attendManName" />
    <result column="price_payment" jdbcType="VARCHAR" property="pricePayment" />
    <result column="specialist_comment" jdbcType="VARCHAR" property="specialistComment" />
    <result column="dept_charge_comment" jdbcType="VARCHAR" property="deptChargeComment" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="creator_name" jdbcType="VARCHAR" property="creatorName" />
    <result column="is_deleted" jdbcType="BIT" property="deleted" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="process_instance_id" jdbcType="VARCHAR" property="processInstanceId" />
    <result column="is_process_end" jdbcType="BIT" property="processEnd" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from five_oa_out_technical_exchange
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cmcu.mcc.five.entity.FiveOaOutTechnicalExchange">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into five_oa_out_technical_exchange (business_key, form_no, dept_id, 
      dept_name, meet_name, meet_notice, 
      attend, attend_man, attend_man_name, 
      price_payment, specialist_comment, dept_charge_comment, 
      remark, creator, creator_name, 
      is_deleted, gmt_create, gmt_modified, 
      process_instance_id, is_process_end)
    values (#{businessKey,jdbcType=VARCHAR}, #{formNo,jdbcType=VARCHAR}, #{deptId,jdbcType=INTEGER}, 
      #{deptName,jdbcType=VARCHAR}, #{meetName,jdbcType=VARCHAR}, #{meetNotice,jdbcType=VARCHAR}, 
      #{attend,jdbcType=VARCHAR}, #{attendMan,jdbcType=VARCHAR}, #{attendManName,jdbcType=VARCHAR}, 
      #{pricePayment,jdbcType=VARCHAR}, #{specialistComment,jdbcType=VARCHAR}, #{deptChargeComment,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR}, #{creator,jdbcType=VARCHAR}, #{creatorName,jdbcType=VARCHAR}, 
      #{deleted,jdbcType=BIT}, #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}, 
      #{processInstanceId,jdbcType=VARCHAR}, #{processEnd,jdbcType=BIT})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.cmcu.mcc.five.entity.FiveOaOutTechnicalExchange">
    update five_oa_out_technical_exchange
    set business_key = #{businessKey,jdbcType=VARCHAR},
      form_no = #{formNo,jdbcType=VARCHAR},
      dept_id = #{deptId,jdbcType=INTEGER},
      dept_name = #{deptName,jdbcType=VARCHAR},
      meet_name = #{meetName,jdbcType=VARCHAR},
      meet_notice = #{meetNotice,jdbcType=VARCHAR},
      attend = #{attend,jdbcType=VARCHAR},
      attend_man = #{attendMan,jdbcType=VARCHAR},
      attend_man_name = #{attendManName,jdbcType=VARCHAR},
      price_payment = #{pricePayment,jdbcType=VARCHAR},
      specialist_comment = #{specialistComment,jdbcType=VARCHAR},
      dept_charge_comment = #{deptChargeComment,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=VARCHAR},
      creator_name = #{creatorName,jdbcType=VARCHAR},
      is_deleted = #{deleted,jdbcType=BIT},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      process_instance_id = #{processInstanceId,jdbcType=VARCHAR},
      is_process_end = #{processEnd,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, business_key, form_no, dept_id, dept_name, meet_name, meet_notice, attend, 
    attend_man, attend_man_name, price_payment, specialist_comment, dept_charge_comment, 
    remark, creator, creator_name, is_deleted, gmt_create, gmt_modified, process_instance_id, 
    is_process_end
    from five_oa_out_technical_exchange
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, business_key, form_no, dept_id, dept_name, meet_name, meet_notice, attend, 
    attend_man, attend_man_name, price_payment, specialist_comment, dept_charge_comment, 
    remark, creator, creator_name, is_deleted, gmt_create, gmt_modified, process_instance_id, 
    is_process_end
    from five_oa_out_technical_exchange
    <include refid="Base_Where_List" />
    <include refid="Base_Where_List1" />
     order by id desc
  </select>
  <sql id="Base_Where_List">
    <where>
      <if test="id != null and isLikeSelect==null">
         AND id = #{id}
      </if>
      <if test="businessKey != null and isLikeSelect==null and businessKey != ''">
         AND business_key = #{businessKey}
      </if>
      <if test="formNo != null and isLikeSelect==null and formNo != ''">
         AND form_no = #{formNo}
      </if>
      <if test="deptId != null and isLikeSelect==null">
         AND dept_id = #{deptId}
      </if>
      <if test="deptName != null and isLikeSelect==null and deptName != ''">
         AND dept_name = #{deptName}
      </if>
      <if test="meetName != null and isLikeSelect==null and meetName != ''">
         AND meet_name = #{meetName}
      </if>
      <if test="meetNotice != null and isLikeSelect==null and meetNotice != ''">
         AND meet_notice = #{meetNotice}
      </if>
      <if test="attend != null and isLikeSelect==null and attend != ''">
         AND attend = #{attend}
      </if>
      <if test="attendMan != null and isLikeSelect==null and attendMan != ''">
         AND attend_man = #{attendMan}
      </if>
      <if test="attendManName != null and isLikeSelect==null and attendManName != ''">
         AND attend_man_name = #{attendManName}
      </if>
      <if test="pricePayment != null and isLikeSelect==null and pricePayment != ''">
         AND price_payment = #{pricePayment}
      </if>
      <if test="specialistComment != null and isLikeSelect==null and specialistComment != ''">
         AND specialist_comment = #{specialistComment}
      </if>
      <if test="deptChargeComment != null and isLikeSelect==null and deptChargeComment != ''">
         AND dept_charge_comment = #{deptChargeComment}
      </if>
      <if test="remark != null and isLikeSelect==null and remark != ''">
         AND remark = #{remark}
      </if>
      <if test="creator != null and isLikeSelect==null and creator != ''">
         AND creator = #{creator}
      </if>
      <if test="creatorName != null and isLikeSelect==null and creatorName != ''">
         AND creator_name = #{creatorName}
      </if>
      <if test="deleted != null and isLikeSelect==null">
         AND is_deleted = #{deleted}
      </if>
      <if test="deptIdList != null and deptIdList.size()>0 and isLikeSelect==null">
        AND (
        dept_id in
        <foreach collection="deptIdList" open="(" close=")" separator="," item="deptId" index="i">
          #{deptId}
        </foreach>
        <if test="initiator != null and initiator != ''">
          or creator = #{initiator}
        </if>
        )
      </if>

      <if test="gmtCreate != null and isLikeSelect==null">
         AND gmt_create = #{gmtCreate}
      </if>
      <if test="gmtModified != null and isLikeSelect==null">
         AND gmt_modified = #{gmtModified}
      </if>
      <if test="processInstanceId != null and isLikeSelect==null and processInstanceId != ''">
         AND process_instance_id = #{processInstanceId}
      </if>
      <if test="processEnd != null and isLikeSelect==null">
         AND is_process_end = #{processEnd}
      </if>
    </where>
  </sql>
  <sql id="Base_Where_List1">
    <where>
      <if test="businessKey != null and isLikeSelect!= null and businessKey != '' ">
         AND business_key like  CONCAT('%',#{businessKey},'%')
      </if>
      <if test="formNo != null and isLikeSelect!= null and formNo != '' ">
         AND form_no like  CONCAT('%',#{formNo},'%')
      </if>
      <if test="deptName != null and isLikeSelect!= null and deptName != '' ">
         AND dept_name like  CONCAT('%',#{deptName},'%')
      </if>
      <if test="meetName != null and isLikeSelect!= null and meetName != '' ">
         AND meet_name like  CONCAT('%',#{meetName},'%')
      </if>
      <if test="meetNotice != null and isLikeSelect!= null and meetNotice != '' ">
         AND meet_notice like  CONCAT('%',#{meetNotice},'%')
      </if>
      <if test="attend != null and isLikeSelect!= null and attend != '' ">
         AND attend like  CONCAT('%',#{attend},'%')
      </if>
      <if test="attendMan != null and isLikeSelect!= null and attendMan != '' ">
         AND attend_man like  CONCAT('%',#{attendMan},'%')
      </if>
      <if test="attendManName != null and isLikeSelect!= null and attendManName != '' ">
         AND attend_man_name like  CONCAT('%',#{attendManName},'%')
      </if>
      <if test="pricePayment != null and isLikeSelect!= null and pricePayment != '' ">
         AND price_payment like  CONCAT('%',#{pricePayment},'%')
      </if>
      <if test="specialistComment != null and isLikeSelect!= null and specialistComment != '' ">
         AND specialist_comment like  CONCAT('%',#{specialistComment},'%')
      </if>
      <if test="deptChargeComment != null and isLikeSelect!= null and deptChargeComment != '' ">
         AND dept_charge_comment like  CONCAT('%',#{deptChargeComment},'%')
      </if>
      <if test="remark != null and isLikeSelect!= null and remark != '' ">
         AND remark like  CONCAT('%',#{remark},'%')
      </if>
      <if test="creator != null and isLikeSelect!= null and creator != '' ">
         AND creator like  CONCAT('%',#{creator},'%')
      </if>
      <if test="creatorName != null and isLikeSelect!= null and creatorName != '' ">
         AND creator_name like  CONCAT('%',#{creatorName},'%')
      </if>
      <if test="processInstanceId != null and isLikeSelect!= null and processInstanceId != '' ">
         AND process_instance_id like  CONCAT('%',#{processInstanceId},'%')
      </if>
      <if test="deleted != null and isLikeSelect!=null">
         AND is_deleted = #{deleted}
      </if>

      <if test="deptId != null and isLikeSelect!=null">
        AND dept_id = #{deptId}
      </if>

      <if test="deptIdList != null and deptIdList.size()>0 and isLikeSelect!=null">
        AND (
        dept_id in
        <foreach collection="deptIdList" open="(" close=")" separator="," item="deptId" index="i">
          #{deptId}
        </foreach>
        <if test="initiator != null and initiator != ''">
          or creator = #{initiator}
        </if>
        )
      </if>
    </where>
  </sql>
</mapper>