<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cmcu.mcc.five.dao.FiveEdServiceChangeMapper">
  <resultMap id="BaseResultMap" type="com.cmcu.mcc.five.entity.FiveEdServiceChange">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="business_key" jdbcType="VARCHAR" property="businessKey" />
    <result column="project_id" jdbcType="INTEGER" property="projectId" />
    <result column="project_name" jdbcType="VARCHAR" property="projectName" />
    <result column="project_no" jdbcType="VARCHAR" property="projectNo" />
    <result column="contract_no" jdbcType="VARCHAR" property="contractNo" />
    <result column="step_id" jdbcType="INTEGER" property="stepId" />
    <result column="stage_name" jdbcType="VARCHAR" property="stageName" />
    <result column="form_no" jdbcType="VARCHAR" property="formNo" />
    <result column="step_name" jdbcType="VARCHAR" property="stepName" />
    <result column="build_name" jdbcType="VARCHAR" property="buildName" />
    <result column="major_name" jdbcType="VARCHAR" property="majorName" />
    <result column="change_no" jdbcType="VARCHAR" property="changeNo" />
    <result column="draw_no" jdbcType="VARCHAR" property="drawNo" />
    <result column="change_reason" jdbcType="VARCHAR" property="changeReason" />
    <result column="change_reason_detail" jdbcType="VARCHAR" property="changeReasonDetail" />
    <result column="need_change_other" jdbcType="BIT" property="needChangeOther" />
    <result column="need_change_major" jdbcType="VARCHAR" property="needChangeMajor" />
    <result column="change_content" jdbcType="VARCHAR" property="changeContent" />
    <result column="attach_count" jdbcType="INTEGER" property="attachCount" />
    <result column="attach_no" jdbcType="VARCHAR" property="attachNo" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="creator_name" jdbcType="VARCHAR" property="creatorName" />
    <result column="is_deleted" jdbcType="BIT" property="deleted" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="process_instance_id" jdbcType="VARCHAR" property="processInstanceId" />
    <result column="is_process_end" jdbcType="BIT" property="processEnd" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from five_ed_service_change
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cmcu.mcc.five.entity.FiveEdServiceChange">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into five_ed_service_change (business_key, project_id, project_name, 
      project_no, contract_no, step_id, 
      stage_name, form_no, step_name, 
      build_name, major_name, change_no, 
      draw_no, change_reason, change_reason_detail, 
      need_change_other, need_change_major, change_content, 
      attach_count, attach_no, remark, 
      creator, creator_name, is_deleted, 
      gmt_create, gmt_modified, process_instance_id, 
      is_process_end)
    values (#{businessKey,jdbcType=VARCHAR}, #{projectId,jdbcType=INTEGER}, #{projectName,jdbcType=VARCHAR}, 
      #{projectNo,jdbcType=VARCHAR}, #{contractNo,jdbcType=VARCHAR}, #{stepId,jdbcType=INTEGER}, 
      #{stageName,jdbcType=VARCHAR}, #{formNo,jdbcType=VARCHAR}, #{stepName,jdbcType=VARCHAR}, 
      #{buildName,jdbcType=VARCHAR}, #{majorName,jdbcType=VARCHAR}, #{changeNo,jdbcType=VARCHAR}, 
      #{drawNo,jdbcType=VARCHAR}, #{changeReason,jdbcType=VARCHAR}, #{changeReasonDetail,jdbcType=VARCHAR}, 
      #{needChangeOther,jdbcType=BIT}, #{needChangeMajor,jdbcType=VARCHAR}, #{changeContent,jdbcType=VARCHAR}, 
      #{attachCount,jdbcType=INTEGER}, #{attachNo,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{creator,jdbcType=VARCHAR}, #{creatorName,jdbcType=VARCHAR}, #{deleted,jdbcType=BIT}, 
      #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}, #{processInstanceId,jdbcType=VARCHAR}, 
      #{processEnd,jdbcType=BIT})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.cmcu.mcc.five.entity.FiveEdServiceChange">
    update five_ed_service_change
    set business_key = #{businessKey,jdbcType=VARCHAR},
      project_id = #{projectId,jdbcType=INTEGER},
      project_name = #{projectName,jdbcType=VARCHAR},
      project_no = #{projectNo,jdbcType=VARCHAR},
      contract_no = #{contractNo,jdbcType=VARCHAR},
      step_id = #{stepId,jdbcType=INTEGER},
      stage_name = #{stageName,jdbcType=VARCHAR},
      form_no = #{formNo,jdbcType=VARCHAR},
      step_name = #{stepName,jdbcType=VARCHAR},
      build_name = #{buildName,jdbcType=VARCHAR},
      major_name = #{majorName,jdbcType=VARCHAR},
      change_no = #{changeNo,jdbcType=VARCHAR},
      draw_no = #{drawNo,jdbcType=VARCHAR},
      change_reason = #{changeReason,jdbcType=VARCHAR},
      change_reason_detail = #{changeReasonDetail,jdbcType=VARCHAR},
      need_change_other = #{needChangeOther,jdbcType=BIT},
      need_change_major = #{needChangeMajor,jdbcType=VARCHAR},
      change_content = #{changeContent,jdbcType=VARCHAR},
      attach_count = #{attachCount,jdbcType=INTEGER},
      attach_no = #{attachNo,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=VARCHAR},
      creator_name = #{creatorName,jdbcType=VARCHAR},
      is_deleted = #{deleted,jdbcType=BIT},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      process_instance_id = #{processInstanceId,jdbcType=VARCHAR},
      is_process_end = #{processEnd,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, business_key, project_id, project_name, project_no, contract_no, step_id, 
    stage_name, form_no, step_name, build_name, major_name, change_no, draw_no, change_reason, 
    change_reason_detail, need_change_other, need_change_major, change_content, attach_count, 
    attach_no, remark, creator, creator_name, is_deleted, gmt_create, gmt_modified, process_instance_id, 
    is_process_end
    from five_ed_service_change
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, business_key, project_id, project_name, project_no, contract_no, step_id, 
    stage_name, form_no, step_name, build_name, major_name, change_no, draw_no, change_reason, 
    change_reason_detail, need_change_other, need_change_major, change_content, attach_count, 
    attach_no, remark, creator, creator_name, is_deleted, gmt_create, gmt_modified, process_instance_id, 
    is_process_end
    from five_ed_service_change
    <include refid="Base_Where_List" />
    order by id desc
  </select>
  <sql id="Base_Where_List">
    <where>
      <if test="id != null">
         AND id = #{id}
      </if>
      <if test="businessKey != null and businessKey != ''">
         AND business_key = #{businessKey}
      </if>
      <if test="projectId != null">
         AND project_id = #{projectId}
      </if>
      <if test="projectName != null and projectName != ''">
         AND project_name = #{projectName}
      </if>
      <if test="projectNo != null and projectNo != ''">
         AND project_no = #{projectNo}
      </if>
      <if test="contractNo != null and contractNo != ''">
         AND contract_no = #{contractNo}
      </if>
      <if test="stepId != null">
         AND step_id = #{stepId}
      </if>
      <if test="stageName != null and stageName != ''">
         AND stage_name = #{stageName}
      </if>
      <if test="formNo != null and formNo != ''">
         AND form_no = #{formNo}
      </if>
      <if test="stepName != null and stepName != ''">
         AND step_name = #{stepName}
      </if>
      <if test="buildName != null and buildName != ''">
         AND build_name = #{buildName}
      </if>
      <if test="majorName != null and majorName != ''">
         AND major_name = #{majorName}
      </if>
      <if test="changeNo != null and changeNo != ''">
         AND change_no = #{changeNo}
      </if>
      <if test="drawNo != null and drawNo != ''">
         AND draw_no = #{drawNo}
      </if>
      <if test="changeReason != null and changeReason != ''">
         AND change_reason = #{changeReason}
      </if>
      <if test="changeReasonDetail != null and changeReasonDetail != ''">
         AND change_reason_detail = #{changeReasonDetail}
      </if>
      <if test="needChangeOther != null">
         AND need_change_other = #{needChangeOther}
      </if>
      <if test="needChangeMajor != null and needChangeMajor != ''">
         AND need_change_major = #{needChangeMajor}
      </if>
      <if test="changeContent != null and changeContent != ''">
         AND change_content = #{changeContent}
      </if>
      <if test="attachCount != null">
         AND attach_count = #{attachCount}
      </if>
      <if test="attachNo != null and attachNo != ''">
         AND attach_no = #{attachNo}
      </if>
      <if test="remark != null and remark != ''">
         AND remark = #{remark}
      </if>
      <if test="creator != null and creator != ''">
         AND creator = #{creator}
      </if>
      <if test="creatorName != null and creatorName != ''">
         AND creator_name = #{creatorName}
      </if>
      <if test="deleted != null">
         AND is_deleted = #{deleted}
      </if>
      <if test="gmtCreate != null">
         AND gmt_create = #{gmtCreate}
      </if>
      <if test="gmtModified != null">
         AND gmt_modified = #{gmtModified}
      </if>
      <if test="processInstanceId != null and processInstanceId != ''">
         AND process_instance_id = #{processInstanceId}
      </if>
      <if test="processEnd != null">
         AND is_process_end = #{processEnd}
      </if>
    </where>
  </sql>
</mapper>