<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cmcu.mcc.five.dao.FiveOaNonSecretEquipmentScrapDetailMapper">
  <resultMap id="BaseResultMap" type="com.cmcu.mcc.five.entity.FiveOaNonSecretEquipmentScrapDetail">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="nonsecret_equipment_scrap_id" jdbcType="VARCHAR" property="nonsecretEquipmentScrapId" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="equipment_no" jdbcType="VARCHAR" property="equipmentNo" />
    <result column="bank" jdbcType="VARCHAR" property="bank" />
    <result column="secret_rank" jdbcType="VARCHAR" property="secretRank" />
    <result column="charge_man" jdbcType="VARCHAR" property="chargeMan" />
    <result column="charge_man_name" jdbcType="VARCHAR" property="chargeManName" />
    <result column="disk_no" jdbcType="VARCHAR" property="diskNo" />
    <result column="start_time" jdbcType="VARCHAR" property="startTime" />
    <result column="scrap_type" jdbcType="VARCHAR" property="scrapType" />
    <result column="custody_man" jdbcType="VARCHAR" property="custodyMan" />
    <result column="custody_man_name" jdbcType="VARCHAR" property="custodyManName" />
    <result column="dept_id" jdbcType="INTEGER" property="deptId" />
    <result column="dept_name" jdbcType="VARCHAR" property="deptName" />
    <result column="assets_no" jdbcType="VARCHAR" property="assetsNo" />
    <result column="price" jdbcType="VARCHAR" property="price" />
    <result column="depreciation_year" jdbcType="VARCHAR" property="depreciationYear" />
    <result column="depreciation_price" jdbcType="VARCHAR" property="depreciationPrice" />
    <result column="net_worth" jdbcType="VARCHAR" property="netWorth" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="creator_name" jdbcType="VARCHAR" property="creatorName" />
    <result column="is_deleted" jdbcType="BIT" property="deleted" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from five_oa_nonsecret_equipment_scrap_detail
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cmcu.mcc.five.entity.FiveOaNonSecretEquipmentScrapDetail">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into five_oa_nonsecret_equipment_scrap_detail (nonsecret_equipment_scrap_id, type, 
      equipment_no, bank, secret_rank, 
      charge_man, charge_man_name, disk_no, 
      start_time, scrap_type, custody_man, 
      custody_man_name, dept_id, dept_name, 
      assets_no, price, depreciation_year, 
      depreciation_price, net_worth, remark, 
      creator, creator_name, is_deleted, 
      gmt_create, gmt_modified)
    values (#{nonsecretEquipmentScrapId,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, 
      #{equipmentNo,jdbcType=VARCHAR}, #{bank,jdbcType=VARCHAR}, #{secretRank,jdbcType=VARCHAR}, 
      #{chargeMan,jdbcType=VARCHAR}, #{chargeManName,jdbcType=VARCHAR}, #{diskNo,jdbcType=VARCHAR}, 
      #{startTime,jdbcType=VARCHAR}, #{scrapType,jdbcType=VARCHAR}, #{custodyMan,jdbcType=VARCHAR}, 
      #{custodyManName,jdbcType=VARCHAR}, #{deptId,jdbcType=INTEGER}, #{deptName,jdbcType=VARCHAR}, 
      #{assetsNo,jdbcType=VARCHAR}, #{price,jdbcType=VARCHAR}, #{depreciationYear,jdbcType=VARCHAR}, 
      #{depreciationPrice,jdbcType=VARCHAR}, #{netWorth,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{creator,jdbcType=VARCHAR}, #{creatorName,jdbcType=VARCHAR}, #{deleted,jdbcType=BIT}, 
      #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.cmcu.mcc.five.entity.FiveOaNonSecretEquipmentScrapDetail">
    update five_oa_nonsecret_equipment_scrap_detail
    set nonsecret_equipment_scrap_id = #{nonsecretEquipmentScrapId,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      equipment_no = #{equipmentNo,jdbcType=VARCHAR},
      bank = #{bank,jdbcType=VARCHAR},
      secret_rank = #{secretRank,jdbcType=VARCHAR},
      charge_man = #{chargeMan,jdbcType=VARCHAR},
      charge_man_name = #{chargeManName,jdbcType=VARCHAR},
      disk_no = #{diskNo,jdbcType=VARCHAR},
      start_time = #{startTime,jdbcType=VARCHAR},
      scrap_type = #{scrapType,jdbcType=VARCHAR},
      custody_man = #{custodyMan,jdbcType=VARCHAR},
      custody_man_name = #{custodyManName,jdbcType=VARCHAR},
      dept_id = #{deptId,jdbcType=INTEGER},
      dept_name = #{deptName,jdbcType=VARCHAR},
      assets_no = #{assetsNo,jdbcType=VARCHAR},
      price = #{price,jdbcType=VARCHAR},
      depreciation_year = #{depreciationYear,jdbcType=VARCHAR},
      depreciation_price = #{depreciationPrice,jdbcType=VARCHAR},
      net_worth = #{netWorth,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=VARCHAR},
      creator_name = #{creatorName,jdbcType=VARCHAR},
      is_deleted = #{deleted,jdbcType=BIT},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, nonsecret_equipment_scrap_id, type, equipment_no, bank, secret_rank, charge_man, 
    charge_man_name, disk_no, start_time, scrap_type, custody_man, custody_man_name, 
    dept_id, dept_name, assets_no, price, depreciation_year, depreciation_price, net_worth, 
    remark, creator, creator_name, is_deleted, gmt_create, gmt_modified
    from five_oa_nonsecret_equipment_scrap_detail
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, nonsecret_equipment_scrap_id, type, equipment_no, bank, secret_rank, charge_man, 
    charge_man_name, disk_no, start_time, scrap_type, custody_man, custody_man_name, 
    dept_id, dept_name, assets_no, price, depreciation_year, depreciation_price, net_worth, 
    remark, creator, creator_name, is_deleted, gmt_create, gmt_modified
    from five_oa_nonsecret_equipment_scrap_detail
    <include refid="Base_Where_List" />
     order by id desc
  </select>
  <sql id="Base_Where_List">
    <where>
      <if test="id != null">
         AND id = #{id}
      </if>
      <if test="nonsecretEquipmentScrapId != null and nonsecretEquipmentScrapId != ''">
         AND nonsecret_equipment_scrap_id = #{nonsecretEquipmentScrapId}
      </if>
      <if test="type != null and type != ''">
         AND type = #{type}
      </if>
      <if test="equipmentNo != null and equipmentNo != ''">
         AND equipment_no = #{equipmentNo}
      </if>
      <if test="bank != null and bank != ''">
         AND bank = #{bank}
      </if>
      <if test="secretRank != null and secretRank != ''">
         AND secret_rank = #{secretRank}
      </if>
      <if test="chargeMan != null and chargeMan != ''">
         AND charge_man = #{chargeMan}
      </if>
      <if test="chargeManName != null and chargeManName != ''">
         AND charge_man_name = #{chargeManName}
      </if>
      <if test="diskNo != null and diskNo != ''">
         AND disk_no = #{diskNo}
      </if>
      <if test="startTime != null and startTime != ''">
         AND start_time = #{startTime}
      </if>
      <if test="scrapType != null and scrapType != ''">
         AND scrap_type = #{scrapType}
      </if>
      <if test="custodyMan != null and custodyMan != ''">
         AND custody_man = #{custodyMan}
      </if>
      <if test="custodyManName != null and custodyManName != ''">
         AND custody_man_name = #{custodyManName}
      </if>
      <if test="deptId != null">
         AND dept_id = #{deptId}
      </if>
      <if test="deptName != null and deptName != ''">
         AND dept_name = #{deptName}
      </if>
      <if test="assetsNo != null and assetsNo != ''">
         AND assets_no = #{assetsNo}
      </if>
      <if test="price != null and price != ''">
         AND price = #{price}
      </if>
      <if test="depreciationYear != null and depreciationYear != ''">
         AND depreciation_year = #{depreciationYear}
      </if>
      <if test="depreciationPrice != null and depreciationPrice != ''">
         AND depreciation_price = #{depreciationPrice}
      </if>
      <if test="netWorth != null and netWorth != ''">
         AND net_worth = #{netWorth}
      </if>
      <if test="remark != null and remark != ''">
         AND remark = #{remark}
      </if>
      <if test="creator != null and creator != ''">
         AND creator = #{creator}
      </if>
      <if test="creatorName != null and creatorName != ''">
         AND creator_name = #{creatorName}
      </if>
      <if test="deleted != null">
         AND is_deleted = #{deleted}
      </if>
      <if test="gmtCreate != null">
         AND gmt_create = #{gmtCreate}
      </if>
      <if test="gmtModified != null">
         AND gmt_modified = #{gmtModified}
      </if>
    </where>
  </sql>
</mapper>