<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cmcu.mcc.five.dao.FiveEdQualityCheckDetailMapper">
  <resultMap id="BaseResultMap" type="com.cmcu.mcc.five.entity.FiveEdQualityCheckDetail">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="quality_check_id" jdbcType="INTEGER" property="qualityCheckId" />
    <result column="draw_no" jdbcType="VARCHAR" property="drawNo" />
    <result column="mark_category" jdbcType="VARCHAR" property="markCategory" />
    <result column="mark_content" jdbcType="VARCHAR" property="markContent" />
    <result column="rule_no" jdbcType="VARCHAR" property="ruleNo" />
    <result column="solution_content" jdbcType="VARCHAR" property="solutionContent" />
    <result column="seq" jdbcType="INTEGER" property="seq" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from five_ed_quality_check_detail
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cmcu.mcc.five.entity.FiveEdQualityCheckDetail">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into five_ed_quality_check_detail (quality_check_id, draw_no, mark_category, 
      mark_content, rule_no, solution_content, 
      seq)
    values (#{qualityCheckId,jdbcType=INTEGER}, #{drawNo,jdbcType=VARCHAR}, #{markCategory,jdbcType=VARCHAR}, 
      #{markContent,jdbcType=VARCHAR}, #{ruleNo,jdbcType=VARCHAR}, #{solutionContent,jdbcType=VARCHAR}, 
      #{seq,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.cmcu.mcc.five.entity.FiveEdQualityCheckDetail">
    update five_ed_quality_check_detail
    set quality_check_id = #{qualityCheckId,jdbcType=INTEGER},
      draw_no = #{drawNo,jdbcType=VARCHAR},
      mark_category = #{markCategory,jdbcType=VARCHAR},
      mark_content = #{markContent,jdbcType=VARCHAR},
      rule_no = #{ruleNo,jdbcType=VARCHAR},
      solution_content = #{solutionContent,jdbcType=VARCHAR},
      seq = #{seq,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, quality_check_id, draw_no, mark_category, mark_content, rule_no, solution_content, 
    seq
    from five_ed_quality_check_detail
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, quality_check_id, draw_no, mark_category, mark_content, rule_no, solution_content, 
    seq
    from five_ed_quality_check_detail
    <include refid="Base_Where_List" />
    order by seq asc
  </select>
  <sql id="Base_Where_List">
    <where>
      <if test="id != null">
         AND id = #{id}
      </if>
      <if test="qualityCheckId != null">
         AND quality_check_id = #{qualityCheckId}
      </if>
      <if test="drawNo != null and drawNo != ''">
         AND draw_no = #{drawNo}
      </if>
      <if test="markCategory != null and markCategory != ''">
         AND mark_category = #{markCategory}
      </if>
      <if test="markContent != null and markContent != ''">
         AND mark_content = #{markContent}
      </if>
      <if test="ruleNo != null and ruleNo != ''">
         AND rule_no = #{ruleNo}
      </if>
      <if test="solutionContent != null and solutionContent != ''">
         AND solution_content = #{solutionContent}
      </if>
      <if test="seq != null">
         AND seq = #{seq}
      </if>
    </where>
  </sql>
</mapper>