<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cmcu.mcc.five.dao.FiveOaNewsexamineMapper">
  <resultMap id="BaseResultMap" type="com.cmcu.mcc.five.entity.FiveOaNewsexamine">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="form_no" jdbcType="VARCHAR" property="formNo" />
    <result column="business_key" jdbcType="VARCHAR" property="businessKey" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="dept_id" jdbcType="INTEGER" property="deptId" />
    <result column="dept_name" jdbcType="VARCHAR" property="deptName" />
    <result column="send_time" jdbcType="VARCHAR" property="sendTime" />
    <result column="author" jdbcType="VARCHAR" property="author" />
    <result column="author_name" jdbcType="VARCHAR" property="authorName" />
    <result column="author_link" jdbcType="VARCHAR" property="authorLink" />
    <result column="send_man" jdbcType="VARCHAR" property="sendMan" />
    <result column="send_man_name" jdbcType="VARCHAR" property="sendManName" />
    <result column="send_man_link" jdbcType="VARCHAR" property="sendManLink" />
    <result column="publishing_platform" jdbcType="VARCHAR" property="publishingPlatform" />
    <result column="dept_charge_man" jdbcType="VARCHAR" property="deptChargeMan" />
    <result column="dept_charge_man_name" jdbcType="VARCHAR" property="deptChargeManName" />
    <result column="dept_examine_tips" jdbcType="VARCHAR" property="deptExamineTips" />
    <result column="party_comment" jdbcType="VARCHAR" property="partyComment" />
    <result column="party_charge_man" jdbcType="VARCHAR" property="partyChargeMan" />
    <result column="party_charge_man_name" jdbcType="VARCHAR" property="partyChargeManName" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="creator_name" jdbcType="VARCHAR" property="creatorName" />
    <result column="is_deleted" jdbcType="BIT" property="deleted" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="process_instance_id" jdbcType="VARCHAR" property="processInstanceId" />
    <result column="is_process_end" jdbcType="BIT" property="processEnd" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from five_oa_newsexamine
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cmcu.mcc.five.entity.FiveOaNewsexamine">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into five_oa_newsexamine (form_no, business_key, title, 
      dept_id, dept_name, send_time, 
      author, author_name, author_link, 
      send_man, send_man_name, send_man_link, 
      publishing_platform, dept_charge_man, dept_charge_man_name, 
      dept_examine_tips, party_comment, party_charge_man, 
      party_charge_man_name, remark, creator, 
      creator_name, is_deleted, gmt_create, 
      gmt_modified, process_instance_id, is_process_end
      )
    values (#{formNo,jdbcType=VARCHAR}, #{businessKey,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, 
      #{deptId,jdbcType=INTEGER}, #{deptName,jdbcType=VARCHAR}, #{sendTime,jdbcType=VARCHAR}, 
      #{author,jdbcType=VARCHAR}, #{authorName,jdbcType=VARCHAR}, #{authorLink,jdbcType=VARCHAR}, 
      #{sendMan,jdbcType=VARCHAR}, #{sendManName,jdbcType=VARCHAR}, #{sendManLink,jdbcType=VARCHAR}, 
      #{publishingPlatform,jdbcType=VARCHAR}, #{deptChargeMan,jdbcType=VARCHAR}, #{deptChargeManName,jdbcType=VARCHAR}, 
      #{deptExamineTips,jdbcType=VARCHAR}, #{partyComment,jdbcType=VARCHAR}, #{partyChargeMan,jdbcType=VARCHAR}, 
      #{partyChargeManName,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{creator,jdbcType=VARCHAR}, 
      #{creatorName,jdbcType=VARCHAR}, #{deleted,jdbcType=BIT}, #{gmtCreate,jdbcType=TIMESTAMP}, 
      #{gmtModified,jdbcType=TIMESTAMP}, #{processInstanceId,jdbcType=VARCHAR}, #{processEnd,jdbcType=BIT}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.cmcu.mcc.five.entity.FiveOaNewsexamine">
    update five_oa_newsexamine
    set form_no = #{formNo,jdbcType=VARCHAR},
      business_key = #{businessKey,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      dept_id = #{deptId,jdbcType=INTEGER},
      dept_name = #{deptName,jdbcType=VARCHAR},
      send_time = #{sendTime,jdbcType=VARCHAR},
      author = #{author,jdbcType=VARCHAR},
      author_name = #{authorName,jdbcType=VARCHAR},
      author_link = #{authorLink,jdbcType=VARCHAR},
      send_man = #{sendMan,jdbcType=VARCHAR},
      send_man_name = #{sendManName,jdbcType=VARCHAR},
      send_man_link = #{sendManLink,jdbcType=VARCHAR},
      publishing_platform = #{publishingPlatform,jdbcType=VARCHAR},
      dept_charge_man = #{deptChargeMan,jdbcType=VARCHAR},
      dept_charge_man_name = #{deptChargeManName,jdbcType=VARCHAR},
      dept_examine_tips = #{deptExamineTips,jdbcType=VARCHAR},
      party_comment = #{partyComment,jdbcType=VARCHAR},
      party_charge_man = #{partyChargeMan,jdbcType=VARCHAR},
      party_charge_man_name = #{partyChargeManName,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=VARCHAR},
      creator_name = #{creatorName,jdbcType=VARCHAR},
      is_deleted = #{deleted,jdbcType=BIT},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      process_instance_id = #{processInstanceId,jdbcType=VARCHAR},
      is_process_end = #{processEnd,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, form_no, business_key, title, dept_id, dept_name, send_time, author, author_name, 
    author_link, send_man, send_man_name, send_man_link, publishing_platform, dept_charge_man, 
    dept_charge_man_name, dept_examine_tips, party_comment, party_charge_man, party_charge_man_name, 
    remark, creator, creator_name, is_deleted, gmt_create, gmt_modified, process_instance_id, 
    is_process_end
    from five_oa_newsexamine
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, form_no, business_key, title, dept_id, dept_name, send_time, author, author_name, 
    author_link, send_man, send_man_name, send_man_link, publishing_platform, dept_charge_man, 
    dept_charge_man_name, dept_examine_tips, party_comment, party_charge_man, party_charge_man_name, 
    remark, creator, creator_name, is_deleted, gmt_create, gmt_modified, process_instance_id, 
    is_process_end
    from five_oa_newsexamine
    <include refid="Base_Where_List" />
    <include refid="Base_Where_List1" />
     order by id desc
  </select>
  <sql id="Base_Where_List">
    <where>
      <if test="id != null and isLikeSelect==null">
         AND id = #{id}
      </if>
      <if test="formNo != null and isLikeSelect==null and formNo != ''">
         AND form_no = #{formNo}
      </if>
      <if test="businessKey != null and isLikeSelect==null and businessKey != ''">
         AND business_key = #{businessKey}
      </if>
      <if test="title != null and isLikeSelect==null and title != ''">
         AND title = #{title}
      </if>
      <if test="deptId != null and isLikeSelect==null">
         AND dept_id = #{deptId}
      </if>
      <if test="deptName != null and isLikeSelect==null and deptName != ''">
         AND dept_name = #{deptName}
      </if>
      <if test="sendTime != null and isLikeSelect==null and sendTime != ''">
         AND send_time = #{sendTime}
      </if>
      <if test="author != null and isLikeSelect==null and author != ''">
         AND author = #{author}
      </if>
      <if test="authorName != null and isLikeSelect==null and authorName != ''">
         AND author_name = #{authorName}
      </if>
      <if test="authorLink != null and isLikeSelect==null and authorLink != ''">
         AND author_link = #{authorLink}
      </if>
      <if test="sendMan != null and isLikeSelect==null and sendMan != ''">
         AND send_man = #{sendMan}
      </if>
      <if test="sendManName != null and isLikeSelect==null and sendManName != ''">
         AND send_man_name = #{sendManName}
      </if>
      <if test="sendManLink != null and isLikeSelect==null and sendManLink != ''">
         AND send_man_link = #{sendManLink}
      </if>
      <if test="publishingPlatform != null and isLikeSelect==null and publishingPlatform != ''">
         AND publishing_platform = #{publishingPlatform}
      </if>
      <if test="deptChargeMan != null and isLikeSelect==null and deptChargeMan != ''">
         AND dept_charge_man = #{deptChargeMan}
      </if>
      <if test="deptChargeManName != null and isLikeSelect==null and deptChargeManName != ''">
         AND dept_charge_man_name = #{deptChargeManName}
      </if>
      <if test="deptExamineTips != null and isLikeSelect==null and deptExamineTips != ''">
         AND dept_examine_tips = #{deptExamineTips}
      </if>
      <if test="partyComment != null and isLikeSelect==null and partyComment != ''">
         AND party_comment = #{partyComment}
      </if>
      <if test="partyChargeMan != null and isLikeSelect==null and partyChargeMan != ''">
         AND party_charge_man = #{partyChargeMan}
      </if>
      <if test="partyChargeManName != null and isLikeSelect==null and partyChargeManName != ''">
         AND party_charge_man_name = #{partyChargeManName}
      </if>
      <if test="remark != null and isLikeSelect==null and remark != ''">
         AND remark = #{remark}
      </if>
      <if test="creator != null and isLikeSelect==null and creator != ''">
         AND creator = #{creator}
      </if>
      <if test="creatorName != null and isLikeSelect==null and creatorName != ''">
         AND creator_name = #{creatorName}
      </if>
      <if test="deleted != null and isLikeSelect==null">
         AND is_deleted = #{deleted}
      </if>
      <if test="gmtCreate != null and isLikeSelect==null">
         AND gmt_create = #{gmtCreate}
      </if>
      <if test="gmtModified != null and isLikeSelect==null">
         AND gmt_modified = #{gmtModified}
      </if>
      <if test="processInstanceId != null and isLikeSelect==null and processInstanceId != ''">
         AND process_instance_id = #{processInstanceId}
      </if>
      <if test="processEnd != null and isLikeSelect==null">
         AND is_process_end = #{processEnd}
      </if>
      <if test="deptIdList != null and deptIdList.size()>0 and isLikeSelect==null">
        AND (
        dept_id in
        <foreach collection="deptIdList" open="(" close=")" separator="," item="deptId" index="i">
          #{deptId}
        </foreach>
        <if test="initiator != null and initiator != ''">
          or creator = #{initiator}
        </if>
        )
      </if>
    </where>
  </sql>
  <sql id="Base_Where_List1">
    <where>
      <if test="formNo != null and isLikeSelect!= null and formNo != '' ">
         AND form_no like  CONCAT('%',#{formNo},'%')
      </if>
      <if test="businessKey != null and isLikeSelect!= null and businessKey != '' ">
         AND business_key like  CONCAT('%',#{businessKey},'%')
      </if>
      <if test="title != null and isLikeSelect!= null and title != '' ">
         AND title like  CONCAT('%',#{title},'%')
      </if>
      <if test="deptName != null and isLikeSelect!= null and deptName != '' ">
         AND dept_name like  CONCAT('%',#{deptName},'%')
      </if>
      <if test="sendTime != null and isLikeSelect!= null and sendTime != '' ">
         AND send_time like  CONCAT('%',#{sendTime},'%')
      </if>
      <if test="author != null and isLikeSelect!= null and author != '' ">
         AND author like  CONCAT('%',#{author},'%')
      </if>
      <if test="authorName != null and isLikeSelect!= null and authorName != '' ">
         AND author_name like  CONCAT('%',#{authorName},'%')
      </if>
      <if test="authorLink != null and isLikeSelect!= null and authorLink != '' ">
         AND author_link like  CONCAT('%',#{authorLink},'%')
      </if>
      <if test="sendMan != null and isLikeSelect!= null and sendMan != '' ">
         AND send_man like  CONCAT('%',#{sendMan},'%')
      </if>
      <if test="sendManName != null and isLikeSelect!= null and sendManName != '' ">
         AND send_man_name like  CONCAT('%',#{sendManName},'%')
      </if>
      <if test="sendManLink != null and isLikeSelect!= null and sendManLink != '' ">
         AND send_man_link like  CONCAT('%',#{sendManLink},'%')
      </if>
      <if test="publishingPlatform != null and isLikeSelect!= null and publishingPlatform != '' ">
         AND publishing_platform like  CONCAT('%',#{publishingPlatform},'%')
      </if>
      <if test="deptChargeMan != null and isLikeSelect!= null and deptChargeMan != '' ">
         AND dept_charge_man like  CONCAT('%',#{deptChargeMan},'%')
      </if>
      <if test="deptChargeManName != null and isLikeSelect!= null and deptChargeManName != '' ">
         AND dept_charge_man_name like  CONCAT('%',#{deptChargeManName},'%')
      </if>
      <if test="deptExamineTips != null and isLikeSelect!= null and deptExamineTips != '' ">
         AND dept_examine_tips like  CONCAT('%',#{deptExamineTips},'%')
      </if>
      <if test="partyComment != null and isLikeSelect!= null and partyComment != '' ">
         AND party_comment like  CONCAT('%',#{partyComment},'%')
      </if>
      <if test="partyChargeMan != null and isLikeSelect!= null and partyChargeMan != '' ">
         AND party_charge_man like  CONCAT('%',#{partyChargeMan},'%')
      </if>
      <if test="partyChargeManName != null and isLikeSelect!= null and partyChargeManName != '' ">
         AND party_charge_man_name like  CONCAT('%',#{partyChargeManName},'%')
      </if>
      <if test="remark != null and isLikeSelect!= null and remark != '' ">
         AND remark like  CONCAT('%',#{remark},'%')
      </if>
      <if test="creator != null and isLikeSelect!= null and creator != '' ">
         AND creator like  CONCAT('%',#{creator},'%')
      </if>
      <if test="creatorName != null and isLikeSelect!= null and creatorName != '' ">
         AND creator_name like  CONCAT('%',#{creatorName},'%')
      </if>
      <if test="processInstanceId != null and isLikeSelect!= null and processInstanceId != '' ">
         AND process_instance_id like  CONCAT('%',#{processInstanceId},'%')
      </if>
      <if test="deleted != null and isLikeSelect!=null">
         AND is_deleted = #{deleted}
      </if>

      <if test="deptId != null and isLikeSelect!=null">
        AND dept_id = #{deptId}
      </if>

      <if test="deptIdList != null and deptIdList.size()>0 and isLikeSelect!=null">
        AND (
        dept_id in
        <foreach collection="deptIdList" open="(" close=")" separator="," item="deptId" index="i">
          #{deptId}
        </foreach>
        <if test="initiator != null and initiator != ''">
          or creator = #{initiator}
        </if>
        )
      </if>
    </where>
  </sql>
</mapper>